.search-filter-container .form-control {
  height: auto;
  font-size: $font-size-small;
}
.search-icon-wrap {
  width: 1.8rem;
}
.search-icon {
  height: 2.3rem; /* synchronized w/ input field for vertical centering, being an SVG it should not warp */
  left: 10px;
  opacity: 0.7;
  pointer-events: none; /* user clicks should fall through to input field instead */
  position: absolute;
  top: 1px; /* ... see height below... */
  width: 17px;
}

.search-controls {
  display: flex;
  padding-top: 7px;
}

.search-control-separator {
  padding: 0px 8px;
  color: #ccc;
  font-size: 14px;
}

.map-action-link {
  white-space: nowrap;
  font-size: $font-size-small;
  font-weight: 600;

  &:hover {
    text-decoration: none;
  }
}

#map-search.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.selectr-container {
  font-size: $font-size-small;
}

.selectr-selected {
  border: none;
}
