@import "colors";
@import "typography";
@import "icons.data.svg";
@import "filter-styles";
@import "breakpoints";

html {
  height: 100%;
  width: 100%;
}

body {
  background: #fff;
  box-sizing: border-box;
  color: #222;
  font: normal normal normal #{$font-size-default}/ 1.65 "Open Sans",
    "Helvetica", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

.text-pink {
  color: $pink;
}

.content-container {
  margin: 15px auto 40px auto;
  width: 60%;
}

.translated-content {
  display: none; /* hidden until translations load */
}

.header-block {
  background: $blue-dark;

  @media (min-width: $breakpoint-md) {
    position: sticky;
    z-index: 1020;
    top: 0;
  }

  .list-stats-reset {
    color: $text-light;
    font-weight: 600;
  }
  .map-action-link {
    color: $text-light;
  }
}

.logo {
  height: 120px;
  margin-bottom: 15px;
}

.fb-logo {
  height: 1em;
  margin-bottom: 4px;
}

h1 {
  font-weight: 800;
}

h2 {
  color: $text-color;
  font-size: 1.8rem;
  font-weight: 800;
  margin: 30px 0 20px 0;
  text-align: center;
}

hr {
  margin-top: 1.7rem;
}

.social-media-icons {
  margin-top: 1rem;
}

.social-media-icons:after {
  clear: both;
  content: "";
  display: table;
}

.social-media-icon {
  float: left;
  margin-right: 10px;
  width: 24px;
  height: 24px;
  margin-top: 0px;
}

.social-media-icons .icon {
  width: 24px;
  height: 24px;
}

.member-of {
  font-style: italic;
  font-size: 13px;
  margin-bottom: 10px;
}

.subhead {
  margin: 20px auto 40px auto;
  display: flex;
  align-items: center;
  text-align: center;
  width: 55%;
  padding: 10px 20px;
  border-radius: 2px;
}

.subhead-left {
  border-right: 2px solid #ccc;
  font-size: 0.9rem;
  font-weight: light;
  letter-spacing: 3px;
  line-height: 1.8rem;
  text-align: right;
  text-transform: uppercase;
  width: calc(40% + 40px);
}

.subhead-right {
  font-size: $font-size-default;
  text-align: left;
  width: calc(60% + 40px);
}

.question {
  font-weight: bold;
}

.need-ppe {
  background: #fafafa;
  border: 1px solid #ccc;
  margin: 40px 0px;
  padding: 30px 50px;
  text-align: center;
}

.need-ppe h2 {
  margin-top: 0;
}

.ppe-example {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ppe-example img {
  height: 200px;
  width: auto;
}

#masks-img {
  height: 210px;
}

#goggle-img {
  height: 140px;
}

#faceshield-img {
  height: 185px;
}

.ppe-example-caption {
  color: #444;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1.1px;
  margin: 0.9rem 0 0.375rem 0;
  text-transform: uppercase;
}

h2.state {
  background: #eee;
  color: #000;
  font: 800 24px "Roboto";
  letter-spacing: 3px;
  margin: 0;
  padding: 4px 15px;
  text-align: left;
}

h3.city {
  color: #666;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 3px;
  margin: 0 0 0 15px;
  padding: 20px 0;
  text-transform: uppercase;
}

.locations-list h4 {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 5px;
  margin: 0px;
  padding-left: 0;
}

.locations-list p {
  font-size: 0.9rem;
  line-height: 1.5;
}

.location {
  padding-bottom: 20px;
  overflow-wrap: break-word;
}

.location label {
  color: #444;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.donation-sites h1 {
  margin-bottom: -10px;
}

.map-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 58px);

  @media (min-width: $breakpoint-md) {
    position: fixed;
    width: 66.66667%;
    height: calc(100vh - 58px);
  }
}

#map {
  height: 100%;
  width: 100%;
}

#map .label {
  color: #999;
  font-size: 11px;
  font-weight: 400;
  padding: 6px 0 2px 0;
  text-transform: uppercase;
}

#map .value {
  font-weight: 400;
}

.donation-map-title {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}
.donation-map-title h2 {
  display: inline;
  margin: 0;
  padding: 0;
}

.add-donation-site-form {
  line-height: 3;
}

.map-link {
  color: $blue;
  text-decoration: underline;

  &:not([href]) {
    color: $blue;
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
      color: #0056b3;
    }
  }
}

.locations-loading {
  padding-top: 20px;
}

.load-spinner {
  animation: 5s load-spinner infinite linear;
  height: 21px;
  vertical-align: text-top;
  width: 21px;
}

@-webkit-keyframes load-spinner {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes load-spinner {
  100% {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@-ms-keyframes load-spinner {
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
}

.secondarycluster {
  opacity: 0.4;
}

/*********************
  * MAP SEARCH STYLES *
  *********************/

.navbar-brand {
  display: flex;
  min-height: 100%;
  align-items: center;
  flex-direction: row;
  font-weight: 700;
  text-transform: uppercase;
  height: 54px;
}

.navbar-brand .icon {
  height: 42px;
  width: 42px;
  padding-right: 8px;
}

.navbar-brand .text {
  display: inline-block;
  padding: 0.5rem 0;
}

#countries-dropdown .icon,
#countries-dropdown-selector .icon {
  display: inline-block;
  vertical-align: middle;
  height: 24px;
  width: 24px;
  margin-right: 8px;
}

/* Mobile first: Desktop breakpoint overrides below */

@media (max-width: $breakpoint-xs) {
  .map-search-wrap {
    display: block;
  }
  .search-controls {
    justify-content: center;
    padding-top: 5px;
  }
  h2.state {
    padding: 4px 10px;
  }
  h3.city {
    margin-left: 10px;
  }
}

/*************************
  * END MAP SEARCH STYLES *
  *************************/

@media screen and (max-width: $breakpoint-sm) {
  .content-container {
    margin-left: 15px;
    margin-right: 15px;
    width: auto;
  }

  .logo {
    height: 100px;
  }

  .subhead {
    width: 100%;
    padding: 0;
    flex-direction: column;
  }
  .subhead-left {
    border: 0;
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
    text-align: center;
  }
  .subhead-right {
    font-size: 0.9rem;
    width: 80%;
    text-align: center;
  }

  .need-ppe {
    margin-left: 0;
    margin-right: 0;
  }

  #masks-img {
    height: 160px;
  }

  #goggle-img {
    height: 115px;
  }

  #faceshield-img {
    height: 150px;
  }
  .ppe-example-caption {
    margin-top: 4px;
    margin-bottom: 10px;
  }
}

.contact-modal .contact-error {
  font-size: 0.8em;
  color: red;
  text-align: right;
  margin-right: 20px;
}

.contact-modal .contact-success {
  display: none;
  text-align: center;
  height: 5em;
}

.contact-modal #message-text {
  height: 120px;
}

.grey-background {
  border-radius: 5px;
  padding: 1.15ex 1ex 0ex 1ex;
  background-color: #dcdcdc;
}
