@import "colors";
@import "typography";
@import "icons.data.svg";
@import "filter-styles";
@import "breakpoints";
@import "partner-link-icons.data.svg";
@import "legend";
@import "globalAlert";

html {
  height: 100%;
  width: 100%;
}

body {
  background: #fff;
  box-sizing: border-box;
  color: #222;
  font: normal normal normal #{$font-size-default}/ 1.65 "Open Sans",
  "Helvetica", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

.emb-embed {
  flex-direction: column;
  display: flex !important;
  height: 100vh;
}

.embed-main {
  position: relative;
  display: flex;
  height: 100%;
  overflow: hidden;
}

.translated-content {
  display: none; /* hidden until translations load */
}

.locations-loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 10;
  background-color: #fff;
}

footer {
  margin-top: 20px;
  text-align: center;
}

.header-block {
  background: $blue-dark;

  @media (min-width: $breakpoint-md) {
    position: sticky;
    z-index: 1020;
    top: 0;
  }

  .list-stats-reset {
    color: $text-light;
    font-weight: 600;

    .map-action-link {
      color: $text-light;
    }
  }
}

.locations-list {
  height: 100%;
  padding-bottom: 50px;
  overflow-y: scroll;

  @media (min-width: $breakpoint-sm) {
    padding-bottom: 0;
  }
}

.location {
  padding: 1rem;
  overflow-wrap: break-word;
  font-size: $font-size-small;
  border-bottom: 1px solid $border-gray;
  label,
  h5 {
    font-weight: 600;
  }

  &:hover,
  &.highlighted {
    background-color: $gray;
  }

  .entry-zoom-link,
  .entry-partner-link {
    cursor: pointer;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-position: center;
    vertical-align: middle;
    padding: 0 1rem;
  }

  .org-type {
    text-align: right;
  }

  &:last-child {
    border-bottom: none;
  }

  // adds dropdown caret icon to support collapse logic
  & > .d-flex {
    background-image: $icon-dropdown;
    background-repeat: no-repeat;
    background-position: bottom right;
    color: black;
    cursor: pointer;
  }

  .row {
    line-height: $font-size-small;

    p {
      margin-bottom: 0.5rem;
    }
  }

  .map-link {
    color: $blue;
    text-decoration: underline;

    &:not([href]) {
      color: $blue;
      text-decoration: underline;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
        color: #0056b3;
      }
    }
  }
}

.map-container {
  position: relative;
  width: 100%;
  height: 100%;

  #map {
    height: 100%;
    width: 100%;
  }

  #map .label {
    color: #999;
    font-size: 11px;
    font-weight: 400;
    padding: 6px 0 2px 0;
    text-transform: uppercase;
  }

  #map .value {
    font-weight: 400;
  }
}

.navbar-brand {
  display: flex;
  min-height: 100%;
  align-items: center;
  flex-direction: row;
  font-weight: 700;
  text-transform: uppercase;

  .icon {
    height: 48px;
    width: 48px;
    padding-right: 8px;
  }
}

.secondarycluster {
  opacity: 0.4;
}

.contact-modal .contact-error {
  font-size: 0.8em;
  color: red;
  text-align: right;
  margin-right: 20px;
}

.contact-modal .contact-success {
  display: none;
  text-align: center;
  height: 5em;
}

.contact-modal #message-text {
  height: 120px;
}

.emb-col {
  width: 100%;
}

.emb-col-list {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  background-color: #fff;
  transform: translateX(-100%);
  transition: transform 0.2s;

  @media (min-width: $breakpoint-sm) {
    position: relative;
    max-width: 0;
    transform: translateX(0);
  }

  .list-open & {
    transform: translateX(0);

    @media (min-width: $breakpoint-sm) {
      max-width: calc(4 / 12 * 100%);
      transform: none;
    }
  }
}

.emb-col-map {
  max-width: 100%;

  .list-open & {
    @media (min-width: $breakpoint-sm) {
      max-width: calc(8 / 12 * 100%);
    }
  }
}

.emb-toggleListButton {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 2px;
  display: none;
  width: 120px;
  transform: translate(76px, -50%) rotate(90deg);
  border: none;

  @media (min-width: $breakpoint-sm) {
    display: block;
  }
}

.emb-mobileTopFooter {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  padding: 20px;
  background-color: #fff;
}

.emb-toggleButtons {
  justify-content: center;
  display: flex;
  margin: 0 -8px;
  transform: translateX(-50%);

  @media (min-width: $breakpoint-sm) {
    display: none;
  }
}

.emb-toggleButton {
  width: 80px;
  margin: 0 8px;
}
