@import "colors";
@import "typography";
@import "icons.data.svg";
@import "shared-styles";
@import "breakpoints";
@import "partner-link-icons.data.svg";
@import "legend";
@import "globalAlert";

$embed-body-height: 70vh;
$embed-body-height-sm: 35vh;

html {
  height: 100%;
  width: 100%;
}

body {
  background: #fff;
  box-sizing: border-box;
  color: #222;
  font: normal normal normal #{$font-size-default}/ 1.65 "Open Sans",
    "Helvetica", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

.translated-content {
  display: none; /* hidden until translations load */
}

.locations-loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -30px;
  margin-left: -90px;
  z-index: 1020;
}

footer {
  margin-top: 20px;
  text-align: center;
}

.header-block {
  background: $blue-dark;

  @media (min-width: $breakpoint-md) {
    position: sticky;
    z-index: 1020;
    top: 0;
  }

  .list-stats-reset {
    color: $text-light;
    font-weight: 600;

    .map-action-link {
      color: $text-light;
    }
  }
}

.locations-list {
  height: $embed-body-height-sm;
  @media (min-width: $breakpoint-md) {
    height: $embed-body-height;
  }
  overflow-y: scroll;
}

.location {
  padding: 1rem;
  overflow-wrap: break-word;
  font-size: $font-size-small;
  border-bottom: 1px solid $border-gray;
  label,
  h5 {
    @include Font-20-24;

    font-weight: 600;
  }

  &:hover,
  &.highlighted {
    background-color: $gray;
  }

  .org-type {
    text-align: right;
  }

  // adds dropdown caret icon to support collapse logic
  & > .d-flex {
    background-image: $icon-dropdown;
    background-repeat: no-repeat;
    background-position: bottom right;
    color: black;
    cursor: pointer;
  }

  .row {
    line-height: $font-size-small;

    p {
      margin-bottom: 0.5rem;
    }
  }
}

.map-container {
  height: $embed-body-height-sm;

  @media (min-width: $breakpoint-md) {
    height: $embed-body-height;
  }

  #map .label {
    color: #999;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.navbar-brand {
  display: flex;
  min-height: 100%;
  align-items: center;
  flex-direction: row;
  font-weight: 700;
  text-transform: uppercase;
  height: 54px;
  .icon {
    height: 48px;
    width: 48px;
    padding-right: 8px;
  }
}

.secondarycluster {
  opacity: 0.4;
}

.filter-collapse {
  padding: 0.5rem 1rem;
}

// overrides values from shared-styles
#filter-container {
  padding: 0.5rem 1rem;
  top: 38px;
}
