.legend-container {
  background: $text-light;
  padding: 0.5rem;
  margin: 0.25rem;
  font: normal normal normal #{$font-size-default}/ 1.55 #{$font-stack-default};

  input {
    margin-right: 0.25rem;
  }
}
