/*
#findthemasks provides this file for partners to style their "callback" links.

Each partner should define a CSS class named .icon-NAME where NAME is the same name used in
linkPartners.js.

The entry below configures callback links for the example partner to display dewv.net's favicon.

See a full working example at https://dewv.net/ftm/test.html
*/

.icon-example {
  background-image: url("https://dewv.net/favicon.ico");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  height: 24px;
  width: 24px;
  cursor: pointer;
}
