// These styles are shared between the main site and the embed

@import "breakpoints";

.search-filter-container .form-control {
  height: auto;
  font-size: $font-size-small;
}
.search-icon-wrap {
  width: 1.8rem;
}
.search-icon {
  height: 2.3rem; /* synchronized w/ input field for vertical centering, being an SVG it should not warp */
  left: 10px;
  opacity: 0.7;
  pointer-events: none; /* user clicks should fall through to input field instead */
  position: absolute;
  top: 1px; /* ... see height below... */
  width: 17px;
}

.map-action-link {
  white-space: nowrap;
  font-size: $font-size-small;
  font-weight: 600;

  &:hover {
    text-decoration: none;
  }
}

#map-search.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.selectr-container {
  font-size: $font-size-small;
}

.selectr-selected {
  border: none;
}

.filter-collapse {
  padding: 1rem 1.25rem;

  .filter-label {
    font-weight: 600;
    font-size: $font-size-small;
  }
}

#filter-container {
  position: absolute;
  z-index: 1;
  background: $blue-light;
  width: 100%;
  left: 0;
  padding: 1rem 2rem;
}

@media (min-width: $breakpoint-sm) {
  .filter-collapse {
    padding: 1rem 2rem;
  }
}

.entry-external-link,
.entry-zoom-link,
.entry-copy-link {
  cursor: pointer;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-position: center;
  vertical-align: middle;
  padding: 0 1rem;
}

#map {
  width: 100%;
  height: 100%;

  .label {
    font-size: $font-size-small;
    padding: 6px 0 2px 0;
  }

  .value {
    font-weight: 400;
  }
}

.map-link {
  color: $blue;
  text-decoration: underline;

  &:not([href]) {
    color: $blue;
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
      color: #0056b3;
    }
  }
}

.map-container {
  position: relative;
  width: 100%;
}

.contact-modal .contact-error {
  font-size: 0.8em;
  color: red;
  text-align: right;
  margin-right: 20px;
}
.contact-modal .contact-success {
  display: none;
  text-align: center;
  height: 5em;
}

.contact-modal #message-text {
  height: 120px;
}
