html {
  height: 100%;
  width: 100%;
}

body {
  background: #fff;
  box-sizing: border-box;
  color: #333;
  font: normal normal normal .875rem/1.55 'Open Sans', 'Helvetica', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
}

p a {
  text-decoration: underline;
}

a {
  color: #4169E1;
  font-weight: 600;
}

.linkified {
  word-break: break-word;
}

.text-pink {
  color: #EC416F;
  font-weight: 600;
}

.bg-dark-blue {
  background: #3E54A1;
}

.translated-content {
  display: none; /* hidden until translations load */
}

.heading-container a {
  color: white;
}

@media screen and ( min-width: 800px ) and ( min-height: 700px )
{
  .search-filter-container {
    position: -webkit-sticky; /* Safari */  
    position: sticky;
    top: -38px;
    z-index: 1;
    background: white;
  }
}

.search-filter-container .bg-dark-blue {
  padding: 2rem !important;
}

.search-filter-container h4 {
  font-weight: 700;
  font-size: 1.375rem;
}

.search-filter-container p {
  font-size: 1rem;
}

.search-filter-container .input-group-text {
  padding-right: .7rem !important;
}

.search-filter-container .form-control {
  height: auto;
  font-size: .875rem;
}

/* even out the spacing between filters... */
.filters-container > *:first-child {
  padding-right: 0 !important;
}

.logo {
  height: 120px;
  margin-bottom: 15px;
}

.fb-logo {
  height: 1em;
  margin-bottom: 4px;
}

.social-media-icons {
  margin-top: 1rem;
}

.social-media-icons:after {
  clear: both;
  content: "";
  display: table;
}

.social-media-icon {
  float:left;
  margin-right: 10px;
  width: 24px;
  height:24px;
  margin-top: 0px;
}

.social-media-icons .icon {
  width: 24px;
  height: 24px;
}

.member-of {
  font-style: italic;
  font-size: .8125rem;
  margin-bottom: 10px;

}

.subhead {
  margin: 20px auto 40px auto;
  display: flex;
  align-items: center;
  text-align: center;
  width: 55%;
  padding: 10px 20px;
  border-radius: 2px;
}

.subhead-left {
  border-right: 2px solid #ccc;
  font-size: 0.9rem;
  font-weight: light;
  letter-spacing: 3px;
  line-height: 1.8rem;
  text-align: right;
  text-transform: uppercase;
  width: calc(40% + 40px);
}

.subhead-right{
  font-size: 1rem;
  text-align: left;
  width: calc(60% + 40px);
}

.question {
  font-weight: bold;
}

.need-ppe {
  background: #fafafa;
  border: 1px solid #ccc;
  margin: 40px 0px;
  padding: 30px 50px;
  text-align: center;
}

.need-ppe h2 {
  margin-top: 0;
}

.ppe-example {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ppe-example img {
  height: 200px;
  width: auto;
}

#masks-img {
  height: 210px;
}

#goggle-img {
  height: 140px;
}

#faceshield-img {
  height: 185px;
}

.ppe-example-caption {
  color: #444;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1.1px;
  margin: 0.9rem 0 0.375rem 0;
  text-transform: uppercase;
}

h2.state {
  background: #eee;
  color: #000;
  font: 800 24px 'Roboto';
  letter-spacing: 3px;
  margin: 0;
  padding: 4px 15px;
  text-align: left;
}

h3.city {
  color: #666;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 3px;
  margin: 0 0 0 15px;
  padding: 20px 0;
  text-transform: uppercase;
}

.locations-container {
  padding: 0 !important;
  margin: 0 !important;
}

.locations-list-header {
  padding: 0 !important;
  margin: 0 !important;
  border-bottom: 1px solid #D4D4D4;
}

.locations-list-header > * {
  padding: 1rem 2rem;
}

.locations-list-header #list-stats {
  font-size: 1rem;
  font-weight: 600;
}

.location {
  border-bottom: 1px solid #D4D4D4;
  padding: 1.5rem 2rem !important;
}

.location .font-weight-bold {
  font-weight: 600 !important;
}

.donation-sites h1 {
  margin-bottom: -10px;
}

.filters-list div {
  display: inline-block;
  margin: 0 3px 3px 0;
}

.filters-list h4 {
  display: block;
  font-size: 1.125rem;
  font-weight: 600;
  margin: 25px 0 20px 0;
}

.filters-list input {
  display: none;
}

.filters-list label {
  background: white;
  border-radius: 5px;
  border: 1px #ccc solid;
  cursor: pointer;
  font-size: 1.125rem;
  min-width: 2.4em;
  padding: 0.3rem;
  text-align: center;
}

.filters-list label:hover {
  background:#7c9bf7;
  border-color: #7c9bf7;
  color: white;
}

.filters-list label.selected {
  background: royalblue;
  border-color: #c2d1ff;
  color: white;
}

.map-container {
  position: relative;
  height: calc(100vh - 58px);
  width: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

#map .separator {
  margin: 10px 0 10px 0;
  padding-top: 2px;
  border-top: 1px solid darkgray;
}

#map .label {
  color: #999;
  font-size: 11px;
  font-weight: 400;
  padding: 6px 0 2px 0;
  text-transform: uppercase;
}

#map .value {
  font-weight: 400
}
#map-stats {
  color: #333;
  font-size: 22px;
  font-weight: 300;
  margin-left: 10px;
  padding-top: 1px;
  text-align: center;
}

.donation-map-title {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}
.donation-map-title h2 {
  display: inline;
  margin: 0;
  padding: 0;
}

.locations-loading {
  padding-top: 20px;
}

.load-spinner {
  animation: 5s load-spinner infinite linear;
  height: 21px;
  vertical-align: text-top;
  width: 21px;
}

@-webkit-keyframes load-spinner {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes load-spinner {
  100% {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@-ms-keyframes load-spinner {
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
}

.secondarycluster {
  opacity: 0.4;
}

/*********************
  * PARTNERS STYLES *
  *********************/
h3.page-subhead {
  background-color: #FDC276;
  padding: 10px;
  display: inline-block;
}

.partner-logos {
  width: 100%;
}

.partner-logo-container {
  display: inline-block;
  margin: 30px;
}


/*********************
  * MAP SEARCH STYLES *
  *********************/

.search-icon-wrap {
  width: 1.8rem;
}

#map-search.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.search-icon {
  height: 2.3rem; /* synchronized w/ input field for vertical centering, being an SVG it should not warp */
  left: 10px;
  opacity: 0.7;
  pointer-events: none; /* user clicks should fall through to input field instead */
  position: absolute;
  top: 1px; /* ... see height below... */
  width: 17px;
}

.map-action-link {
  white-space: nowrap;
  font-size: 14px;
}

.map-action-link:hover {
  text-decoration: none;
}

.map-action-link img {
  padding-right: 5px;
  width: 21px;
  height: 21px;
}

.navbar.ftm {
  background: #4169E1;
  padding: 0 .75rem;
}

.navbar.ftm .nav-link,
.navbar.ftm .btn {
  font-size: 0.9rem;
}

.navbar.ftm .navbar-brand,
.navbar.ftm .add-donation-site-form {
  display: flex;
  min-height: 100%;
  align-items: center;
}

.navbar.ftm .navbar-brand {
  flex-direction: row;
  font-size: inherit;
  font-weight: 700;
  padding: 0;
  text-transform: uppercase;
  height: 54px;
}

.navbar.ftm .navbar-toggler {
  border: 0;
}

.navbar.ftm .navbar-brand .icon {
  height: 42px;
  width: 42px;
  padding-right: 8px;
}

.navbar.ftm .navbar-brand .text {
  display: inline-block;
  font-weight: 700;
}

.navbar.ftm .navbar-nav .nav-link {
  padding: 1rem;
  font-weight: 600;
}

.navbar.ftm .navbar-nav .nav-link:hover {
  background: rgba(255, 255, 255, .1);
}

.navbar.ftm .navbar-nav .home-link {
  cursor: pointer;
}

.navbar.ftm .nav-item.show,
.navbar.ftm .nav-item.show .nav-link:hover {
  background: #3F5CBB;
}

.navbar.ftm .dropdown-menu {
  border: none;
  border-radius: 0;
  margin-top: 0;
}

.navbar.ftm .dropdown-menu,
.navbar.ftm .dropdown-item {
  background: #3F5CBB;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.navbar.ftm .dropdown-item {
  padding: .4rem 1rem;
}

.navbar.ftm .dropdown-item:hover {
  background: #4169E1;
}

.navbar.ftm .btn-addplace {
  color: #fff;
  background: #EC416F;
  white-space: nowrap;
  font-weight: 600;
  margin-left: 1rem;
  padding-left: 1rem;
  padding-right: 1.4rem;
}

.navbar.ftm .btn-addplace:hover {
  background: #F84E7C;
}

.navbar.ftm .btn-addplace .icon,
.icon-requester-pin.icon {
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 18px;
  margin-right: 6px;
  position: relative;
  top: -2px;
  background-size: contain;
  background-position: center;
}

#countries-dropdown .icon,
#countries-dropdown-selector .icon {
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 18px;
  margin-right: 8px;
  position: relative;
  top: -1px;
  background-size: cover;
}

/* Mobile first: Desktop breakpoint overrides below */

@media (min-width: 992px) {
  .map-container {
    position: fixed;
    height: calc(100vh - 58px);
    width: 50%;
  }
}

@media (max-width: 992px) {
  .search-input {
    margin: 0px;
    margin-right: 15px;
  }
  .map-search-wrap {
    padding-top: 4px;
  }

  .navbar.ftm {
    padding: 0;
  }

  .navbar.ftm .navbar-brand {
    margin-left: .5rem;
  }

  .navbar.ftm .navbar-nav .nav-link {
    text-align: center;
    padding: .75rem;
  }

  .navbar.ftm .dropdown-item {
    text-align: center;
  }

  .navbar.ftm .add-donation-site-form {
    padding: 0 1rem .5rem 1rem;
  }

  .navbar.ftm .btn-addplace {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 576px) {
  .map-search-wrap {
    display: block;
  }
  .search-controls {
    justify-content: center;
    padding-top: 5px;
  }
  h2.state {
    padding: 4px 10px;
  }
  h3.city {
    margin-left: 10px;
  }

  .search-filter-container .bg-dark-blue,
  .locations-list-header > *,
  .location
   {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
  }

  .search-filter-container .bg-dark-blue {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }

  .search-filter-container h4 {
    font-size: 20px;
  }

  .search-filter-container p {
    font-size: 15px;
  }
}

/*************************
  * END MAP SEARCH STYLES *
  *************************/

@media screen and (max-width: 768px) {
  .content-container {
    margin-left: 15px;
    margin-right: 15px;
    width: auto;
  }

  .logo {
    height: 100px;
  }

  .subhead {
    width: 100%;
    padding: 0;
    flex-direction: column;
  }
  .subhead-left {
    border: 0;
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
    text-align: center;
  }
  .subhead-right {
    font-size: 0.9rem;
    width: 80%;
    text-align: center;
  }

  .nav-link {
    font-size: 0.7rem;
  }

  .need-ppe {
    margin-left: 0;
    margin-right: 0;
  }

  #masks-img {
    height: 160px;
  }

  #goggle-img {
    height: 115px;
  }

  #faceshield-img {
    height: 150px;
  }
  .ppe-example-caption {
    margin-top: 4px;
    margin-bottom: 10px;
  }
}
/****************
Data-blog hackery
****************/

div.figure{width: 100%; margin-left: auto; margin-right:auto;}
div.caption {
    text-align: left;
    font-style: italic;
    margin: 0 auto;
    max-width: 800px;
    color: #666;
}

div.figure img {
    width: 100%;
    height: auto;
    max-width: 800px;
    margin: 1rem auto 0 auto;
    display: block;
}

.selectr-selected {
  border: none;
}