@import "colors";
@import "typography";
@import "icons.data.svg";
@import "filter-styles";
@import "breakpoints";

html {
  height: 100%;
  width: 100%;
}

body {
  background: #fff;
  box-sizing: border-box;
  color: $text-color;
  font: normal normal normal #{$font-size-default}/ 1.55 #{$font-stack-default};
  height: 100%;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}

p a {
  text-decoration: underline;
}

a {
  color: $blue;
  font-weight: 600;
}

.linkified {
  word-break: break-word;
}

.text-pink {
  color: $pink;
  font-weight: 600;
}

.bg-dark-blue {
  background: $blue-dark;
}

.translated-content {
  display: none; /* hidden until translations load */
}

.heading-container a {
  color: white;
}

@media screen and (min-width: 800px) and (min-height: 700px) {
  .search-filter-container {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: -38px;
    z-index: 1;
    background: white;
  }
}

.search-filter-container .bg-dark-blue {
  padding: 2rem;
}

.search-filter-container h4 {
  font-weight: 700;
  font-size: $heading-size-3;
  margin-bottom: 0.25rem;
}

.search-filter-container p {
  font-size: 1rem;
}

.search-filter-container .input-group-text {
  padding-right: 0.65rem;
}

.search-filter-container .form-control {
  height: auto;
  font-size: $font-size-small;
}

/* even out the spacing between filters... */
.filters-container > *:first-child {
  padding-right: 0;
}

.logo {
  height: 120px;
  margin-bottom: 15px;
}

.fb-logo {
  height: 1em;
  margin-bottom: 4px;
}

.social-media-icons {
  margin-top: 1rem;
}

.social-media-icons:after {
  clear: both;
  content: "";
  display: table;
}

.social-media-icon {
  float: left;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  margin-top: 0px;
}

.social-media-icons .icon {
  width: 25px;
  height: 25px;
}

.member-of {
  font-style: italic;
  font-size: 0.8125rem;
  margin-bottom: 10px;
}

.subhead {
  margin: 20px auto 40px auto;
  display: flex;
  align-items: center;
  text-align: center;
  width: 55%;
  padding: 10px 20px;
  border-radius: 2px;
}

.subhead-left {
  border-right: 2px solid #ccc;
  font-size: 0.9rem;
  font-weight: light;
  letter-spacing: 3px;
  line-height: 1.8rem;
  text-align: right;
  text-transform: uppercase;
  width: calc(40% + 40px);
}

.subhead-right {
  font-size: $font-size-default;
  text-align: left;
  width: calc(60% + 40px);
}

.question {
  font-weight: bold;
}

.need-ppe {
  background: #fafafa;
  border: 1px solid #ccc;
  margin: 40px 0px;
  padding: 30px 50px;
  text-align: center;
}

.need-ppe h2 {
  margin-top: 0;
}

.ppe-example {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ppe-example img {
  height: 200px;
  width: auto;
}

#masks-img {
  height: 210px;
}

#goggle-img {
  height: 140px;
}

#faceshield-img {
  height: 185px;
}

.ppe-example-caption {
  color: #444;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1.1px;
  margin: 0.9rem 0 0.375rem 0;
  text-transform: uppercase;
}

h2.state {
  background: #eee;
  color: #000;
  font: 800 24px "Roboto";
  letter-spacing: 3px;
  margin: 0;
  padding: 4px 15px;
  text-align: left;
}

h3.city {
  color: #666;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 3px;
  margin: 0 0 0 15px;
  padding: 20px 0;
  text-transform: uppercase;
}

.locations-container {
  padding: 0;
  margin: 0;
}

.locations-list-header {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid $border-gray;
}

.locations-list-header > * {
  padding: 1rem 2rem;
}

.locations-list-header #list-stats {
  font-size: $font-size-default;
  font-weight: 600;
}

.location {
  border-bottom: 1px solid $border-gray;
  padding: 1.5rem 2rem;
  font-size: $font-size-small;
}

.location label {
  font-weight: 600;
}

.donation-sites h1 {
  margin-bottom: -10px;
}

.filters-list div {
  display: inline-block;
  margin: 0 3px 3px 0;
}

.filters-list h4 {
  display: block;
  font-size: 1.125rem;
  font-weight: 600;
  margin: 25px 0 20px 0;
}

.filters-list input {
  display: none;
}

.filters-list label {
  background: white;
  border-radius: 5px;
  border: 1px #ccc solid;
  cursor: pointer;
  font-size: 1.125rem;
  min-width: 2.4em;
  padding: 0.3rem;
  text-align: center;
}

.filters-list label:hover {
  background: #7c9bf7;
  border-color: #7c9bf7;
  color: white;
}

.filters-list label.selected {
  background: royalblue;
  border-color: #c2d1ff;
  color: white;
}

.map-container {
  position: relative;
  height: calc(100vh - 58px);
  width: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

#map .separator {
  margin: 10px 0 10px 0;
  padding-top: 2px;
  border-top: 1px solid $border-gray;
}

#map h5 {
  font-family: $font-stack-default;
}

#map .label {
  font-family: $font-stack-default;
  color: $text-color;
  font-size: $font-size-small;
  font-weight: 600;
  padding: 6px 0 2px 0;
}

#map .value {
  font-family: $font-stack-default;
  font-weight: 400;
  font-size: $font-size-small;
  padding-bottom: 6px;
}
#map-stats {
  color: $text-color;
  font-size: 22px;
  font-weight: 300;
  margin-left: 10px;
  padding-top: 1px;
  text-align: center;
}

.donation-map-title {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}
.donation-map-title h2 {
  display: inline;
  margin: 0;
  padding: 0;
}

.map-link {
  color: $blue;
  text-decoration: underline;

  &:not([href]) {
    color: $blue;
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
      color: #0056b3;
    }
  }
}

.locations-loading {
  padding-top: 20px;
}

.load-spinner {
  animation: 5s load-spinner infinite linear;
  height: 21px;
  vertical-align: text-top;
  width: 21px;
}

@-webkit-keyframes load-spinner {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes load-spinner {
  100% {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@-ms-keyframes load-spinner {
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
}

.secondarycluster {
  opacity: 0.4;
}

/*********************
 * Static page styles *
   *********************/

.page-title {
  text-transform: uppercase;
  font-size: $heading-size-1;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

.email-button {
  border: $pink;
  background: $pink;
  padding-left: 2rem;
  padding-right: 2rem;
}

ul.volunteer-list {
  list-style-type: none;
}

dl.volunteer-list {
  dt,
  dd {
    margin-bottom: 0;
  }
}

.regional-team:not(:last-child) {
  border-bottom: 1px solid;
  margin-bottom: 1rem;
}

/*********************
  * Volunteer Icons *
  *********************/
.volunteer-needs {
  background-repeat: no-repeat;
  background-position: left top;
  padding-left: 3rem;
  background-size: 2rem 2rem;

  &.translation {
    background-image: $icon-translation;
  }

  &.tech {
    background-image: $icon-tech;
  }

  &.internationalization {
    background-image: $icon-internationalization;
  }

  &.moderators {
    background-image: $icon-moderators;
  }

  &.outreach {
    background-image: $icon-outreach;
  }

  &.social-media {
    background-image: $icon-social-media;
  }
}

/*********************
  * FAQ STYLES *
  *********************/

.faq-header {
  font-size: $heading-size-3;
  font-weight: 600;
  margin-bottom: 1rem;
}

dl.faq-question {
  .btn-link {
    cursor: pointer;
  }

  & dt {
    &:not(:first-child) {
      border-top: 2px solid $gray;
      padding-top: 0.75rem;
    }

    padding-bottom: 0.75rem;

    h5 {
      font-size: $font-size-default;
      margin: 0;
      background-position: left;
      font-weight: 600;
      padding-left: 1.75rem;
      background-size: 1.5rem 1.5rem;
      background-image: url(/images/icons/dash.svg);
      background-repeat: no-repeat;
      background-position: 0px -3px;
    }

    &:not(.open) h5 {
      background-image: url(/images/icons/plus.svg);
    }
  }
}

/*********************
  * MAP SEARCH STYLES *
  *********************/

.navbar.ftm {
  background: $blue;
  padding: 0 0.75rem;
}

.navbar.ftm .nav-link,
.navbar.ftm .btn {
  font-size: $font-size-small;
}

.navbar.ftm .navbar-brand,
.navbar.ftm .add-donation-site-form,
.navbar.ftm .add-makerspace-form {
  display: flex;
  min-height: 100%;
  align-items: center;
}

.navbar.ftm .navbar-brand {
  flex-direction: row;
  font-size: inherit;
  font-weight: 700;
  padding: 0;
  text-transform: uppercase;
  height: 54px;
}

.navbar.ftm .navbar-toggler {
  border: 0;
}

.navbar.ftm .navbar-brand .icon {
  height: 42px;
  width: 42px;
  padding-right: 8px;
}

.navbar.ftm .navbar-brand .text {
  display: inline-block;
  font-weight: 700;
}

.navbar.ftm .navbar-nav .nav-link {
  padding: 1rem;
  font-weight: 600;
}

.navbar.ftm .navbar-nav .nav-link:hover {
  background: rgba(255, 255, 255, 0.1);
}

.navbar.ftm .navbar-nav .home-link {
  cursor: pointer;
}

.navbar.ftm .nav-item.show,
.navbar.ftm .nav-item.show .nav-link:hover {
  background: #3f5cbb;
}

.navbar.ftm .dropdown-menu {
  border: none;
  border-radius: 0;
  margin-top: 0;
}

.navbar.ftm .dropdown-menu,
.navbar.ftm .dropdown-item {
  background: #3f5cbb;
  color: #fff;
  font-size: $font-size-small;
  font-weight: 600;
}

.navbar.ftm .dropdown-item {
  padding: 0.4rem 1rem;
}

.navbar.ftm .dropdown-item:hover {
  background: $blue;
}

.navbar.ftm .btn-addplace {
  color: #fff;
  background: $pink;
  white-space: nowrap;
  font-weight: 600;
  margin-left: 1rem;
  padding-left: 1rem;
  padding-right: 1.4rem;
}

.navbar.ftm .btn-addplace:hover {
  background: #f84e7c;
}

.navbar.ftm .btn-addplace .icon,
.icon-requester-pin.icon {
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 18px;
  margin-right: 6px;
  position: relative;
  top: -2px;
  background-size: contain;
  background-position: center;
}

.navbar.ftm .xlink {
  display: flex;
  min-height: 100%;
  align-items: center;
}

.navbar.ftm .btn-xlink {
  color: #000;
  background: #fdc276;
  white-space: nowrap;
  font-weight: 600;
  margin-left: 1rem;
  padding-left: 1rem;
  padding-right: 1.4rem;
}

.navbar.ftm .btn-xlink:hover {
  background: #fdd197;
}

.navbar.ftm .btn-xlink .icon,
.icon-ftmakers_logo.icon {
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 6px;
  position: relative;
  top: -2px;
  background-size: contain;
  background-position: center;
}

#countries-dropdown .icon,
#countries-dropdown-selector .icon {
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 18px;
  margin-right: 8px;
  position: relative;
  top: -1px;
  background-size: cover;
}

/*********************
  * PARTNERS STYLES *
  *********************/

.content section {
  margin-bottom: 2rem;
}

.page-subhead {
  font-size: $heading-size-3;
  background-color: $yellow;
  padding: 5px 8px;
  display: inline-block;
  margin-bottom: 1rem;
}

.partner-logos {
  width: 100%;
}

.partner-logos-large {
  .partner-logo-container {
    text-align: center;
  }
}

.partner-logos-small {
  .partner-logo-container {
    width: 49%;
  }
}

.partner-logo-container {
  display: inline-block;
  padding: 1.5rem;

  img {
    width: 100%;
  }
}

/* Mobile first: Desktop breakpoint overrides below */

@media (min-width: $breakpoint-md) {
  /*********************
  * PARTNERS STYLES *
  *********************/

  .partner-logos-large {
    .partner-logo-container {
      width: 33%;
      text-align: center;
    }
  }

  .partner-logos-small {
    .partner-logo-container {
      width: 19.6%;
    }
  }

  .map-container {
    position: fixed;
    height: calc(100vh - 58px);
    width: 50%;
  }
}

@media (max-width: $breakpoint-md) {
  .search-input {
    margin: 0px;
    margin-right: 15px;
  }

  .navbar.ftm {
    padding: 0;
  }

  .navbar.ftm .navbar-brand {
    margin-left: 0.5rem;
  }

  .navbar.ftm .navbar-nav .nav-link {
    text-align: center;
    padding: 0.75rem;
  }

  .navbar.ftm .dropdown-item {
    text-align: center;
  }

  .navbar.ftm .add-donation-site-form {
    padding: 0 1rem 0.5rem 1rem;
  }

  .navbar.ftm .btn-addplace {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: $breakpoint-xs) {
  .search-controls {
    justify-content: center;
    padding-top: 5px;
  }
  h2.state {
    padding: 4px 10px;
  }
  h3.city {
    margin-left: 10px;
  }

  .search-filter-container .bg-dark-blue,
  .locations-list-header > *,
  .location {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .search-filter-container .bg-dark-blue {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .search-filter-container h4 {
    font-size: $heading-size-3-mobile;
  }

  .search-filter-container p {
    font-size: $font-size-small;
  }
}

/*************************
  * END MAP SEARCH STYLES *
  *************************/

@media screen and (max-width: $breakpoint-sm) {
  .content-container {
    margin-left: 15px;
    margin-right: 15px;
    width: auto;
  }

  .logo {
    height: 100px;
  }

  .subhead {
    width: 100%;
    padding: 0;
    flex-direction: column;
  }
  .subhead-left {
    border: 0;
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
    text-align: center;
  }
  .subhead-right {
    font-size: 0.9rem;
    width: 80%;
    text-align: center;
  }

  .nav-link {
    font-size: 0.7rem;
  }

  .need-ppe {
    margin-left: 0;
    margin-right: 0;
  }

  #masks-img {
    height: 160px;
  }

  #goggle-img {
    height: 115px;
  }

  #faceshield-img {
    height: 150px;
  }
  .ppe-example-caption {
    margin-top: 4px;
    margin-bottom: 10px;
  }
}
/****************
Data-blog hackery
****************/

div.figure {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
div.caption {
  text-align: left;
  font-style: italic;
  margin: 0 auto;
  max-width: 800px;
  color: #666;
}

div.figure img {
  width: 100%;
  height: auto;
  max-width: 800px;
  margin: 1rem auto 0 auto;
  display: block;
}

.contact-modal .contact-error {
  font-size: 0.8em;
  color: red;
  text-align: right;
  margin-right: 20px;
}

.contact-modal .contact-success {
  display: none;
  text-align: center;
  height: 5em;
}

.contact-modal #message-text {
  height: 120px;
}
