// typefaces
$font-stack-default: "Open Sans", "Helvetica", sans-serif;

// body font sizes

$font-size-xs: 0.67rem;
$font-size-small: 0.875rem; // 14px
$font-size-default: 1rem; // 16px

// heading font sizes

$heading-size-1: 2.125rem; // 34px
$heading-size-2: 1.75rem; // 28px
$heading-size-3: 1.25rem; // 22px

$heading-size-1-mobile: 1.5rem; // 24px
$heading-size-2-mobile: 1.25rem; // 20px
$heading-size-3-mobile: 1.125rem; // 18px

.text-pink {
  color: $pink;
  font-weight: 600;
}
