<section id="section-makers">
  <h4 class="i18n faq-header" data-i18n="ftm-faq-makerspace-header">Makerspace Community FAQs</h4>
  <dl class="faq-question">
    <dt class="btn-link" id="ftm-faq-makerspace-how-to-help">
      <h5 class="i18n" data-i18n="ftm-faq-makerspace-how-to-help">
        I make handmade masks, 3D-print face shields, or am part of a makerspace community! How can I help?
      </h5>
    </dt>
    <dd class="collapse">
      <p class="i18n" data-i18n="ftm-faq-makerspace-how-to-help-answer-1">
        First of all, amazing! Thank you for taking the time to make new PPE supplies!
      </p>
      <p class="i18n" data-i18n="ftm-faq-makerspace-how-to-help-answer-2">
        Please use our map to help you identify frontline sites requesting PPE that will accept non-medical grade
        donations. You can use our filter menus to find sites that accept homemade or makerspace items.
      </p>
    </dd>
    <dt class="btn-link" id="ftm-faq-makerspace-add-to-map">
      <h5 class="i18n" data-i18n="ftm-faq-makerspace-add-to-map">
        Since my makerspace or maker group is producing PPE, how can we get added to the map so that requesters and
        individual makers can find us?
      </h5>
    </dt>
    <dd class="collapse">
      <p class="i18n" data-i18n="[html]ftm-faq-makerspace-add-to-map-answer">Thank you for your contributions! We are so
        grateful for
        spaces filling the PPE needs of frontline workers and community members. Please fill out our
        <a href="https://airtable.com/shruH5B27UP3PqKgg">Makers Form</a> to join
        the map. We are verifying all maker groups, so the survey will ask for a dated photo of the product you are
        producing. Please attach that in the survey at the prompt.
      </p>
    </dd>
    <dt class="btn-link" id="ftm-faq-makerspace-individual">
      <h5>I am an individual maker or volunteer with limited ability to produce PPE, but I’d love to help out. What can
        I do?</h5>
    </dt>
    <dd class="collapse">
      <p class="i18n" data-i18n="[html]ftm-faq-makerspace-individual-answer">
        We are so glad you asked! FindtheMakers map was created to match community efforts and need. Please search
        within your local area. Makerspaces and maker groups have noted whether they are accepting volunteers. For those
        that are, please reach out using the contact method they provided. Spaces will need all types of volunteer
        support, including production and runners to make drop-offs.
      </p>
    </dd>
    <dt class="btn-link" id="ftm-faq-sites-non-medical-grade">
      <h5 class="i18n" data-i18n="ftm-faq-sites-non-medical-grade">Why don't all sites allow non-medical grade
        items?</h5>
    </dt>
    <dd class="collapse">
      <p class="i18n" data-i18n="ftm-faq-sites-non-medical-grade-answer-1">
        As much as our recipients need PPE, they must also manage the risk incurred by using
        non-medical grade items. Many institutions do not have the resources to vet all of the
        contributions they receive from various donors, and some are more comfortable only using
        the medical-grade items that they are familiar with and know they can rely on.
      </p>
      <p class="i18n" data-i18n="ftm-faq-sites-non-medical-grade-answer-2">
        To ensure that your contributions are not wasted, please filter healthcare providers by "handmade" or
        "makerspace" items to locate the ones that can use your contribution!
      </p>
    </dd>
    <dt class="btn-link" id="ftm-faq-makerspace-partners">
      <h5 class="i18n" data-i18n="ftm-faq-makerspace-partners">Who are #findthemasks Makers
        partners?</h5>
    </dt>
    <dd class="collapse">
      <p class="i18n" data-i18n="[html]ftm-faq-makerspace-partners-answer-1">
        Our <a href="https://findthemakers.com">#findthemakers</a> is in partnership with
        <a href="https://www.nationofmakers.us/">Nation of Makers</a>. Nation of Makers is
        a national nonprofit supporting America’s maker organizations through community
        building, resource sharing, and advocacy, within the maker movement and beyond. Nation
        of Makers is supporting maker organizations during the COVID-19 crisis by connecting
        them to facilities that need PPE, identifying suppliers (and discounts) for maker
        groups fabricating PPE, and identifying funding sources for groups producing PPE. They
        are also collating <a href="https://www.nationofmakers.us/covid-19-maker-response">
          resources for makers responding to COVID-19</a>.
      </p>
      <p class="i18n" data-i18n="[html]ftm-faq-makerspace-partners-answer-2">
        #findthemasks works with <a href="https://shield-net.org/">Shield Net</a>, a group
        that matches organizations in need of medical face shields with manufacturers that
        produce them. They have amassed a wide network of university makerspaces and
        commercial manufacturers who are making face shields based on their
        <a href="https://making.engr.wisc.edu/shield/">open-source design</a>.
      </p>
    </dd>
    <dt class="btn-link" id="ftm-faq-independent-makerspace">
      <h5 class="i18n" data-i18n="ftm-faq-independent-makerspace">
        I'm an independent maker, how do I join a Maker Group or network?
      </h5>
    </dt>
    <dd class="collapse">
      <p class="i18n" data-i18n="[html]ftm-faq-independent-makerspace-answer-1">
        If you are an individual marker, we encourage you to use the #FindtheMakers map to
        Connect with a makerspace or maker group in your community. We encourage this collaborative interaction to avoid
        pinning your home and protect your privacy.
      </p>
      <p class="i18n" data-i18n="[html]ftm-faq-independent-makerspace-answer-2">
        If you are a makerspace or maker group of any size, join the #FindtheMakers map
        <a href="https://airtable.com/shruH5B27UP3PqKgg">here</a>.
      </p>
      <p class="i18n" data-i18n="[html]ftm-faq-independent-makerspace-answer-4">
        <strong>CA Only</strong>: Find the Masks Canada also collaborates with #thePPEDrive’s
        call for <a href="https://theppedrive.com/3d-printed-visor">3D printers</a>. Join
        their network to donate 3D-printed face shields.
      </p>
    </dd>
  </dl>
</section>
