<div class="social-media-icons">
  <div class="social-media-icon" data-social-type="facebook">
    <a class="fb-xfbml-parse-ignore" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.findthemasks.com%2F&amp;src=sdkpreparse','popup', 'width=600,height=800');return false;" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.findthemasks.com%2F&amp;src=sdkpreparse">
      <img src="images/facebook.svg" border="0" />
    </a>
  </div>
  <div class="social-media-icon" data-social-type="instagram">
    <a target="_blank" href="https://www.instagram.com/findthemasks/">
      <img src="images/instagram.svg" border="0"  />
    </a>
  </div>
  <div class="social-media-icon" data-social-type="twitter">
    <a class="twitter-share-button" target="_blank" href="">
      <img src="images/twitter.svg" border="0"  />
    </a>
  </div>
  <div class="social-media-icon" data-social-type="reddit">
    <a target="_blank"
        href="https://www.reddit.com/search?q=findthemasks">
      <img src="images/reddit.svg" border="0"  />
    </a>
  </div>
</div>
