<nav class="navbar sticky-top navbar-expand-lg navbar-top navbar-dark ftm">
  <ul class="navbar-nav navbar-brand">
    <li class="nav-item">
      <div class="icon icon-ftm_logo" />
    </li>
    <li class="nav-item">
      <span class="text">Find The Masks</span>
    </li>
  </ul>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="countries-dropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </a>
        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="countries-dropdown"
              id="countries-dropdown-selector">
        </div>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="locales-dropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </a>
        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="locales-dropdown"
              id="locales-dropdown-selector">
        </div>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link i18n" data-i18n="ftm-nav-about" href="javascript:;" onclick="window.location='whoweare.html'+window.location.search;">About</a>
      </li>
      <!-- Partners + Volunteer pages aren't ready yet
      <li class="nav-item active">
        <a class="nav-link i18n" data-i18n="ftm-nav-partners" href="#">Partners</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link i18n" data-i18n="ftm-nav-volunteer" href="#">Volunteer</a>
      </li>
      -->
      <li class="nav-item">
        <a href="#" class="add-donation-site-form">
          <button class="btn btn-addplace my-2 my-sm-0" type="button"><div class="icon icon-add_place"></div><span class="i18n" data-i18n="ftm-nav-addplace">Add a place</span></button>
        </a>
      </li>
    </ul>
  </div>
</nav>
