{
  // Javascript settings.
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "chrome": "60",
        "ie": "11"
      },
      "modules" : false,
      "useBuiltIns": false
    }]
  ]
}
