html {
  box-sizing: border-box;
  font-size: 24px; /* fallback font size */
  font-size: min(max(16px, 4vw), 24px); /* responsive font size */

  --mainBg: #fbfbfb;
  --textHighEmph: hsla(0, 0%, 0%, .87);
  --textMedEmph: hsla(0, 0%, 0%, .75);
}

*, *:before, *:after {
  box-sizing: inherit;
}

@media (prefers-reduced-motion: reduce) { /* remove all animations and transitions for people who prefer not to see them */
  * {
    animation-play-state: paused;
    transition: none;
    scroll-behavior: auto;
  }
}

html, body {
  height: 100%;
}

body {
  margin: 20px;
  background-color: var(--mainBg);
  color: var(--textHighEmph);
  font-family: 'Roboto', sans-serif;
  padding: 20px 0;
  font-weight: normal;
  line-height: 1.5;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

@media screen and (min-width: 600px) {
  body {
    margin: 40px;
  }
}

.content {
  display: grid;
}

.container {
  display: grid;
}

.maxWidth {
  max-width: 66ch;
}

.addTopMargin {
  margin-top: 20px;
}

.gridCenter {
  justify-self: center;
}

.visual {
  margin: 1rem 0;
}

.gridJustStart {
  justify-self: start;
}

.bigger {
  font-size: 1.25rem;
}

.embold {
  font-weight: bold;
}

.pic {
  max-width: 100%;
  max-height: 92vh;
  height: auto;
  object-fit: scale-down;
}

.centerText {
  text-align: center;
}

.addMoreTopMargin {
  margin-top: 1.5rem;
}

.marginBottomZero {
  margin-bottom: 0;
}

.marginTopZero {
  margin-top: 0;
}

.medEmph {
  color: var(--textMedEmph);
}

.end {
  margin-bottom: 80px;
}
