<script src="/generated/faq.entry.js?v=v{{ version }}"></script>

<main class="translated-content content container my-5">
  <!-- TODO put table of contents here -->
  <div class="row flex-lg-row no-gutters">
    <div class="col-12">
      <h1 class="i18n page-title" data-i18n="ftm-faqs-header">Frequently Asked Questions (FAQ)</h1>
    </div>
    <div class="col-12 col-lg-8">
      <section>
        <h4 class="i18n faq-header" data-i18n="ftm-faq-basic-faqs-header">Basic FAQs</h4>
        <dl class="faq-question">
          <dt class="btn-link open">
            <h5 class="i18n" data-i18n="ftm-faq-what-is-ppe">What is PPE?</h5>
          </dt>
          <dd class="collapse show">
            <p class="i18n" data-i18n="ftm-faq-what-is-ppe-answer">Personal protective
              equipment (PPE)
              is protective clothing, goggles, or other equipment designed to protect the wearer from
              injury or infection. In this case, we are looking for PPE to protect our frontline
              healthcare workers from infection by COVID-19.</p>
          </dd>

          <dt class="btn-link">
            <h5 class="i18n" data-i18n="ftm-faq-what-ppe-needed">What PPE is needed?</h5>
          </dt>
          <dd class="collapse">
            <p class="i18n" data-i18n="ftm-faq-what-ppe-needed-answer">
              Each site is unique! Our request sites are looking for many kinds of equipment, including
              N95 masks, safety goggles, bunny suits, face shields, gowns, and disposable booties. Many
              sites have requested additional items such as hand sanitizer, thermometers, and
              walkie-talkies.
              Each listing has a complete list of items that they need, as well as whether they accept
              open packages or non-medical grade items. Refer to the card to see if you have something
              that a healthcare worker needs!
              Some sites have requested homemade masks and 3D-printed or makerspace items. If you are
              part of a makerspace community or can contribute homemade items, see our Makerspace
              Community FAQ.
            </p>
          </dd>
          <dt class="btn-link">
            <h5 class="i18n" data-i18n="ftm-faq-who-donating-to">Who am I donating to?</h5>
          </dt>
          <dd class="collapse">
            <p class="i18n" data-i18n="ftm-faq-who-donating-to-answer">
              Our website includes Level I Trauma Centers across the country, but we also feature a
              broader scope of healthcare providers (HCPs) such as community healthcare clinics,
              long-term care facilities, blood banks, shelters, and more.
              We are committed to getting PPE to all of our frontline workers during the pandemic. For
              more information on the full list of HCPs we support, check out our wiki.
            </p>
          </dd>
          <dt class="btn-link">
            <h5 class="i18n" data-i18n="ftm-faq-vet-requires-ppe">How do you know these sites require
              PPE?</h5>
          </dt>
          <dd class="collapse">
            <p class="i18n" data-i18n="ftm-faq-vet-requires-ppe-answer">
              Healthcare providers, administrators, or regional Partners in need of PPE have filled out our PPE
              request form. After the form is submitted, our dedicated data team moderates every single request
              before
              publishing it to our site.</p>
          </dd>
          <dt class="btn-link">
            <h5 class="i18n" data-i18n="ftm-add-donation-site-question">
              Do you work in a hospital or clinic and need PPE? Want to update or remove information?
            </h5>
          </dt>
          <dd class="collapse">
            <div class="i18n" data-i18n="[html]ftm-add-donation-site-answer">
              <a
                href="https://docs.google.com/forms/d/e/1FAIpQLSfgCpK5coPVFC6rJrE7ZhimiZuDoEaL6fo6gYqxsN_FIpJZhg/viewform">
                <button type="button" class="btn btn-primary">Complete this form</button>
              </a>
            </div>
          </dd>
        </dl>
      </section>

      <section>
        <h4 class="i18n faq-header" data-i18n="ftm-faq-ppe-contributor-header">PPE Contributor FAQs</h4>
        <dl class="faq-question">
          <dt class="btn-link">
            <h5 class="i18n" data-i18n="ftm-what-to-do-header">How to Donate PPE</h5>
          </dt>
          <dd class="collapse">
            <p class="i18n" data-i18n="ftm-volunteer-network">
              Our network of volunteers has created a global map of over 1700+ locations, like hospitals
              and
              clinics, where you can donate your masks, gowns, and other PPE.
            </p>
            <ol>
              <li class="i18n" data-i18n="[html]ftm-what-to-do-1"><b>Use our map</b> below to find a
                hospital
                or health center near you accepting donations.
              </li>
              <li class="i18n" data-i18n="[html]ftm-what-to-do-2"><b>Follow their instructions</b> for
                what
                they accept and how to drop it off.
              </li>
              <li class="i18n" data-i18n="[html]ftm-what-to-do-3"><b>If you are donating opened
                  packages</b>,
                please put them in a ziploc bag with a note saying whether they have been used, whether
                anyone
                in your household has been sick or travelled outside the country, and the expiration
                date if
                known.
              </li>
            </ol>
          </dd>
          {{> (lookup . 'maskMatchPartialPath') }}
          <dt class="btn-link">
            <h5 class="i18n" data-i18n="ftm-faq-open-packages">What if I have open packages of PPE?</h5>
          </dt>
          <dd class="collapse">
            <p class="i18n" data-i18n="ftm-faq-open-packages-answer-1">
              If you are donating opened packages, make sure the receiving site accepts them! Each
              contact card will indicate this information. When you're ready, place the opened packages
              in a ziploc bag and include a note with the following information:
            </p>
            <ul>
              <li class="i18n" data-i18n="ftm-faq-open-packages-answer-2">
                Under what conditions have they been stored? Backyard paint job? Construction? Art?
                Other? Let the requesting site know so they can provide it to the correct unit (regular
                hospital use vs. ICU).
              </li>
              <li class="i18n" data-i18n="ftm-faq-open-packages-answer-3">
                Whether anyone in your household has been sick, travelled, or come in contact with
                someone who has travelled in the last 14-days.
              </li>
              <li class="i18n" data-i18n="ftm-faq-open-packages-answer-4">
                The expiration date, if known.
              </li>
            </ul>
          </dd>
          {{> (lookup . 'largeDonationSitesPartialPath') }}
          <dt class="btn-link">
            <h5 class="i18n" data-i18n="ftm-faq-how-decide-location">
              How do I decide which location to donate to?
            </h5>
          </dt>
          <dd class="collapse">
            <p class="i18n" data-i18n="ftm-faq-how-decide-location-answer-1">
              If you're looking for a place to start, we suggest entering your address or city into our
              search tool to find donation sites near you. You can also filter listings to see sites
              that are looking for the PPE items that you can contribute.
            </p>
            <p class="i18n" data-i18n="ftm-faq-how-decide-location-answer-2">
              Make sure that you read each site's donation instructions carefully; some sites will
              accept open packages or homemade items, while others do not!
            </p>
            <p class="i18n" data-i18n="ftm-faq-how-decide-location-answer-3">
              Once you've found a few possible sites, choose one that aligns with your values and
              donation size. There are a wide variety of sites that need PPE, and ultimately, the choice
              is yours. You will be helping protect our frontline healthcare workers no matter which you
              choose!
            </p>
          </dd>
          <dt class="btn-link">
            <h5 class="i18n" data-i18n="ftm-cant-find-donation-site-question">
              Can't find a donation site near you?
            </h5>
          </dt>
          <dd class="collapse">
            <p class="i18n" data-i18n="ftm-cant-find-donation-site-answer">
              Not a problem! Some PPE requests include mailing addresses. Find a request site that
              accepts mail-in donations, and follow the instructions for that site.
            </p>
          </dd>
          <dt class="btn-link">
            <h5 class="i18n" data-i18n="ftm-faq-how-to-help">How else can I help?</h5>
          </dt>
          <dd class="collapse">
            <p class="i18n" data-i18n="ftm-faq-how-to-help-answer-1">
              We would love it if you helped us share our project on social media and within your
              networks! Sharing our site helps new healthcare providers find us, and it helps our
              healthcare providers connect with more potential PPE contributors!
            </p>
            <p class="i18n" data-i18n="[html]ftm-faq-how-to-help-answer-2">
              <!-- TODO i18n volunteers URL -->
              Join our amazing team of volunteers at <a href="https://findthemasks.com/volunteer">here</a>
            </p>
          </dd>
        </dl>
      </section>

      <section>
        <h4 class="i18n faq-header" data-i18n="ftm-faq-ppe-recipients-header">FAQs for PPE Recipients</h4>
        <dl class="faq-question">
          <dt class="btn-link">
            <h5 class="i18n" data-i18n="ftm-faq-request-processing-length">
              How long will it take for my request to be processed?
            </h5>
          </dt>
          <dd class="collapse">
            <p class="i18n" data-i18n="ftm-faq-request-processing-length-answer">
              After you submit the PPE request form, our volunteer team of data moderators check every
              submission before publishing your request to our map and directory. In some cases, this
              can happen as quickly as a few minutes after submission! On average, it takes about two
              hours for a listing to be published.
            </p>
          </dd>
          <dt class="btn-link">
            <h5 class="i18n" data-i18n="ftm-faq-my-data">
              What happens to my data? Who owns the data that I submit?
            </h5>
          </dt>
          <dd class="collapse">
            <p class="i18n" data-i18n="ftm-faq-my-data-answer-1">
              We collect the information that you provide to us when you fill out our PPE request form.
              The information regarding PPE recipient sites will be published on our public website for
              anyone to see and use. We also request an email and a phone number that we do not disclose
              publicly, so that we may contact the user in case we need to elaborate the post, seek
              feedback or request a collaboration. We may process your data or share personal
              information with vendors, consultants, or other third-party service providers.
            </p>
            <p class="i18n" data-i18n="[html]ftm-faq-my-data-answer-2">
              For more information, please see our<a href="https://findthemasks.com/privacy-policy">Privacy
                Policy</a>
            </p>
          </dd>
          <dt class="btn-link">
            <h5 class="i18n" data-i18n="ftm-faq-listing-not-shown">
              I submitted a listing but it hasn't shown up yet. What should I do?
            </h5>
          </dt>
          <dd class="collapse">
            <p class="i18n" data-i18n="[html]ftm-faq-listing-not-shown-answer">
              If it has been less than 4 hours, hang tight! We sometimes get surges of requests, and our
              data moderators may be working through the backlog. If it has been more than 12 hours,
              email <a href="mailto:contact@findthemasks.com">contact@findthemasks.com</a>.
            </p>
          </dd>
        </dl>
      </section>

      <section id="section-makers">
        <h4 class="i18n faq-header" data-i18n="ftm-faq-makerspace-header">Makerspace Community FAQs</h4>
        <dl class="faq-question">
          <dt class="btn-link">
            <h5 class="i18n" data-i18n="ftm-faq-makerspace-how-to-help">
              I make handmade masks, 3D-print face shields, or am part of a makerspace community! How
              can I help?
            </h5>
          </dt>
          <dd class="collapse">
            <p class="i18n" data-i18n="ftm-faq-makerspace-how-to-help-answer-1">
              First of all, amazing! Thank you for taking the time to make new PPE supplies!
            </p>
            <p class="i18n" data-i18n="ftm-faq-makerspace-how-to-help-answer-2">
              Please use our map to help you identify frontline sites requesting PPE that allow non-medical grade
              donations. You can use our "PPE needed" filter to select "homemade" or "makerspace" items, which will
              show
              you the locations that can receive your items.
            </p>
          </dd>
          <dt class="btn-link">
            <h5 class="i18n" data-i18n="ftm-faq-sites-non-medical-grade">Why don't all sites allow non-medical grade
              items?</h5>
          </dt>
          <dd class="collapse">
            <p class="i18n" data-i18n="ftm-faq-sites-non-medical-grade-answer-1">
              As much as our recipients need PPE, they must also manage the risk incurred by using
              non-medical grade items. Many institutions do not have the resources to vet all of the
              contributions they receive from various donors, and some are more comfortable only using
              the medical-grade items that they are familiar with and know they can rely on.
            </p>
            <p class="i18n" data-i18n="ftm-faq-sites-non-medical-grade-answer-2">
              To ensure that your contributions are not wasted, please filter healthcare providers by "handmade" or
              "makerspace" items to locate the ones that can use your contribution!
            </p>
          </dd>
          <dt class="btn-link">
            <h5 class="i18n" data-i18n="ftm-faq-sites-ftm-maker-partners">Who are #findthemasks Makers partners?</h5>
          </dt>
          <dd class="collapse">
            <p class="i18n" data-i18n="[html]ftm-faq-sites-ftm-maker-partners-answer-1">
              Our <a href="https://findthemakers.com">#findthemakers</a> is in partnership with <a href="http://www.nationofmakers.us">Nation of Makers</a>. Nation of Makers is a national nonprofit 
              supporting America’s maker organizations through community building, resource sharing, and advocacy, 
              within the maker movement and beyond. Nation of Makers is supporting maker organizations during the 
              COVID-19 crisis by connecting them to facilities that need PPE, identifying suppliers (and discounts) 
              for maker groups fabricating PPE, and identifying funding sources for groups producing PPE. They are 
              also collating <a href="https://www.nationofmakers.us/covid19">resources for makers responding to COVID-19</a>.
            </p>
            <p class="i18n" data-i18n="[html]ftm-faq-sites-ftm-maker-partners-answer-2">
              #findthemasks works with <a href="https://shield-net.org/">Shield Net</a>, a group that matches organizations in need of medical face 
              shields with manufacturers that produce them. They have amassed a wide network of university makerspaces 
              and commercial manufacturers who are making face shields based on <a href="https://making.engr.wisc.edu/shield/">their open-source design</a>.
            </p>
          </dd>
          <dt class="btn-link">
            <h5 class="i18n" data-i18n="ftm-faq-sites-ftm-maker-partners-join">I’m an independent maker, how do I join a Maker Group or network?</h5>
          </dt>
          <dd class="collapse">
            <p class="i18n" data-i18n="[html]ftm-faq-sites-ftm-maker-partners-join-answer">
             If you are a maker, makerspace, or maker group of any size, join the <a href="https://airtable.com/shruH5B27UP3PqKgg">#findtheMakers map </a>! 
             <br>If you would like to purchase face shields at-cost, fill out the Shield Net <a href="https://shield-net.org/">Request Form</a>. 
             <br>Shield Net only supplies face shields; for other PPE needs, fill out our #findthemasks <a class="add-donation-site-form">PPE request form</a>. 
            </p>
          </dd>
        </dl>
      </section>
    </div>

    <div class="col-12 col-lg-3 offset-lg-1">
      <h5 class="page-subhead" data-i18n="ftm-faq-still-have-questions">Still have questions?</h5>
      <p>
        <strong class="18n" data-i18n="ftm-faq-still-have-questions-answer">Get in touch!</strong>
        <span class="i18n" data-i18n="ftm-faq-still-have-questions-subheader">Our volunteer team is here to answer your questions.</span>
      </p>
      <dl>
        <dt class="i18n" data-i18n="ftm-faq-inquiries">Inquiries</dt>
        <dd>
          <a href="mailto:contact@findthemasks.com">contact@findthemasks.com</a>
        </dd>
        <dt class="i18n" data-i18n="ftm-faq-looking-for-ways-to-help">
          Looking for ways to help?
        </dt>
        <dd>
          <a class="i18n" data-i18n="ftm-nav-volunteer" href="javascript:;"
            onclick="window.location='volunteer'+window.location.search;">
            Join Us
          </a>
        </dd>
      </dl>
    </div>
  </div>
</main>
