<div class="translated-content mb-5">
  {{> top_nav }}

  <!-- TODO put table of contents here -->
  <div class="container mt-5">
    <h2 class="i18n mb-4" data-i18n="ftm-faqs-header">Basic FAQs</h2>
    <dl class="faq-question">
      <dt>
        <h3 class="i18n" data-i18n="ftm-faq-what-is-ppe">What is PPE?</h3>
      </dt>
      <dd>
        <p class="i18n" data-i18n="ftm-faq-what-is-ppe-answer">Personal protective equipment (PPE)
          is protective clothing, goggles, or other equipment designed to protect the wearer from
          injury or infection. In this case, we are looking for PPE to protect our frontline
          healthcare workers from infection by COVID-19.</p>
      </dd>
    </dl>
    <dl class="faq-question">
      <dt>
        <h3 class="i18n" data-i18n="ftm-faq-what-ppe-needed">What PPE is needed?</h3>
      </dt>
      <dd>
        <p class="i18n" data-i18n="ftm-faq-what-ppe-needed-answer">
          Each site is unique! Our request sites are looking for many kinds of equipment, including
          N95 masks, safety goggles, bunny suits, face shields, gowns, and disposable booties. Many
          sites have requested additional items such as hand sanitizer, thermometers, and
          walkie-talkies.
          Each listing has a complete list of items that they need, as well as whether they accept
          open packages or non-medical grade items. Refer to the card to see if you have something
          that a healthcare worker needs!
          Some sites have requested homemade masks and 3D-printed or makerspace items. If you are
          part of a makerspace community or can contribute homemade items, see our Makerspace
          Community FAQ.
        </p>
      </dd>
    </dl>
    <dl class="faq-question">
      <dt>
        <h3 class="i18n" data-i18n="ftm-faq-who-donating-to">Who am I donating to?</h3>
      </dt>
      <dd>
        <p class="i18n" data-i18n="ftm-faq-who-donating-to-answer">
          Our website includes Level I Trauma Centers across the country, but we also feature a
          broader scope of healthcare providers (HCPs) such as community healthcare clinics,
          long-term care facilities, blood banks, shelters, and more.
          We are committed to getting PPE to all of our frontline workers during the pandemic. For
          more information on the full list of HCPs we support, check out our wiki.
        </p>
      </dd>
    </dl>
    <dl class="faq-question">
      <dt>
        <h3 class="i18n" data-i18n="ftm-faq-vet-requires-ppe">How do you know these sites require
          PPE?</h3>
      </dt>
      <dd>
        <p class="i18n" data-i18n="ftm-faq-vet-requires-ppe-answer">Healthcare providers,
          administrators, or regional Partners in need of PPE have filled out our PPE request form.
          After the form is submitted, our dedicated data team moderates every single request before
          publishing it to our site.</p>
      </dd>
    </dl>
    <dl class="faq-question">
      <dt>
        <h3 class="i18n" data-i18n="ftm-add-donation-site-question">
          Do you work in a hospital or clinic and need PPE? Want to update or remove information?
        </h3>
      </dt>
      <dd>
        <div class="i18n" data-i18n="[html]ftm-add-donation-site-answer">
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSfgCpK5coPVFC6rJrE7ZhimiZuDoEaL6fo6gYqxsN_FIpJZhg/viewform">
            <button type="button" class="btn btn-primary">Complete this form</button>
          </a>
        </div>
      </dd>
    </dl>
  </div>

  <div class="container mt-5">
    <h2 class="i18n mb-4" data-i18n="ftm-faq-ppe-contributor-header">PPE Contributor FAQs</h2>
    <dl class="faq-question">
      <dt>
        <h3 class="i18n" data-i18n="ftm-what-to-do-header">How to Donate PPE</h3>
      </dt>
      <dd>
        <p class="i18n" data-i18n="ftm-volunteer-network">
          Our network of volunteers has created a global map of over 1700+ locations, like hospitals
          and
          clinics, where you can donate your masks, gowns, and other PPE.
        </p>
        <ol>
          <li class="i18n" data-i18n="[html]ftm-what-to-do-1"><b>Use our map</b> below to find a
            hospital
            or health center near you accepting donations.
          </li>
          <li class="i18n" data-i18n="[html]ftm-what-to-do-2"><b>Follow their instructions</b> for
            what
            they accept and how to drop it off.
          </li>
          <li class="i18n" data-i18n="[html]ftm-what-to-do-3"><b>If you are donating opened
            packages</b>,
            please put them in a ziploc bag with a note saying whether they have been used, whether
            anyone
            in your household has been sick or travelled outside the country, and the expiration
            date if
            known.
          </li>
        </ol>
      </dd>
    </dl>
    {{> (lookup . 'maskMatchPartialPath') }}
    <dl class="faq-question">
      <dt>
        <h3 class="i18n" data-i18n="ftm-faq-open-packages">What if I have open packages of PPE?</h3>
      </dt>
      <dd>
        <p class="i18n" data-i18n="ftm-faq-open-packages-answer-1">
          If you are donating opened packages, make sure the receiving site accepts them! Each
          contact card will indicate this information. When you're ready, place the opened packages
          in a ziploc bag and include a note with the following information:
        </p>
        <ul>
          <li class="i18n" data-i18n="ftm-faq-open-packages-answer-2">
            Under what conditions have they been stored? Backyard paint job? Construction? Art?
            Other? Let the requesting site know so they can provide it to the correct unit (regular
            hospital use vs. ICU).
          </li>
          <li class="i18n" data-i18n="ftm-faq-open-packages-answer-3">
            Whether anyone in your household has been sick, travelled, or come in contact with
            someone who has travelled in the last 14-days.
          </li>
          <li class="i18n" data-i18n="ftm-faq-open-packages-answer-4">
            The expiration date, if known.
          </li>
        </ul>
      </dd>
    </dl>
    {{> (lookup . 'largeDonationSitesPartialPath') }}
    <dl class="faq-question">
      <dt>
        <h3 class="i18n" data-i18n="ftm-faq-how-decide-location">
          How do I decide which location to donate to?
        </h3>
      </dt>
      <dd>
        <p class="i18n" data-i18n="ftm-faq-how-decide-location-answer-1">
          If you're looking for a place to start, we suggest entering your address or city into our
          search tool to find donation sites near you. You can also filter listings to see sites
          that are looking for the PPE items that you can contribute.
        </p>
        <p class="i18n" data-i18n="ftm-faq-how-decide-location-answer-2">
          Make sure that you read each site's donation instructions carefully; some sites will
          accept open packages or homemade items, while others do not!
        </p>
        <p class="i18n" data-i18n="ftm-faq-how-decide-location-answer-3">
          Once you've found a few possible sites, choose one that aligns with your values and
          donation size. There are a wide variety of sites that need PPE, and ultimately, the choice
          is yours. You will be helping protect our frontline healthcare workers no matter which you
          choose!
        </p>
      </dd>
    </dl>
    <dl class="faq-question">
      <dt>
        <h3 class="i18n" data-i18n="ftm-cant-find-donation-site-question">
          Can't find a donation site near you?
        </h3>
      </dt>
      <dd>
        <p class="i18n" data-i18n="ftm-cant-find-donation-site-answer">
          Not a problem! Some PPE requests include mailing addresses. Find a request site that
          accepts mail-in donations, and follow the instructions for that site.
        </p>
      </dd>
    </dl>
    <dl class="faq-question">
      <dt>
        <h3 class="i18n" data-i18n="ftm-faq-how-to-help">How else can I help?</h3>
      </dt>
      <dd>
        <p class="i18n" data-i18n="ftm-faq-how-to-help-answer-1">
          We would love it if you helped us share our project on social media and within your
          networks! Sharing our site helps new healthcare providers find us, and it helps our
          healthcare providers connect with more potential PPE contributors!
        </p>
        <p class="i18n" data-i18n="[html]ftm-faq-how-to-help-answer-2">
          <!-- TODO i18n volunteers URL -->
          Join our amazing team of volunteers at <a
                href="https://findthemasks.com/volunteer">here</a>
        </p>
      </dd>
    </dl>
  </div>

  <div class="container mt-5">
    <h2 class="i18n mb-4" data-i18n="ftm-faq-makerspace-header">Makerspace Community FAQs</h2>
    <dl class="faq-question">
      <dt>
        <h3 class="i18n" data-i18n="ftm-faq-makerspace-how-to-help">
          I make handmade masks, 3D-print face shields, or am part of a makerspace community! How
          can I help?
        </h3>
      </dt>
      <dd>
        <p class="i18n" data-i18n="ftm-faq-makerspace-how-to-help-answer-1">
          First of all, amazing! Thank you for taking the time to make new PPE supplies!
        </p>
        <p class="i18n" data-i18n="ftm-faq-makerspace-how-to-help-answer-2">
          Please use our map to help you identify frontline sites requesting PPE that allow non-medical grade donations. You can use our "PPE needed" filter to select "homemade" or "makerspace" items, which will show you the locations that can receive your items.
        </p>
      </dd>
    </dl>
    <dl class="faq-question">
      <dt>
        <h3 class="i18n" data-i18n="ftm-faq-sites-non-medical-grade">Why don't all sites allow non-medical grade items?</h3>
      </dt>
      <dd>
        <p class="i18n" data-i18n="ftm-faq-sites-non-medical-grade-answer-1">
          As much as our recipients need PPE, they must also manage the risk incurred by using
          non-medical grade items. Many institutions do not have the resources to vet all of the
          contributions they receive from various donors, and some are more comfortable only using
          the medical-grade items that they are familiar with and know they can rely on.
        </p>
        <p class="i18n" data-i18n="ftm-faq-sites-non-medical-grade-answer-2">
          To ensure that your contributions are not wasted, please filter healthcare providers by "handmade" or "makerspace" items to locate the ones that can use your contribution!
        </p>
      </dd>
    </dl>
  </div>

  <div class="container mt-5">
    <h2 class="i18n mb-4" data-i18n="ftm-faq-ppe-recipients-header">FAQs for PPE Recipients</h2>
    <dl class="faq-question">
      <dt>
        <h3 class="i18n" data-i18n="ftm-faq-request-processing-length">
          How long will it take for my request to be processed?
        </h3>
      </dt>
      <dd>
        <p class="i18n" data-i18n="ftm-faq-request-processing-length-answer">
          After you submit the PPE request form, our volunteer team of data moderators check every
          submission before publishing your request to our map and directory. In some cases, this
          can happen as quickly as a few minutes after submission! On average, it takes about two
          hours for a listing to be published.
        </p>
      </dd>
    </dl>
    <dl class="faq-question">
      <dt>
        <h3 class="i18n" data-i18n="ftm-faq-update-information">
          I want to update information (items needed, instructions, etc.) in my PPE request. What
          should I do?
        </h3>
      </dt>
      <dd>
        <p class="i18n" data-i18n="ftm-faq-update-information-answer">
          After your original submission, Google Forms will auto-generate a receipt to the email
          indicated on the submission form. This email address will never become public, but the
          email receipt will contain a link you can click on to edit your PPE request information.
          Simply locate the Google Forms receipt in your inbox and use it to edit your request,
          again and again. Our data moderators will confirm your edit within a few hours.
        </p>
      </dd>
    </dl>
    <dl class="faq-question">
      <dt>
        <h3 class="i18n" data-i18n="ftm-faq-my-data">
          What happens to my data? Who owns the data that I submit?
        </h3>
      </dt>
      <dd>
        <p class="i18n" data-i18n="ftm-faq-my-data-answer-1">
          We collect the information that you provide to us when you fill out our PPE request form.
          The information regarding PPE recipient sites will be published on our public website for
          anyone to see and use. We also request an email and a phone number that we do not disclose
          publicly, so that we may contact the user in case we need to elaborate the post, seek
          feedback or request a collaboration. We may process your data or share personal
          information with vendors, consultants, or other third-party service providers.
        </p>
        <p class="i18n" data-i18n="[html]ftm-faq-my-data-answer-2">
          For more information, please see our<a href="https://findthemasks.com/privacy-policy">Privacy Policy</a>
        </p>
      </dd>
    </dl>
    <dl class="faq-question">
      <dt>
        <h3 class="i18n" data-i18n="ftm-faq-listing-not-shown">
          I submitted a listing but it hasn't shown up yet. What should I do?
        </h3>
      </dt>
      <dd>
        <p class="i18n" data-i18n="[html]ftm-faq-listing-not-shown-answer">
          If it has been less than 4 hours, hang tight! We sometimes get surges of requests, and our
          data moderators may be working through the backlog. If it has been more than 12 hours,
          email <a href="mailto:contact@findthemasks.com">contact@findthemasks.com</a>.
        </p>
      </dd>
    </dl>
  </div>
</div>

