<div class="translated-content">
  {{> top_nav }}

  <div class="container mt-5">
    <div class="row">
      <div class="col">
        Jump to: [PPE contributor FAQs] [FAQs for PPE recipients] [Makerspace Community FAQs]
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <h2>Basic FAQs</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3>What is PPE?</h3>
        <p>Personal protective equipment (PPE) is protective clothing, goggles, or other equipment designed to protect the wearer from injury or infection. In this case, we are looking for PPE to protect our frontline healthcare workers from infection by COVID-19. 
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3>What PPE is needed?</h3>
        <p>Each site is unique! Our request sites are looking for many kinds of equipment, including N95 masks, safety goggles, bunny suits, face shields, gowns, and disposable booties. Many sites have requested additional items such as hand sanitizer, thermometers, and walkie-talkies.

        <p>Each listing has a complete list of items that they need, as well as whether they accept open packages or non-medical grade items. Refer to the card to see if you have something that a healthcare worker needs!

        <p>Some sites have requested homemade masks and 3D-printed or makerspace items. If you are part of a makerspace community or can contribute homemade items, see our Makerspace Community FAQ.
      </div>
    </div>
    <div class="row">
      <div class="col">
      <h3>Who are the PPE recipients?</h3>
      <p>Our website includes Level I Trauma Centers across the country, but we also feature a broader scope of healthcare providers (HCPs) such as community healthcare clinics, long-term care facilities, blood banks, shelters, and more.

      <p>We are committed to getting PPE to all of our frontline workers during the pandemic. For more information on the full list of HCPs we support, check out our wiki.  
      </div>
    </div>
    <div class="row">
      <div class="col">
      <h3>How do you know these sites require PPE?</h3>
      <p>Healthcare providers, administrators, or regional Partners in need of PPE have filled out our PPE request form. After the form is submitted, our dedicated data team moderates every single request before publishing it to our site.
      <p>Do you need PPE? Fill out our PPE request form or check out our PPE Recipient FAQ here!
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <h2>PPE Contributor FAQs</h2>
    <dl class="faq-question">
      <dt>
        <h3>How do I contribute PPE?</h3>
      </dt>
      <dd>
        <p>Use our map to find a healthcare provider (HCP) near you accepting PPE contributions. Use the search bar to enter your address or city to find sites in your community instantly.
        <p>Pan around and interact with the different pins. We have many different healthcare providers, including hospitals, clinics, pharmacies, nursing stations, and shelters. Can't decide? See our suggestions below.
        <p>Follow the site's instructions for what they accept and how to deliver it! Every site is different and many hospitals now prefer contributors to remain physically distant.
        <p>Share your donation with us! #ThankYou #WeAreStayingAtHome #findthemasks
        <p>[[ Row of social media icons ]]
      </dd>
    </dl>
    <dl class="faq-question">
      <dt>
        <h3>What if I have open packages of PPE?</h3>
      </dt>
      <dd>
        If you are donating opened packages, make sure the receiving site accepts them! Each contact card will indicate this information.

        When you're ready, place the opened packages in a ziploc bag and include a note with the following information:
        <ul>
          <li>
            Under what conditions have they been stored? Backyard paint job? Construction? Art? Other? Let the requesting site know so they can provide it to the correct unit (regular hospital use vs. ICU).
          </li>
          <li>
            Whether anyone in your household has been sick, travelled, or come in contact with someone who has travelled in the last 14-days.
          </li>
          <li>
            The expiration date, if known.
          </li>
        </ul>
      </dd>
    </dl>
    <dl class="faq-question">
      <dt>
        <h3>I have a large amount of PPE (500+). Where should I send it?</h3>
      </dt>
      <dd>
        <!--TODO -->
        TODO
      </dd>
    </dl>
    <dl class="faq-question">
      <dt>
        <h3>How do I decide which location to donate to?</h3>
      </dt>
      <dd>
        <p>If you're looking for a place to start, we suggest entering your address or city into our search tool to find donation sites near you. You can also filter listings to see sites that are looking for the PPE items that you can contribute.</p>
        <p>Make sure that you read each site's donation instructions carefully; some sites will accept open packages or homemade items, while others do not!</p>
        <p>Once you've found a few possible sites, choose one that aligns with your values and donation size. There are a wide variety of sites that need PPE, and ultimately, the choice is yours. You will be helping protect our frontline healthcare workers no matter which you choose!</p>
      </dd>
    </dl>
    <dl class="faq-question">
      <dt>
        <h3>What if I can't find a location near me?</h3>
      </dt>
      <dd>
        <!--TODO fix-->
        <p> Not a problem! Some PPE requests include mailing addresses. Find a request site that accepts mail-in donations, and follow the instructions for that site.</p>
        <p> If you have masks, our partner Mask Match can match you with a healthcare worker in need, so you can ship your masks directly to them.</p>
      </dd>
    </dl>
    <dl class="faq-question">
      <dt>
        <h3>How else can I help?</h3>
      </dt>
      <dd>
        <p>
          We would love it if you helped us share our project on social media and within your networks! Sharing our site helps new healthcare providers find us, and it helps our healthcare providers connect with more potential PPE contributors!
        </p>
        <p>
          Join our amazing team of volunteers at <a href="https://findthemasks.com/volunteer">here</a>
        </p>
      </dd>
    </dl>
  </div>

  <div class="container mt-5">
    <h2>Makerspace Community FAQs</h2>
    <dl class="faq-question">
      <dt>
        <h3>I make handmade masks, 3D-print face shields, or am part of a makerspace community! How can I help?</h3>
      </dt>
      <dd>
        <p>As much as our recipients need PPE, they must also manage the risk incurred by using non-medical grade items. Many institutions do not have the resources to vet all of the contributions they receive from various donors, and some are more comfortable only using the medical-grade items that they are familiar with and know they can rely on.</p>
        <p>To ensure that your contributions are not wasted, please filter healthcare providers by “handmade masks” or “face shields - 3D printer/makerspace”  to locate the ones that can use your contribution!</p>
      </dd>
    </dl>
    <dl class="faq-question">
      <dt>
        <h3>Why don't all sites allow non-medical grade items?</h3>
      </dt>
      <dd>
        <p>As much as our recipients need PPE, they must also manage the risk incurred by using non-medical grade items. Many institutions do not have the resources to vet all of the contributions they receive from various donors, and some are more comfortable only using the medical-grade items that they are familiar with and know they can rely on.</p>
        <p>To ensure that your contributions are not wasted, please filter healthcare providers by “handmade masks” or “face shields - 3D printer/makerspace”  to locate the ones that can use your contribution!</p>
      </dd>
    </dl>
  </div>

  <div class="container mt-5">
    <h2>FAQs for PPE Recipients</h2>
    <dl class="faq-question">
      <dt>
        <h3>How long will it take for my request to be processed?</h3>
      </dt>
      <dd>
        <p>After you submit the PPE request form, our volunteer team of data moderators check every submission before publishing your request to our map and directory. In some cases, this can happen as quickly as a few minutes after submission! On average, it takes about two hours for a listing to be published.
      </dd>
    </dl>
    <dl class="faq-question">
      <dt>
        <h3>I want to update information (items needed, instructions, etc.) in my PPE request. What should I do?</h3>
      </dt>
      <dd>
        <p>After your original submission, Google Forms will auto-generate a receipt to the email indicated on the submission form. This email address will never become public, but the email receipt will contain a link you can click on to edit your PPE request information. Simply locate the Google Forms receipt in your inbox and use it to edit your request, again and again. Our data moderators will confirm your edit within a few hours.
      </dd>
    </dl>
    <dl class="faq-question">
      <dt>
        <h3>I want to be removed from the PPE recipients list</h3>
      </dt>
      <dd>
        <p>When your PPE needs are satisfied, the Google Forms email receipt is also the way to let us know. In your request, please mark “remove a requesting site”, and tell us in the “Instructions” field that your needs are satisfied.
        <p>After a check by our data team, your pin on the website will be greyed out with a message thanking the public and redirecting them to nearby pins that represent still-active PPE request sites. We look forward to your removal request; our aim at #findthemasks is not to be needed!
      </dd>
    </dl>
    <dl class="faq-question">
      <dt>
        <h3>What happens to my data? Who owns the data that I submit?</h3>
      </dt>
      <dd>
        <p>We collect the information that you provide to us when you fill out our PPE request form. The information regarding PPE recipient sites will be published on our public website for anyone to see and use. We also request an email and a phone number that we do not disclose publicly, so that we may contact the user in case we need to elaborate the post, seek feedback or request a collaboration. We may process your data or share personal information with vendors, consultants, or other third-party service providers.</p>
        <p>For more information, please see our
          <a href="https://findthemasks.com/privacy-policy">
            Privacy Policy
          </a>
        </p>
      </dd>
    </dl>
    <dl class="faq-question">
      <dt>
        <h3>I submitted a listing but it hasn't shown up yet. What should I do?</h3>
      </dt>
      <dd>
        If it has been less than 4 hours, hang tight! We sometimes get surges of requests, and our data moderators may be working through the backlog. If it has been more than 12 hours, email
        <a href="mailto:contact@findthemasks.com">
          contact@findthemasks.com
        </a>
      </dd>
    </dl>
  </div>
</div>

