<div class="translated-content">
  <header class="header-block container-fluid">
    <div class="row">
      <div class="navbar-brand col-12">
        {{#if (eq dataset "makers")}}
        <a href="http://findthemakers.com" target="_blank">
          <div class="icon icon-ftmakers_logo"></div>
        </a>
        {{else}}
        <a href="http://findthemasks.com" target="_blank">
          <div class="icon icon-ftm_logo"></div>
        </a>
        {{/if}}
        {{#if (eq dataset "makers")}}
        <span class="home-link location-link text-light i18n" data-i18n='ftm-makers-embed-brand'>
          Maker Groups
        </span>
        {{else}}
        <span class="makers-home-link location-link text-light i18n" data-i18n='ftm-embed-brand'>
          PPE Requesting Sites
        </span>
        {{/if}}
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-8">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text bg-white border-0 search-icon-wrap">
              <img class="search-icon" src="/images/icons/search.svg">
            </span>
          </div>
          <input type="search" name="map-search" id="map-search"
                 class="i18n form-control border-0"
                 placeholder="Search by location"
                 data-i18n="[placeholder]ftm-maps-search-placeholder">
          <div class="input-group-append">
            <span class="input-group-text bg-white border-0">
              <a href="javascript:;" class="map-action-link" id="use-location">
                <span class="i18n" data-i18n="ftm-maps-search-use-location">Use my location</span>
              </a>
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 list-stats-reset d-flex align-items-center justify-content-start justify-content-md-end mt-1 mt-md-0">
        <span id="list-stats"></span>
      </div>
    </div>
    <div class="row">
      <div class="col filter-collapse embed-filter">
        <div class="d-flex">
          <a class="map-action-link dropdown-toggle text-light flex-grow-1 i18n"
             data-i18n="ftm-filter-toggle"
             data-toggle="collapse"
             href="#filter-container" role="button" aria-expanded="false"
             aria-controls="filter-container">
            Toggle filter options
          </a>
          <div class="flex-grow-1 d-flex justify-content-end">
            <a href="javascript:;" class="map-action-link" id="reset-map">
              <span class="i18n text-light" data-i18n="ftm-maps-search-reset">Reset map & list</span>
            </a>
          </div>
        </div>
        <div id='filter-container' class="collapse filters-container mb-1 mb-lg-0">
        </div>
      </div>
    </div>
  </header>

  <div class="alert alert-danger ftm-global-alert alert-dismissable d-none" data-alert-name="ftm-alert-systemic-racism">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <p class="i18n" data-i18n="ftm-alert-systemic-racism-1">
      Find the Masks recognizes community response to systemic racism is essential & cannot wait for
      COVID-19 to pass. We have seen communities build around global PPE shortages & believe we can
      maintain solidarity in the face of the COVID-19 and social unrest.
    </p>
    <p class="i18n" data-i18n="ftm-alert-systemic-racism-2">
      Although COVID-19 is not the only thing affecting community safety, it has not disappeared
      either. FTM supports social action & wants to help people participate as safely as possible.
    </p>
    <hr>
    <p class="mb-0 i18n" data-i18n="[html]ftm-alert-systemic-racism-3">
      Please wear PPE to limit risk to yourself and others. Check out <a href="https://docs.google.com/spreadsheets/d/1E9dSt6EE0a3uJaRj4ojaoF-EFbC6IPYA1upLVrL1M-s/edit#gid=0" target="_blank" rel="noopener noreferrer">this resource</a> put together by
      partners <a href="https://opensourcemedicalsupplies.org/" target="_blank" rel="noopener noreferrer">OSMS</a> if you are participating in clean-ups or protesting.
    </p>
  </div>

  <div class="row embed-main flex-lg-row no-gutters">
    <div class="locations-loading text-center">
      <div class="spinner-border" role="status"></div>
      {{#if (eq dataset "makers")}}
      <div class="i18n" data-i18n="ftm-makers-site-loading">Loading Maker Groups...</div>
      {{else}}
      <div class="i18n" data-i18n="ftm-donations-site-loading">Loading PPE request sites...</div>
      {{/if}}
    </div>

    <div class="col-12 {{#unless hideList}}col-lg-8{{/unless}} order-lg-2 {{#if hideMap}}d-none{{/if}}">
      <div class="map-container {{#if hideList}}w-100{{/if}}">
        <div id="map" data-enable-search="true"></div>
      </div>
    </div>

    <div class="col-12 {{#unless hideMap}}col-lg-4{{/unless}} order-lg-1 locations-container">
      <div id="locations-list" class="locations-list {{#if hideMap}}w-100{{/if}}"></div>
    </div>
  </div>

  <footer class="container-fluid">
    <div class="row">
      <div class='col-12'>
        {{#if (eq dataset "makers")}}
        <p>
          <span class="i18n" data-i18n="[html]ftm-makers-collaboration-with">
            Made in collaboration with <a href="." target="_blank">#findthemasks</a>,
            <a href="https://www.nationofmakers.us" target="_blank">Nation of Makers</a>, and
            <a href="https://opensourcemedicalsupplies.org/" target="_blank">Open Source Medical Supplies</a>.
          </span>
          <span class="i18n" data-i18n="[html]ftm-makers-add-site-question">
            Want to join the #findthemasks makers map? Need to update or remove info?
            Please <a href="./maker-form" target="_blank">fill out this form</a>.
            We will review it as soon as possible.
          </span>
        </p>
        {{else}}
        <p>
          <span class="i18n" data-i18n="[html]ftm-collaboration-with">Made in
            collaboration with <a href="." target="_blank">#findthemasks</a>.</span>
          <span class="i18n" data-i18n="[html]ftm-add-donation-site-question">Want to join the #findthemasks map?
            Need to update or remove info?</span>
          <span class="i18n" data-i18n="[html]ftm-add-donation-site-answer">
            Please <a href="./donation-form">
              fill out this form</a>. We will review it as soon as possible.
          </span>
        </p>
        {{/if}}
      </div>
    </div>
  </footer>
</div>
{{> contact_form}}
