<div class="languages-loading" style="position: fixed;top: 50%; left: 50%;">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading translations...</span>
  </div>
</div>

<div class="translated-content">
  {{> top_nav }}

  <div class="row flex-lg-row no-gutters">
    <div class="col-12 col-lg-6 search-filter-container">
      <div class="bg-white ">
        <div class="bg-dark-blue text-light">

          {{#if (eq dataset "makers")}}
            <h4 class="mt-0 i18n" data-i18n="ftm-makers-ppe-cta">
              Make PPE &amp; get it into the hands of those who need it.
            </h4>
            <p class="i18n" data-i18n="[html]ftm-maker-request-near-me" style="margin-bottom: 0">
              Coordinate with a maker group near you. Questions? <a class="text-light" href="/faq#section-makers">Read our Maker FAQ.</a>.
            </p>
             <p class="i18n" data-i18n="[html]ftm-cta-link-back">
              Want to find requesting institutions near you? <a class="text-light" href="/">Check out Find the Masks.</a>.
            </p>
          {{else}}
            <h4 class="mt-0 i18n" data-i18n="ftm-ppe-cta">
              Let's get our PPE into the hands of those who need it!
            </h4>
            <p class="i18n" data-i18n="[html]ftm-requester-near-me" style="margin-bottom: 0">
              Search for a requester near you. Not sure how to give? <a class="text-light" href="/faq">Read our FAQ</a>
            </p>
            <p class="i18n" data-i18n="[html]ftm-maker-cta-link-back">
              Want to find PPE maker groups near you? <a class="text-light" href="/makers">Check out Find the Makers.</a>
            </p>
          {{/if}}

          <div class="input-group mb-3">
            <div class="input-group-prepend">
            <span class="input-group-text bg-white border-0 search-icon-wrap">
              <img class="search-icon" src="/images/icons/search.svg">
            </span>
            </div>
            <input type="search" name="map-search" id="map-search"
                   class="i18n form-control border-0"
                   placeholder="Search by city, zip, or address"
                   data-i18n="[placeholder]ftm-maps-search-placeholder">
            <div class="input-group-append">
            <span class="input-group-text bg-white border-0">
              <a href="javascript:;" class="map-action-link" id="use-location">
                <span class="i18n" data-i18n="ftm-maps-search-use-location">Use my location</span>
              </a>
            </span>
            </div>
          </div>

          <div class="filters-container row text-dark" style="display: none;">
            <div class="col">
              <select id="facility-type-select">
              </select>
            </div>
            <div class="col">
              <select id="ppe-needed-select">
              </select>
            </div>
          </div>
        </div>

        <div class="d-flex align-items-center locations-list-header">
          <div class="flex-grow-1">
            <span class="icon icon-requester-pin"></span><span id="list-stats"></span>
          </div>
          <div class="d-flex justify-content-end flex-grow-1">
            <a href="javascript:;" class="map-action-link" id="reset-map">
              <span class="i18n" data-i18n="ftm-maps-search-reset">Reset map & list</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6">
      <div class="map-container">
        <div class="locations-loading text-center">
          <img src="/images/icons/loader.svg" alt="loading" class="load-spinner" />
          {{#if (eq dataset "makers")}}
            <span class="i18n" data-i18n="ftm-makers-site-loading">Maker Groups</span>
          {{else}}
            <span class="i18n" data-i18n="ftm-donations-site-loading">Loading donation sites...</span>
          {{/if}}
        </div>
        <div id="map"></div>
        <div id="map-info" style="display: none;"></div>
      </div>
    </div>

    <div class="col-12 col-lg-6">
      <div class="locations-loading text-center">
        <img src="/images/icons/loader.svg" alt="loading" class="load-spinner" />
        {{#if (eq datasetType "makers")}}
          <span class="i18n" data-i18n="ftm-makers-site-loading">Maker Groups</span>
        {{else}}
          <span class="i18n" data-i18n="ftm-donations-site-loading">Loading donation sites...</span>
        {{/if}}
      </div>

      <div class="locations-container row no-gutters" style="display: none;">
        <div id="locations-list" class="locations-list col"></div>
      </div>
      {{> contact_form}}
    </div>
  </div>
</div>
