<main class="content container py-5">
  <div class="row justify-content-center">
    <div class="col-10">
      <h1 class="page-title i18n" data-i18n="ftm-partners-title">Sponsors, Collaborators &amp; Media</h1>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-10">
      <section>
        <p class="i18n" data-i18n="ftm-partners-info">We thank our sponsors and collaborators for
        their support of our mission to connect health care workers with the PPE they need to stay safe.
        To partner with us, reach out to email@email.com.</p>
      </section>

      <section>
        <h3 class="page-subhead i18n" data-i18n="ftm-partners-subhead-global">Global Sponsors</h3>
        <div class="partner-logos partner-logos-large">
          <a href="https://google.com" target="_blank" class="partner-logo-container">
            <img src="/images/logos-Sponsors/google_logo.svg" alt="Google Logo">
          </a>
          <a href="http://smartling.com/" target="_blank" class="partner-logo-container">
            <img src="/images/logos-Sponsors/smartling_logo.svg" alt="Smartling Logo">
          </a>
          <a href="http://slack.com/" target="_blank" class="partner-logo-container">
            <img src="/images/logos-Sponsors/slack_logo.svg" alt="Slack Logo">
          </a>
          <a href="http://airtable.com/" target="_blank" class="partner-logo-container">
            <img src="/images/logos-Sponsors/Airtable.png" alt="Airtable Logo">
          </a>
          <a href="https://airbrake.io/" target="_blank" class="partner-logo-container">
            <img src="/images/logos-Sponsors/Airbrake.svg" alt="Airbrake Logo">
          </a>
          <a href="https://www.canva.com/templates/" target="_blank" class="partner-logo-container">
            <img id="img-logo-canva" src="/images/logos-Sponsors/Canva.png" alt="Canva Logo">
          </a>
        </div>
      </section>
      <section>
        <h3 class="page-subhead i18n" data-i18n="ftm-partners-subhead-media">In Media</h3>
        <div class="partner-logos partner-logos-small">
          <a href="https://www.burton.com/blogs/the-burton-blog/how-were-joining-fight-against-covid-19-and-how-you-can-too/" target="_blank" class="partner-logo-container">
            <img src="/images/logos-Media/Burton.png" alt="Burton Logo">
          </a>
          <a href="https://parade.com/1018377/nicolepajer/how-to-donate-ppe/" target="_blank" class="partner-logo-container">
            <img src="/images/logos-Media/Parade.png" alt="Parade Logo">
          </a>
          <a href="https://www.health.com/condition/infectious-diseases/coronavirus/donate-ppe" target="_blank" class="partner-logo-container">
            <img src="/images/logos-Media/Health.png" alt="Inverse Logo">
          </a>
          <a href="https://drive.google.com/file/d/1haIcfW4z3X9VcONMxEnuvGL_Lpapq58I/view?usp=sharing" target="_blank" class="partner-logo-container">
            <img src="/images/logos-Media/ESPN.png" alt="ESPN Logo">
          </a>
          <a href="https://www.inverse.com/mind-body/find-the-masks" target="_blank" class="partner-logo-container">
            <img src="/images/logos-Media/Inverse.png" alt="Inverse Logo">
          </a>
          <a href="https://www.geekwire.com/2020/hospitals-run-low-protective-gear-tech-workers-quest-help-fill-shortage/" target="_blank" class="partner-logo-container">
            <img src="/images/logos-Media/GeekWire.png" alt="GeekWire Logo">
          </a>
          <a href="https://pediatricethicscope.org/covid19-resources/" target="_blank" class="partner-logo-container">
            <img src="/images/pediatric_ethicscope_logo.png" alt="Pediatric Ethiscope Logo">
          </a>
          <a href="https://patch.com/california/calabasas/viewpoint-school-3d-prints-supplies-local-hospitals" target="_blank" class="partner-logo-container">
            <img src="/images/logos-Media/Patch.png" alt="Patch Logo">
          </a>
          <a href="https://twitter.com/blogTO/status/1251133243258216451" target="_blank" class="partner-logo-container">
            <img src="/images/logos-CA/blogTO.jpg" alt="blogTO">
          </a>
          <a href="https://calgarysun.com/news/local-news/map-shows-health-care-workers-call-for-ppe/wcm/27e337f7-7ce6-433b-8804-0edc1ee82d2b" target="_blank"
            class="partner-logo-container">
            <img src="/images/logos-Media/Calgary_Sun.png" alt="Calgary Sun Logo">
          </a>
          <a href="https://twitter.com/LaineyGossip/status/1251206744228888581" target="_blank"
            class="partner-logo-container">
            <img src="/images/logos-CA/CTV eTalk.png" alt="CTV eTalk Logo">
          </a>
          <a href="https://www.carehomeprofessional.com/tag/coronavirus/" target="_blank"
            class="partner-logo-container">
            <img src="/images/logo-chp.png" alt="Care Home Professional Logo">
          </a>
          <a href="https://nowtoronto.com/lifestyle/health/online-map-shows-face-masks-needed-around-world/" target="_blank"
            class="partner-logo-container">
            <img src="/images/logos-Media/NOWToronto.png" alt="NOWToronto Logo">
          </a>
          <a href="https://www.abc4.com/coronavirus/online-map-shows-closest-sites-to-donate-ppe-for-medical-workers-fighting-covid-19/" target="_blank" class="partner-logo-container">
            <img src="/images/logos-Media/abc4.png" alt="abc4 Logo">
          </a>
          <a href="https://ktla.com/news/local-news/how-to-donate-ppe-to-southern-california-hospitals/" target="_blank" class="partner-logo-container">
            <img src="/images/logos-Media/KTLA5.png" alt="KTLA5 Logo">
          </a>
          <a href="https://cloud.google.com/blog/products/maps-platform/how-google-maps-platform-community-responding-covid-19-visualizing-helpful-info" target="_blank" class="partner-logo-container">
            <img src="/images/logos-Media/Google_Cloud.png" alt="Google Cloud Logo">
          </a>
          <a href="https://www.businessinsider.com/how-you-can-help-donate-face-masks-doctors-nurses-coronavirus-2020-3" target="_blank" class="partner-logo-container">
            <img src="/images/logos-Media/Business Insider.png" alt="Business Insider Logo">
          </a>
          <a href="https://news.westernu.ca/2020/04/students-join-global-effort-to-solve-ppe-shortage/" target="_blank" class="partner-logo-container">
            <img src="/images/logos-Media/Western_University.png" alt="Western University Logo">
          </a>          
        </div>
      </section>
      <section>
        <h3 class="page-subhead i18n" data-i18n="ftm-partners-subhead-canada">Collaborators - Canada</h3>
        <div class="partner-logos partner-logos-small">
          <a href="http://thehomefront.ca/" target="_blank" class="partner-logo-container">
            <img src="/images/logos-CA/The Home Front.jpg" alt="The Home Front">
          </a>
          <a href="https://www.theppedrive.com" target="_blank" class="partner-logo-container">
            <img src="/images/logos-CA/thePPEDrive.png" alt="thePPEDrive">
          </a>
          <a href="https://ppeforhcpsto.ca/" target="_blank" class="partner-logo-container">
            <img src="/images/logos-CA/PPE for HCPs Toronto Team.png" alt="PPE for HCPs Toronto Team">
          </a>
          <a href="http://frontlinemasks.ca/" target="_blank" class="partner-logo-container">
            <img src="/images/logos-CA/Mobilizing Masks for Health Care Providers.png"
              alt="Mobilizing Masks for Health Care Providers">
          </a>
          <a href="https://www.fb.com/groups/VolunteersinOntarioFindingPPEforHospitals/" target="_blank"
            class="partner-logo-container">
            <img src="/images/logos-CA/Volunteers in Ontario Finding PPE  for Hospitals.jpg"
              alt="Volunteers in Ontario Finding PPE  for Hospitals.jpg">
          </a>
          <a href="https://www.donnezlaprotection.com/" target="_blank" class="partner-logo-container">
            <img src="/images/logos-CA/Donnez La Protection.png" alt="Donnez La Protection">
          </a>
          <a href="https://maskaherobc.ca/" target="_blank" class="partner-logo-container">
            <img src="/images/logos-CA/Mask A Hero BC.png" alt="Mask A Hero BC">
          </a>
          <a href="https://maskaheroontario.ca/" target="_blank" class="partner-logo-container">
            <img src="/images/logos-CA/Mask a Hero Ontario.png" alt="Mask a Hero Ontario">
          </a>
          <a href="https://shield-net.org/" target="_blank" class="partner-logo-container">
            <img src="/images/logos-CA/Shield Net.png" alt="Shield Net">
          </a>
          <a href="http://www.covid19central.ca/" target="_blank" class="partner-logo-container">
            <img src="/images/logos-CA/COVID-19 Central.png" alt="COVID-19 Central">
          </a>
          <a href="http://covid19resources.ca/" target="_blank" class="partner-logo-container">
            <img src="/images/logos-CA/COVID-19 Resources Canada.svg" alt="COVID-19 Resources Canada">
          </a>
          <a href="https://jkwanmd.com/ppe" target="_blank" class="partner-logo-container">
            <img src="/images/logos-CA/Dr. Jennifer Kwan.png" alt="Dr. Jennifer Kwan">
          </a>
          <a href="https://www.nosm.ca/our-community/nosm-student-council/nosmsc-covid-19-relief/" target="_blank"
            class="partner-logo-container">
            <img src="/images/logos-CA/Northern Ontario PPEforHCP.png" alt="Northern Ontario #PPEforHCP">
          </a>
          <a href="http://www.trackppe.com/" target="_blank" class="partner-logo-container">
            <img src="/images/logos-CA/Track PPE.png" alt="Track PPE">
          </a>
          <a href="https://www.mask-match.com/" target="_blank" class="partner-logo-container">
            <img src="/images/logos-CA/Mask Match.png" alt="Mask Match">
          </a>
          <a href="https://www.redmooncosplaysolutions.com/" target="_blank" class="partner-logo-container">
            <img src="/images/logos-CA/Red Moon Cosplay.jpg" alt="Red Moon Cosplay">
          </a>
        </div>
      </section>
      <!-- If there's ones without logos, use this:
      <h4>Plus:</h5>
      <p>UBC COVID PPE Initiative</p>
      <p>Concord Pacific</p>
      -->
      <section>
        <h3 class="page-subhead i18n" data-i18n="ftm-partners-subhead-us">Collaborators - US</h3>
        <div class="partner-logos partner-logos-small">
          <a href="https://www.nationofmakers.us" target="_blank" class="partner-logo-container">
            <img src="/images/logos-US/Nation of Makers.png" alt="Nation of Makers Logo">
          </a>
          <a href="http://getusPPE.org" target="_blank" class="partner-logo-container">
            <img src="/images/logos-US/GetUsPPE.png" alt="GetUsPPE Logo">
          </a>
          <a href="https://www.projectn95.org/" target="_blank" class="partner-logo-container">
            <img src="/images/logos-US/Project N95.svg" alt="Project N95 Logo">
          </a>
          <a href="https://www.ppecoalition.com/" target="_blank" class="partner-logo-container">
            <img src="/images/logos-US/National PPE Coalition.png" alt="National PPE Coalition Logo">
          </a>
          <a href="https://shield-net.org/" target="_blank" class="partner-logo-container">
            <img src="/images/logos-US/Shield Net.png" alt="Shield Net Logo">
          </a>
          <a href="https://www.mask-match.com/" target="_blank" class="partner-logo-container">
            <img src="/images/logos-US/Mask Match.png" alt="Mask Match Logo">
          </a>
          <a href="https://www.shieldsforheroes.org/appeal" target="_blank" class="partner-logo-container">
            <img src="/images/logos-US/ShieldsforHeroes.png" alt="ShieldsforHeroes Logo">
          </a>
          <a href="https://masks4all.co/" target="_blank" class="partner-logo-container">
            <img src="/images/logos-US/Masks4All.png" alt="Masks4All Logo">
          </a>
          <a href="https://kba-nyc.com/maskmakers" target="_blank" class="partner-logo-container">
            <img src="/images/logos-US/KBA.png" alt="Kimberly Brown Architecture Logo">
          </a>
        </div>
      </section>
      <!-- If there's ones without logos, use this:
        <h4>Plus:</h5>
        <p>Hospitals and Medical Centers that Need PPE Supplies</p>
      -->
    </div>
  </div>
</main>
