<main class="content container py-5">
  <h1 class="page-title">Sponsors, Collaborators &amp; Media</h1>

  <p class="addTopMargin i18n" data-i18n="ftm-partners-info">We thank our sponsors and collaborators for 
    their support of our mission to connect health care workers with the PPE they need to stay safe. 
    To partner with us, reach out to email@email.com.</p>

  <h3 class="page-subhead">Global Sponsors</h3>
  <div class="partner-logos">
    <div class="partner-logo-container">
      <img src="images/google_logo.svg" alt="Google Logo" height="60">
    </div>
    <div class="partner-logo-container">
      <img src="images/smartling_logo.svg" alt="Smartling Logo" height="60">
    </div>
    <div class="partner-logo-container">
      <img src="images/slack_logo.svg" alt="Slack Logo" height="60">
    </div>
  </div>

  <h3 class="page-subhead">In Media</h3>
  <div class="partner-logos"></div>

  <h3 class="page-subhead">Collaborators - Canada</h3>
  <div class="partner-logos"></div>

  <h4>Plus:</h5>
  <p>UBC COVID PPE Initiative</p>
  <p>Concord Pacific</p>
  
  <h3 class="page-subhead">Collaborators - US</h3>
  <div class="partner-logos"></div>

  <h4>Plus:</h5>
  <p>Hospitals and Medical Centers that Need PPE Supplies</p>
  
</main>
