<main class="content container py-5">
  <h1 class="page-title i18n" data-i18n="ftm-partners-title">Sponsors, Collaborators &amp; Media</h1>

  <p class="addTopMargin i18n" data-i18n="ftm-partners-info">We thank our sponsors and collaborators for
    their support of our mission to connect health care workers with the PPE they need to stay safe.
    To partner with us, reach out to email@email.com.</p>

  <section>
    <h3 class="page-subhead i18n" data-i18n="ftm-partners-subhead-global">Global Sponsors</h3>
    <div class="partner-logos">
      <a href="https://google.com" target="_blank" class="partner-logo-container">
        <img src="/images/google_logo.svg" alt="Google Logo" height="60">
      </a>
      <a href="http://smartling.com/" target="_blank" class="partner-logo-container">
        <img src="/images/smartling_logo.svg" alt="Smartling Logo" height="60">
      </a>
      <a href="http://slack.com/" target="_blank" class="partner-logo-container">
        <img src="/images/slack_logo.svg" alt="Slack Logo" height="60">
      </a>
    </div>
  </section>
  <section>
    <h3 class="page-subhead i18n" data-i18n="ftm-partners-subhead-media">In Media</h3>
    <div class="partner-logos">
      <a href="https://pediatricethicscope.org/covid19-resources/" target="_blank" class="partner-logo-container">
        <img src="/images/pediatric_ethicscope_logo.png" alt="Pediatric Ethiscope Logo" width="140">
      </a>
      <a href="https://twitter.com/blogTO/status/1251133243258216451" target="_blank" class="partner-logo-container">
        <img src="/images/logos-CA/blogTO.jpg" alt="blogTO" width="140">
      </a>
      <a href="https://twitter.com/LaineyGossip/status/1251206744228888581" target="_blank"
        class="partner-logo-container">
        <img src="/images/logos-CA/CTV eTalk.png" alt="CTV eTalk" width="140">
      </a>
      <a href="https://www.carehomeprofessional.com/tag/coronavirus/" target="_blank"
        class="partner-logo-container">
        <img src="/images/logo-chp.png" alt="Care Home Professional" width="140">
      </a>
    </div>
  </section>
  <section>
    <h3 class="page-subhead i18n" data-i18n="ftm-partners-subhead-canada">Collaborators - Canada</h3>
    <div class="partner-logos">
      <a href="http://thehomefront.ca/" target="_blank" class="partner-logo-container">
        <img src="/images/logos-CA/The Home Front.jpg" alt="The Home Front" width="140">
      </a>
      <a href="https://www.theppedrive.com" target="_blank" class="partner-logo-container">
        <img src="/images/logos-CA/thePPEDrive.png" alt="thePPEDrive" width="140">
      </a>
      <a href="https://ppeforhcpsto.ca/" target="_blank" class="partner-logo-container">
        <img src="/images/logos-CA/PPE for HCPs Toronto Team.png" alt="PPE for HCPs Toronto Team" width="140">
      </a>
      <a href="http://frontlinemasks.ca/" target="_blank" class="partner-logo-container">
        <img src="/images/logos-CA/Mobilizing Masks for Health Care Providers.png"
          alt="Mobilizing Masks for Health Care Providers" width="140">
      </a>
      <a href="https://www.fb.com/groups/VolunteersinOntarioFindingPPEforHospitals/" target="_blank"
        class="partner-logo-container">
        <img src="/images/logos-CA/Volunteers in Ontario Finding PPE  for Hospitals.jpg"
          alt="Volunteers in Ontario Finding PPE  for Hospitals.jpg" width="140">
      </a>
      <a href="https://www.donnezlaprotection.com/" target="_blank" class="partner-logo-container">
        <img src="/images/logos-CA/Donnez La Protection.png" alt="Donnez La Protection" width="140">
      </a>
      <a href="https://maskaherobc.ca/" target="_blank" class="partner-logo-container">
        <img src="/images/logos-CA/Mask A Hero BC.png" alt="Mask A Hero BC" width="140">
      </a>
      <a href="https://maskaheroontario.ca/" target="_blank" class="partner-logo-container">
        <img src="/images/logos-CA/Mask a Hero Ontario.png" alt="Mask a Hero Ontario" width="140">
      </a>
      <a href="https://shield-net.org/" target="_blank" class="partner-logo-container">
        <img src="/images/logos-CA/Shield Net.png" alt="Shield Net" width="140">
      </a>
      <a href="http://www.covid19central.ca/" target="_blank" class="partner-logo-container">
        <img src="/images/logos-CA/COVID-19 Central.png" alt="COVID-19 Central" width="140">
      </a>
      <a href="http://covid19resources.ca/" target="_blank" class="partner-logo-container">
        <img src="/images/logos-CA/COVID-19 Resources Canada.svg" alt="COVID-19 Resources Canada" width="140">
      </a>
      <a href="https://jkwanmd.com/ppe" target="_blank" class="partner-logo-container">
        <img src="/images/logos-CA/Dr. Jennifer Kwan.png" alt="Dr. Jennifer Kwan" width="140">
      </a>
      <a href="https://www.nosm.ca/our-community/nosm-student-council/nosmsc-covid-19-relief/" target="_blank"
        class="partner-logo-container">
        <img src="/images/logos-CA/Northern Ontario PPEforHCP.png" alt="Northern Ontario #PPEforHCP" width="140">
      </a>
      <a href="http://www.trackppe.com/" target="_blank" class="partner-logo-container">
        <img src="/images/logos-CA/Track PPE.png" alt="Track PPE" width="140">
      </a>
      <a href="https://www.mask-match.com/" target="_blank" class="partner-logo-container">
        <img src="/images/logos-CA/Mask Match.png" alt="Mask Match" width="140">
      </a>
      <a href="https://www.redmooncosplaysolutions.com/" target="_blank" class="partner-logo-container">
        <img src="/images/logos-CA/Red Moon Cosplay.jpg" alt="Red Moon Cosplay" width="140">
      </a>
    </div>
  </section>
  <!-- If there's ones without logos, use this:
  <h4>Plus:</h5>
  <p>UBC COVID PPE Initiative</p>
  <p>Concord Pacific</p>
  -->
  <section>
    <h3 class="page-subhead i18n" data-i18n="ftm-partners-subhead-us">Collaborators - US</h3>
    <div class="partner-logos">
      <a href="https://www.nationofmakers.us" target="_blank" class="partner-logo-container">
        <img src="/images/logos-US/Nation of Makers.png" alt="Nation of Makers" width="140">
      </a>
      <a href="http://getusPPE.org" target="_blank" class="partner-logo-container">
        <img src="/images/logos-US/GetUsPPE.png" alt="GetUsPPE" width="140">
      </a>
      <a href="https://www.projectn95.org/" target="_blank" class="partner-logo-container">
        <img src="/images/logos-US/Project N95.svg" alt="Project N95" width="140">
      </a>
      <a href="https://www.ppecoalition.com/" target="_blank" class="partner-logo-container">
        <img src="/images/logos-US/National PPE Coalition.png" alt="National PPE Coalition" width="140">
      </a>
      <a href="https://shield-net.org/" target="_blank" class="partner-logo-container">
        <img src="/images/logos-US/Shield Net.png" alt="Shield Net" width="140">
      </a>
      <a href="https://www.mask-match.com/" target="_blank" class="partner-logo-container">
        <img src="/images/logos-US/Mask Match.png" alt="Mask Match" width="140">
      </a>
    </div>
  </section>
  <!-- If there's ones without logos, use this:
    <h4>Plus:</h5>
    <p>Hospitals and Medical Centers that Need PPE Supplies</p>
  -->

</main>
