<main class="content container py-5">
  <h1 class="page-title">Sponsors, Collaborators &amp; Media</h1>

  <p class="addTopMargin i18n" data-i18n="ftm-partners-info">We thank our sponsors and collaborators for 
    their support of our mission to connect health care workers with the PPE they need to stay safe. 
    To partner with us, reach out to email@email.com.</p>

  <h3 class="page-subhead">Global Sponsors</h3>
  <div class="partner-logos">
    <div class="partner-logo-container">
      <img src="images/google_logo.svg" alt="Google Logo" height="60">
    </div>
    <div class="partner-logo-container">
      <img src="images/smartling_logo.svg" alt="Smartling Logo" height="60">
    </div>
    <div class="partner-logo-container">
      <img src="images/slack_logo.svg" alt="Slack Logo" height="60">
    </div>
  </div>

  <h3 class="page-subhead">In Media</h3>
  <div class="partner-logos">
    <div class="partner-logo-container">
      <img src="images/pediatric_ethicscope_logo.png" alt="Pediatric Ethiscope Logo" height="60">
    </div>
  </div>

  <h3 class="page-subhead">Collaborators - Canada</h3>
  <div class="partner-logos">
    <div class="partner-logo-container">
      <img src="images/logos-CA/GetUsPPE.png" alt="#GetUsPPE" height="60">
    </div>
    <div class="partner-logo-container">
      <img src="images/logos-CA/blogTO.jpg" alt="blogTO" height="60">
    </div>
    <div class="partner-logo-container">
      <img src="images/logos-CA/COVID-19 Central.png" alt="COVID-19 Central" height="60">
    </div>
    <div class="partner-logo-container">
      <img src="images/logos-CA/COVID-19 Resources Canada.svg" alt="COVID-19 Resources Canada" height="60">
    </div>
    <div class="partner-logo-container">
      <img src="images/logos-CA/CTV eTalk.png" alt="CTV eTalk" height="60">
    </div>
    <div class="partner-logo-container">
      <img src="images/logos-CA/Donnez La Protection.png" alt="Donnez La Protection" height="60">
    </div>
    <div class="partner-logo-container">
      <img src="images/logos-CA/Dr. Jennifer Kwan.png" alt="Dr. Jennifer Kwan" height="60">
    </div>
    <div class="partner-logo-container">
      <img src="images/logos-CA/Mask A Hero BC.png" alt="Mask A Hero BC" height="60">
    </div>
    <div class="partner-logo-container">
      <img src="images/logos-CA/Mask a Hero Ontario.png" alt="Mask a Hero Ontario" height="60">
    </div>
    <div class="partner-logo-container">
      <img src="images/logos-CA/Mask Match.png" alt="Mask Match" height="60">
    </div>
    <div class="partner-logo-container">
      <img src="images/logos-CA/Mobilizing Masks for Health Care Providers.png" alt="Mobilizing Masks for Health Care Providers" height="60">
    </div>
    <div class="partner-logo-container">
      <img src="images/logos-CA/Northern Ontario PPEforHCP.png" alt="Northern Ontario #PPEforHCP" height="60">
    </div>
    <div class="partner-logo-container">
      <img src="images/logos-CA/PPE for HCPs Toronto Team.png" alt="PPE for HCPs Toronto Team" height="60">
    </div>
    <div class="partner-logo-container">
      <img src="images/logos-CA/Red Moon Cosplay.jpg" alt="Red Moon Cosplay" height="60">
    </div>
    <div class="partner-logo-container">
      <img src="images/logos-CA/Shield Net.png" alt="Shield Net" height="60">
    </div>
    <div class="partner-logo-container">
      <img src="images/logos-CA/The Home Front.jpg" alt="The Home Front" height="60">
    </div>
    <div class="partner-logo-container">
      <img src="images/logos-CA/Track PPE.png" alt="Track PPE" height="60">
    </div>
    <div class="partner-logo-container">
      <img src="images/logos-CA/thePPEDrive.png" alt="thePPEDrive" height="60">
    </div>
    <div class="partner-logo-container">
      <img src="images/logos-CA/Volunteers in Ontario Finding PPE  for Hospitals.jpg" alt="Volunteers in Ontario Finding PPE  for Hospitals.jpg" height="60">
    </div>

  </div>

  <h4>Plus:</h5>
  <p>UBC COVID PPE Initiative</p>
  <p>Concord Pacific</p>
  
  <h3 class="page-subhead">Collaborators - US</h3>
  <div class="partner-logos">
    <div class="partner-logo-container">
      <img src="images/logos-US/GetUsPPE.png" alt="GetUsPPE" height="60">
    </div>
    <div class="partner-logo-container">
      <img src="images/logos-US/Mask Match.png" alt="Mask Match" height="60">
    </div>
    <div class="partner-logo-container">
      <img src="images/logos-US/National PPE Coalition.png" alt="National PPE Coalition" height="60">
    </div>
    <div class="partner-logo-container">
      <img src="images/logos-US/Project N95.svg" alt="Project N95" height="60">
    </div>
    <div class="partner-logo-container">
      <img src="images/logos-US/Shield Net.png" alt="Shield Net" height="60">
    </div>
  </div>

  <h4>Plus:</h5>
  <p>Hospitals and Medical Centers that Need PPE Supplies</p>
  
</main>
