<main class="container my-5">
    <h1 class="mb-3">Privacy Policy</h1>

    <object data="https://docs.google.com/gview?embedded=true&url=https://findthemasks.com/files/ftm_privacy_policy.pdf" width="100%" height="1100px">
      <p>Oops! Your browser doesn't support PDFs!</p>
      <p><a href="https://findthemasks.com/files/ftm_privacy_policy.pdf">Download Instead</a></p>
    </object>
  </div>
</main>
