<div class="translated-content">
  {{> top_nav }}

  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <h1>
          Join Us!
        </h1>
        <p>
          #findthemasks is a global team of volunteers working to build a comprehensive database of PPE needs
          during the COVID-19 pandemic.
        </p>
        <p>
          Our global PPE needs map is interactive and constantly evolves in response to our recipients’ needs.
          We aim to add more usability around our data, and we welcome your thoughts and comments on how we can improve!
        </p>
        <p>
          Please join us on slack
          <a href="https://join.slack.com/t/findthemasks/shared_invite/zt-czdjjznp-p8~9oKuXtV_gn7wEBZGGoA" target="_blank">
            here
          </a>
        </p>
        <p>
          <strong>We need your help with:</strong>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2></h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>
          Outreach
        </h2>
        <p>
          Individual donors, makerspace communities, manufacturers and suppliers, other grassroots teams, and aid agencies
          all use our website to visualize how they can address PPE needs. Our outreach team connects with other groups
          so we can collaborate to close the gap between need and supply. They also develop new categories of healthcare
          providers and frontline workers that we can help support. If you are passionate about outreach, networking, a
          nd helping frontline workers gain visibility, join our outreach team!
        </p>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>
          Translations
        </h2>
        <p>
          As we move into new countries, we need people who speak the official language(s) to help us check our translations,
          both for the web page and submission form. We have a machine translation tool implemented, but as you can imagine,
          the translations are occasionally off ("gown" should not become "dress” in another language :) ).
          We need your help to check translations and better support our global community!
        </p>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>
          Internationalization
        </h2>
        <p>
          As we launch in new countries, we need help from local teams to tailor the mapping tool to every country.
          If you know a country (your country, perhaps!) that could use our tool, we would love your help to make it
          available to anyone in need.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>
          Engineering & Product
        </h2>
        <p>
          If you are a software engineer, QA engineer, UX/UI designer, product manager, data scientist, etc, we need your help:
        </p>
        <ul>
          <li>You can find our github <a href="https://github.com/findthemasks/findthemasks">here</a></li>
          <li>To setup your local dev environment, go here</li>
          <li>Grab an issue! If you have any questions, slack us on #dev</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>
          Social media
        </h2>
        <p>
          We need help staying connected and increasing our visibility through our social media platforms.
          Visibility helps new healthcare providers find us, and it helps our healthcare providers connect with
          more potential PPE contributors!
        </p>

        <p>
          If you’re interested, drop us a line at contact@findthemasks.com and let us know what you’d like to work on!
        </p>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>
          Data moderation
        </h2>
        <p>
          All incoming data is moderated by a wonderful team of humans who vet and standardize the information in every
          PPE request. We receive a large volume of submissions, and our volunteer team of moderators would love your
          help! We provide ongoing training and support for all new moderators.
        </p>
      </div>
    </div>
  </div>
</div>
