<main class="container mt-5">
  <div class="col-12">
    <h1 class="page-title">
      Join Us
    </h1>
  </div>
  <div class="col-12 col-lg-8">
    <section>
      <p>
        <strong>#findthemasks</strong> is a global team of volunteers working to build a comprehensive database of PPE needs during the
        COVID-19 pandemic.
      </p>
      <p>
        Our global PPE needs map is interactive and constantly evolves in response to our recipients’ needs. We aim to
        add more usability around our data, and we welcome your thoughts and comments on how we can improve!

      </p>
    </section>
    <section>
      <h4 class="mb-4">
        <span class="page-subhead">Can you help?</span>
        Our Immediate Volunteer Needs:
      </h4>
      <!-- NOTE: just add "d-none" to the class of these divs to hide them !-->
      <div class="volunteer-needs translation d-none">
        <p>
          <strong>translations</strong> - as we move into new countries, we need people who speak the official
          language(s) to help us check our translations, both for the web page and submission form. We have a machine
          translation tool implemented, but as you can imagine, the translations are occasionally off ("gown" should not
          become "dress” in another language :) ). We need your help to check translations and better support our global
          community!
        </p>
      </div>

      <div class="volunteer-needs tech">
        <p>
          <strong>engineering & development</strong> - if you are a software engineer, QA engineer, UX/UI designer,
          product manager, data scientist, etc, we need your help:
        </p>
        <ul>
          <li>You can find our github <a href="https://github.com/findthemasks/findthemasks" target="_blank">here.</a>
          </li>
          <li>To setup your local dev environment, go <a
              href="https://github.com/findthemasks/findthemasks/blob/master/getting_started.md"
              target="_blank">here</a></li>
          <li>Join us on Slack! The link is in our GitHub readme</li>
          <li>Grab an issue! If you have any questions, slack us on #dev</li>
        </ul>
      </div>

      <div class="volunteer-needs moderators d-none">
        <p>
          <strong>moderators</strong> - all incoming data is moderated by a wonderful team of humans who vet and
          standardize the information in every PPE request. We receive a large volume of submissions, and our volunteer
          team of moderators would love your help! We provide ongoing training and support for all new moderators.
        </p>
      </div>

      <div class="volunteer-needs internationalization">
        <p>
          <strong>internationalization</strong> - as we launch in new countries, we need help from local teams to tailor
          the mapping tool to every country. If you know a country (your country, perhaps!) that could use our tool, we
          would love your help to make it available to anyone in need.
        </p>
      </div>

      <div class="volunteer-needs outreach">
        <p>
          <strong>outreach</strong> - individual donors, makerspace communities, manufacturers and suppliers, other
          grassroots teams, and aid agencies all use our website to visualize how they can address PPE needs. Our
          outreach team connects with other groups so we can collaborate to close the gap between need and supply. They
          also develop new categories of healthcare providers and frontline workers that we can help support. If you are
          passionate about outreach, networking, and helping frontline workers gain visibility, join our outreach team!
        </p>
      </div>

      <div class="volunteer-needs social-media">
        <p>
          <strong>social media</strong> - we need help staying connected and increasing our visibility through our
          social media platforms. Visibility helps new healthcare providers find us, and it helps our healthcare
          providers connect with more potential PPE contributors!
        </p>
      </div>

      <p>
        None of this would be possible without our volunteer community. Come join our team! If you’re interested, drop
        us a line and let us know what you’d like to work on!
      </p>

      <a href="mailto:contact@findthemasks.com" class="btn btn-primary email-button" style="background: #EC416F;">
        Email Us
      </a>
    </section>
  </div>
</main>
