<div class="translated-content">
  {{> top_nav }}

  <div class="content-container">
    <div>
      <h2>
        Join #findthemasks
      </h2>
      <p>
        Thank you for your support! Please join our slack <a href="https://join.slack.com/t/findthemasks/shared_invite/zt-czdjjznp-p8~9oKuXtV_gn7wEBZGGoA" target="_blank">
        here</a>
      </p>
    </div>
    <p>
      <h3>Developers</h3>
      <li>
        You can find our github <a href="https://github.com/findthemasks/findthemasks" target="_blank">here</a>.
      </li>
      <li>
        To setup your local dev environment go <a href="https://github.com/findthemasks/findthemasks/blob/master/getting_started.md" target="_blank">here</a>
      </li>
      <li>
        Grab an issue and if you have any questions slack us on #dev
      </li>
    </p>
  </div>
</div>
