<main class="content container py-5">
  <h1 class="page-title i18n" data-i18n="ftm-about-us-title">About us</h1>
  <br />
  <h3 class="page-subhead i18n" data-i18n="ftm-about-us-what">What is #findthemasks?</h3>
  <p class="page-info i18n" data-i18n="ftm-about-us-what-details">
    #findthemasks is a global mapping tool and interactive directory for PPE needs.
    Our mission is to enable individuals, communities, makerspace networks, and
    large-scale manufacturers to engage and assist during the COVID-19 pandemic by
    providing our frontline healthcare and other essential workers with the personal
    protective equipment they need to protect themselves.
  </p>

  <h3 class="page-subhead i18n" data-i18n="ftm-about-us-who">Who is #findthemasks?</h3>
  <p class="page-info i18n" data-i18n="[html]ftm-about-us-who-details">
    This site was launched on <a href="https://twitter.com/arrkay/status/1240704610186092546">March 19th</a>
    by <a href="https://www.linkedin.com/in/rachelpopkin/">Rachel Popkin</a> and has been built and improved
    upon by many fantastic volunteers worldwide. <br /><br />
    The team is made up entirely of volunteers and includes physicians, scientists,
    physicists, epidemiologists, engineers from tech companies such as DropBox, Amazon, Google,
    and Imparity, and even professional data moderators based in the Philippines. Check out
    our developer contributors <a href="https://github.com/findthemasks/findthemasks/graphs/contributors">here</a>!
    <br /><br />We are happy to offer our skills and do what we can to help in this crisis!
  </p>

  <h3 class="page-subhead i18n" data-i18n="ftm-about-us-where">Where is #findthemasks?</h3>
  <p class="page-info" >
    <p class="i18n" data-i18n="ftm-about-us-where-details-1">We currently have PPE sites and support in the following countries:</p>
    <ul>
    <li>United States (<a href='https://docs.google.com/forms/d/13-Hl2fW16zMy1zRuXJSlCouWsw7toTygDe1FjNfcnIg/viewform'>EN</a>)</li>
    <li>Canada (<a href='https://docs.google.com/forms/d/1MRI9FEZIlCXjpi-ULarMPNLARFAtHONOJcSWDyA3iak/viewform'>EN</a>,
    <a href='https://docs.google.com/forms/d/1Epb0OeSgqvVRYj0gEgzuB9_ngUfpydt-URluxGHzvV8/viewform'>FR</a>)</li>
    <li>France (EN, <a href='https://docs.google.com/forms/d/1WCevDFBh-p0cryRKpfCt716BrwIYhoTIq6CscnaQCCY/viewform'>FR</a>)</li>
    <li>Switzerland (<a href='https://docs.google.com/forms/d/e/1FAIpQLSdeS0Pvd2u7njuhwt-EqaSAtXUmKUPsVA47XqjGP5U1NqX2rA/viewform'>EN</a>,
    <a href='https://docs.google.com/forms/d/1adXa1aB0-W0sFCS3m246QdAuoseisTB7zYUrHU3MljQ/viewform'>DE</a>,
    <a href='https://docs.google.com/forms/d/e/1FAIpQLSccTTMijFuFX_qimh9YMyHjInlsv7NITLfQ-LDj61aKVIV5hw/viewform'>FR</a>,
    <a href='https://docs.google.com/forms/d/e/1FAIpQLSf9zYPc1il7Tog-tiIniYrGytZyYIL4L2lrc51BHzFgZEQcTQ/viewform'>IT</a>)</li>
    <li>Austria (<a href='https://docs.google.com/forms/d/e/1FAIpQLSeUzUPg9KZAQbMRCYV4ZrOI2hJ3RJ0oqp73XIIBlZjC1shGSA/viewform'>DE</a>)</li>
    <li>United Kingdom (<a href='https://docs.google.com/forms/d/11u77lVmIAt-B0245uD09UXEFV7XNSJo4op_DhoS5kfY/viewform'>EN</a>)</li>
    <li>Germany (<a href='https://docs.google.com/forms/d/e/1FAIpQLSdB7fIY9N0OtWwUvb3kyi3R82EQGqT__7Dczhjp5u-749g_1Q/viewform'>DE</a>)</li>
    <li>Spain (<a href='https://docs.google.com/forms/d/e/1FAIpQLSeSfhRSGcSuxW02Ag8WtcWyrN8sNKmh14qd7UgkYXJrSEAGYg/viewform'>ES</a>)</li>
    <li>Italy (<a href='https://docs.google.com/forms/d/19HDfBSo4tOdV_gBWamCyR2MAogc5x24iG43WftiODGQ/viewform'>IT</a>)</li>
    <li>Portugal (<a href='https://docs.google.com/forms/d/1IAKdAdJVhkOuMBFWpoa5rp0l0HwUbzCxrt9vq8g8Evk/viewform'>PT</a>)</li>
    <li>Poland (<a href='https://docs.google.com/forms/d/1hnfMBqCkdLhM8FSQIiP6AaSxT9vz4NM2d8RXwyrAVZk/viewform'>PL</a>)</li>
    <li>India (<a href='https://docs.google.com/forms/d/1ctE1739x2S3STlL-1eNpnhlBWzLvgDNXrdeutzYCKvo/viewform'>EN</a>)</li>
    </ul>
    <p class="i18n" data-i18n="[html]ftm-about-us-where-details-2">See a missing country or language? Join our <a href='/volunteer'>translations team</a> or our
    <a href='/volunteer'></a>internationalization team</a> to help us expand #findthemasks to your community! </p>
  </p>


  <h3 class="page-subhead i18n" data-i18n="ftm-about-us-press">#findthemasks in the Press</h3>
  <p class="page-info i18n" data-i18n="[html]ftm-about-us-press-details">
    #findthemasks has been featured in the media on <a href='https://www.inverse.com/mind-body/find-the-masks-rachel-popkin'>Inverse</a>,
    <a href='https://www.health.com/condition/infectious-diseases/coronavirus/donate-ppe'>health.com</a>, and
    <a href='https://www.geekwire.com/2020/hospitals-run-low-protective-gear-tech-workers-quest-help-fill-shortage/'>GeekWire</a>,
    and listed as a resource in academic journals such as <a href='https://pediatricethicscope.org/covid19-resources/'>Pediatric Ethicscope</a>.
    <br/><br/>
    If you’re a member of the press or would like to feature #findthemasks, please reach out to us at contact@findthemasks.com.
    <br/><br/>
    If you’d like to partner with us and embed a #findthemasks PPE request map or site list on your webpage, follow the instructions
    <a href='https://github.com/findthemasks/findthemasks/wiki/Embedding-%23findthemasks-donation-sites-page'>here</a>.
  </p>

  <h2>
    Privacy Policy
  </h2>
  <p>
    You can view our privacy policy <a href="../privacy-policy">here</a>
  </p>

  <h3 class="page-subhead i18n" data-i18n="ftm-project-leads">Our leads are:</h3>
  <div>
    <a href="https://www.linkedin.com/in/albertjwongseattle/">Albert J. Wong</a> - backend, devops
  </div>
  <div>
    <a href="https://www.linkedin.com/in/grroche/">Graeme Roche</a> - frontend
  </div>
  <div>
    Susan Ashlock - mapping
  </div>
  <div>
    <a href="http://www.charliehagedorn.com/">Charlie Hagedorn</a> - data quality
  </div>
  <div>
    <a href="https://www.linkedin.com/in/catherinelchang">Catherine Chang</a> - data quality
  </div>

  <h3 class="mt-3 i18n" data-i18n="ftm-project-volunteers">Our volunteers include:</h3>
  <div>
    <a href="https://www.linkedin.com/in/c-tavis-post-0604609">C. Tavis Post</a>
    Jenn Popkin
  </div>
  <div>
    <a href="https://www.linkedin.com/in/shahronak06/">Ronak Shah</a>
  </div>
  <div>
    <a href="https://github.com/leee">E. Lee</a>
  </div>
  <div>Yau Wong</div>
  <div>
    <a href="https://www.instagram.com/sanfranciscotoddler/">Jamiee Roesch</a>
  </div>
  <div>
    Melanie Cohen
  </div>
  <div>
    Melissa Kerr
  </div>
  <div>
    <a href="https://twitter.com/sean_m_kelleher">Se&aacute;n Kelleher</a>
  </div>
  <div>
    <a href="https://github.com/cjimmy">Jimmy Chion</a>
  </div>
  <div>
    Michael Robin
  </div>
  <div>
    <a href="https://www.linkedin.com/in/krithin-sitaram">Krithin Sitaram</a>
  </div>
  <div>
    <a href="https://catchyour.com">Patrick Nelson</a>
  </div>
  <div>
    <a href="https://www.linkedin.com/in/kyle-spitznagel">Kyle Spitznagel</a>
  </div>
  <div>
    <a href="https://research.google/people/CaitlinSadowski/">Caitlin Sadowski</a>
  </div>
  <div>
    <a href="https://www.linkedin.com/in/nathanaelburt">Nathanael Burt</a>
  </div>
  <div>
    <a href="https://www.linkedin.com/in/saikatbhadra/">Saikat Bhadra</a>
  </div>
  <div class="i18n" data-i18n="ftm-anonymous-volunteers">and others who are anonymous</div>

  <h4 class="my-3 i18n" data-i18n="[html]ftm-developer-contributors">Our developer contributors are
    listed <a href="https://github.com/findthemasks/findthemasks/graphs/contributors">here</a>.</h4>

  <div class="i18n" data-i18n="[html]ftm-ack-data-sources">This site also includes data from <a
          href="https://tinyurl.com/hospitals-needing-ppe">https://tinyurl.com/hospitals-needing-ppe</a>,
    a project by:
  </div>
  <ul>
    <li>Ethan Garner</li>
    <li>Maryann Hulsman</li>
    <li>Melody Chang</li>
    <li>
      <span class="i18n" data-i18n="ftm-and">and</span> BurnersWithoutBorder
    </li>
  </ul>
</main>
