<main class="translated-content content container my-5">
  <div class="row flex-lg-row no-gutters">
    <div class="col-12">
      <h1 class="page-title i18n" data-i18n="ftm-about-us-title">About us</h1>
    </div>
    <div class="col-12 col-lg-7">
      <section>
        <h3 class="page-subhead i18n" data-i18n="ftm-about-us-what">What is #findthemasks?</h3>
        <p class="i18n" data-i18n="[html]ftm-about-us-what-details">
          <strong>#findthemasks is a global mapping tool and interactive directory for PPE needs.</strong> Our mission
          is to
          enable
          individuals, communities, makerspace networks, and large-scale manufacturers to engage and assist during the
          COVID-19 pandemic by providing our frontline healthcare and other essential workers with the personal
          protective equipment they need to protect themselves.
        </p>
      </section>
      <section>
        <h3 class="page-subhead i18n" data-i18n="ftm-about-us-who">Who is #findthemasks?</h3>
        <p class="i18n" data-i18n="[html]ftm-about-us-who-details">
          This site was launched on <a href="https://twitter.com/arrkay/status/1240704610186092546">March 19th</a>
          by <a href="https://www.linkedin.com/in/rachelpopkin/">Rachel Popkin</a> and has been built and improved
          upon by many fantastic volunteers worldwide. <br /><br />
          <strong>The team is made up entirely of volunteers</strong> and includes physicians, scientists, physicists,
          epidemiologists,
          engineers from tech companies such as DropBox, Amazon, Google, and AmperityImparity, and even professional
          data moderators based in the Philippines.<br /><br />
          Check out our developer contributors
          <a href="https://github.com/findthemasks/findthemasks/graphs/contributors">here</a>!
          <br />We are happy to offer our skills and do what we can to help in this crisis!
        </p>
      </section>
      <section>
        <h3 class="page-subhead i18n" data-i18n="ftm-about-us-can-i-help">Can I help #findthemasks?</h3>
        <p class="i18n" data-i18n="[html]ftm-about-us-can-i-help-details">
          Check out our <a href="/volunteer">Join Us</a> page for volunteer opportunities!
          <br /><br />
          You can also help by sharing & following #findthemasks on social media:
        </p>
        <div class="social-media-icons">
          <div class="social-media-icon" data-social-type="facebook">
            <a target="_blank" href="https://www.facebook.com/findthemasks">
              <div class="icon icon-facebook"></div>
            </a>
          </div>
          <div class="social-media-icon" data-social-type="instagram">
            <a target="_blank" href="https://www.instagram.com/findthemasks/">
              <div class="icon icon-instagram"></div>
            </a>
          </div>
          <div class="social-media-icon" data-social-type="twitter">
            <a class="twitter-share-button" target="_blank" href="">
              <div class="icon icon-twitter"></div>
            </a>
          </div>
          <div class="social-media-icon" data-social-type="reddit">
            <a target="_blank" href="https://www.reddit.com/search?q=findthemasks">
              <div class="icon icon-reddit"></div>
            </a>
          </div>
        </div>

      </section>
      <section>
        <h3 class="page-subhead i18n" data-i18n="ftm-about-us-where">Where is #findthemasks?</h3>
        <p class="i18n" data-i18n="ftm-about-us-where-details-1">We currently have PPE sites and support in the
          following
          countries:</p>
        <ul>
          <li>United States (<a
              href='https://docs.google.com/forms/d/13-Hl2fW16zMy1zRuXJSlCouWsw7toTygDe1FjNfcnIg/viewform'>EN</a>)</li>
          <li>Canada (<a
              href='https://docs.google.com/forms/d/1MRI9FEZIlCXjpi-ULarMPNLARFAtHONOJcSWDyA3iak/viewform'>EN</a>,
            <a href='https://docs.google.com/forms/d/1Epb0OeSgqvVRYj0gEgzuB9_ngUfpydt-URluxGHzvV8/viewform'>FR</a>)</li>
          <li>France (EN, <a
              href='https://docs.google.com/forms/d/1WCevDFBh-p0cryRKpfCt716BrwIYhoTIq6CscnaQCCY/viewform'>FR</a>)</li>
          <li>Switzerland (<a
              href='https://docs.google.com/forms/d/e/1FAIpQLSdeS0Pvd2u7njuhwt-EqaSAtXUmKUPsVA47XqjGP5U1NqX2rA/viewform'>EN</a>,
            <a href='https://docs.google.com/forms/d/1adXa1aB0-W0sFCS3m246QdAuoseisTB7zYUrHU3MljQ/viewform'>DE</a>,
            <a
              href='https://docs.google.com/forms/d/e/1FAIpQLSccTTMijFuFX_qimh9YMyHjInlsv7NITLfQ-LDj61aKVIV5hw/viewform'>FR</a>,
            <a
              href='https://docs.google.com/forms/d/e/1FAIpQLSf9zYPc1il7Tog-tiIniYrGytZyYIL4L2lrc51BHzFgZEQcTQ/viewform'>IT</a>)
          </li>
          <li>Austria (<a
              href='https://docs.google.com/forms/d/e/1FAIpQLSeUzUPg9KZAQbMRCYV4ZrOI2hJ3RJ0oqp73XIIBlZjC1shGSA/viewform'>DE</a>)
          </li>
          <li>United Kingdom (<a
              href='https://docs.google.com/forms/d/11u77lVmIAt-B0245uD09UXEFV7XNSJo4op_DhoS5kfY/viewform'>EN</a>)</li>
          <li>Germany (<a
              href='https://docs.google.com/forms/d/e/1FAIpQLSdB7fIY9N0OtWwUvb3kyi3R82EQGqT__7Dczhjp5u-749g_1Q/viewform'>DE</a>)
          </li>
          <li>Spain (<a
              href='https://docs.google.com/forms/d/e/1FAIpQLSeSfhRSGcSuxW02Ag8WtcWyrN8sNKmh14qd7UgkYXJrSEAGYg/viewform'>ES</a>)
          </li>
          <li>Italy (<a
              href='https://docs.google.com/forms/d/19HDfBSo4tOdV_gBWamCyR2MAogc5x24iG43WftiODGQ/viewform'>IT</a>)</li>
          <li>Portugal (<a
              href='https://docs.google.com/forms/d/1IAKdAdJVhkOuMBFWpoa5rp0l0HwUbzCxrt9vq8g8Evk/viewform'>PT</a>)</li>
          <li>Poland (<a
              href='https://docs.google.com/forms/d/1hnfMBqCkdLhM8FSQIiP6AaSxT9vz4NM2d8RXwyrAVZk/viewform'>PL</a>)</li>
          <li>India (<a
              href='https://docs.google.com/forms/d/1ctE1739x2S3STlL-1eNpnhlBWzLvgDNXrdeutzYCKvo/viewform'>EN</a>)</li>
        </ul>
        <p class="i18n" data-i18n="[html]ftm-about-us-where-details-2">See a missing country or language? Join our <a
            href='/volunteer'>translations team</a> or our
          <a href='/volunteer'></a>internationalization team</a> to help us expand #findthemasks to your community! </p>
      </section>
    </div>
    <div class="col-12 col-lg-4 offset-lg-1">
      <section>
        <h3 class="page-subhead i18n" data-i18n="ftm-project-leads">#findthemasks:</h3>
        <dl class="row volunteer-list">
          <dt class="col-3">Founder</dt>
          <dd class="col-9">
            <a href="https://www.linkedin.com/in/rachelpopkin/">Rachel Popkin</a>
          </dd>
          <dt class="col-3">CTO</dt>
          <dd class="col-9"><a href="https://www.linkedin.com/in/albertjwongseattle/">Albert J. Wong</a></dd>
          <dt class="col-3">Tech</dt>
          <dd class="col-9">
            <a href="https://www.linkedin.com/in/nathanaelburt">Nathanael Burt</a>,
            <a href="https://www.linkedin.com/in/saikatbhadra/">Saikat Bhadra</a>,
            <a href="http://sacredheadwaters.substack.com/">Nick Gottlieb</a>,
            Derek with 
            <a href="http://www.raindrift.com/">Ian Baker</a>,
            <a href="https://www.linkedin.com/in/vasudalal">Vasu Dalal</a>,
            <a href="https://www.linkedin.com/in/yuhong-wang-90492393">Yuhong Wang</a>,
            Sidharth Kakkar, Jferg, 
            <a href="combine.la">Stephen</a>
          </dd>
          <dt class="col-3">Data</dt>
          <dd class="col-9">
            <a href="https://www.linkedin.com/in/catherinelchang">Catherine Chang</a>,
            <a href="http://www.charliehagedorn.com/">Charlie Hagedorn</a>,
            with Marcus Collins, Susan Ashlock
          </dd>
          <dt class="col-3">PMs</dt>
          <dd class="col-9">
            <a href="https://www.linkedin.com/in/julia-cohen-99482262">Julia Cohen</a> & 
            <a href="https://twitter.com/LinderrScience">Linda Y</a>
          </dd>
          <dt class="col-3">UX/UI</dt>
          <dd class="col-9">
            <a href="https://twitter.com/tinabeans">Tina Ye</a>,
            <a href="https://www.linkedin.com/in/sumitsekhri/">Sumit</a>,
            <a href="http://pratapjayaram.com">Pratap Jayaram</a>,
            <a href="https://www.heatherquintal.com/">Heather Quintal</a>,
            <a href="http://alexakaminsky.com">Alexa Kaminsky</a>
          </dd>
          <dt class="col-3">Media & Comms</dt>
          <dd class="col-9">
            <a href="https://www.linkedin.com/in/amyhmwang/">Amy Wang</a>,
            <a href="https://www.linkedin.com/in/betty-j-wang">Betty Wang</a>,
            <a href="https://www.linkedin.com/mwlite/in/selena-chow">Selena Chow</a>,
            <a href="https://www.linkedin.com/in/georgie-kemp-725831112">Georgie Kemp</a>, 
            <a href="http://github.com/datjandra/">Don T</a>
          </dd>
          <dt class="col-3">Emeritus</dt>
          <dd class="col-9">Jimmy Chion, <a href="https://www.linkedin.com/in/grroche/">Graeme Roche</a>, Ewa,
            Susan C</dd>
        </dl>
      </section>
      <section>
        {{> (lookup . 'regionalSpotlightPartialPath') }}
      </section>
      <section>
        <strong class="i18n" data-i18n="ftm-about-us-translators">#findthemasks Translators</strong>
        <div class="row mt-2">
          <ul class="col-6 volunteer-list">
            <li>Loubna Benali</li>
            <li>
              <a href="https://www.linkedin.com/in/nathanaelburt">Nathanael Burt</a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/catherinelchang">Catherine Chang</a>
            </li>
            <li>Delaney Gaughan</li>
            <li>Eva Glomski</li>
            <li>
              <a href="https://www.linkedin.com/in/emilyhirao">Emily Hirao</a>
            </li>
            <li>Ilona Kamecki</li>
            <li>
              <a href="https://www.linkedin.com/in/jennypliu/">Jenny Liu</a>
            </li>
            <li>JayC Mtz</li>
          </ul>
          <ul class="col-6 volunteer-list">
            <li>
              <a href="https://www.linkedin.com/in/damiagarciapriu/">Damia Garcia i Priu</a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/dominik-pogorzelski-0841a38/">Dominik Pogorzelski</a>
            </li>
            <li>Ewa Przemieniecki</li>
            <li>Szymon Przemieniecki</li>
            <li>
              <a href="http://www.ibdm.univ-mrs.fr/equipe/mechanisms-of-gene-regulation-by-transcription-factors/">Andy Saurin</a>
            </li>
            <li>Claudia Shima</li>
            <li>Yoshi Takeda</li>
            <li>
              <a href="https://www.linkedin.com/in/daliyu/">Dali Yu</a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/albertjwongseattle/">Albert J. Wong</a>
            </li>
          </ul>
        </div> 
      </section>
    </div>
  </div>
</main>
