<main class="content container py-5">
  <h1>#findthemasks</h1>

  <p class="addTopMargin i18n" data-i18n="[html]ftm-site-launch-info">This site was launched on <a
          href="https://twitter.com/arrkay/status/1240704610186092546">March 19th</a> by <a
          href="https://www.linkedin.com/in/rachelpopkin/">Rachel Popkin</a> and has been improved
    by many fantastic volunteers. Many of us are tech workers in Seattle. We are advised by a group
    of doctors and nurses around the country.</p>

  <p>
    If you'd like to join the team, click <a href="../volunteer" >here</a>
  </p>
  <p>
    If you have any questions or concerns, please email us at <a href="mailto:contact@findthemasks.com">contact@findthemasks.com</a>.
  </p>

  <h2>
    Privacy Policy
  </h2>
  <p>
    You can view our privacy policy <a href="../privacy-policy">here</a>
  </p>

  <h3 class="i18n" data-i18n="ftm-project-leads">Our leads are:</h3>
  <div>
    <a href="https://www.linkedin.com/in/albertjwongseattle/">Albert J. Wong</a> - backend, devops
  </div>
  <div>
    <a href="https://www.linkedin.com/in/grroche/">Graeme Roche</a> - frontend
  </div>
  <div>
    Susan Ashlock - mapping
  </div>
  <div>
    <a href="http://www.charliehagedorn.com/">Charlie Hagedorn</a> - data quality
  </div>
  <div>
    <a href="https://www.linkedin.com/in/catherinelchang">Catherine Chang</a> - data quality
  </div>

  <h3 class="mt-3 i18n" data-i18n="ftm-project-volunteers">Our volunteers include:</h3>
  <div>
    <a href="https://www.linkedin.com/in/c-tavis-post-0604609">C. Tavis Post</a>
    Jenn Popkin
  </div>
  <div>
    <a href="https://www.linkedin.com/in/shahronak06/">Ronak Shah</a>
  </div>
  <div>
    <a href="https://github.com/leee">E. Lee</a>
  </div>
  <div>Yau Wong</div>
  <div>
    <a href="https://www.instagram.com/sanfranciscotoddler/">Jamiee Roesch</a>
  </div>
  <div>
    Melanie Cohen
  </div>
  <div>
    Melissa Kerr
  </div>
  <div>
    <a href="https://twitter.com/sean_m_kelleher">Se&aacute;n Kelleher</a>
  </div>
  <div>
    <a href="https://github.com/cjimmy">Jimmy Chion</a>
  </div>
  <div>
    Michael Robin
  </div>
  <div>
    <a href="https://www.linkedin.com/in/krithin-sitaram">Krithin Sitaram</a>
  </div>
  <div>
    <a href="https://catchyour.com">Patrick Nelson</a>
  </div>
  <div>
    <a href="https://www.linkedin.com/in/kyle-spitznagel">Kyle Spitznagel</a>
  </div>
  <div>
    <a href="https://research.google/people/CaitlinSadowski/">Caitlin Sadowski</a>
  </div>
  <div>
    <a href="https://www.linkedin.com/in/nathanaelburt">Nathanael Burt</a>
  </div>
  <div>
    <a href="https://www.linkedin.com/in/saikatbhadra/">Saikat Bhadra</a>
  </div>
  <div class="i18n" data-i18n="ftm-anonymous-volunteers">and others who are anonymous</div>

  <h4 class="my-3 i18n" data-i18n="[html]ftm-developer-contributors">Our developer contributors are
    listed <a href="https://github.com/findthemasks/findthemasks/graphs/contributors">here</a>.</h4>

  <div class="i18n" data-i18n="[html]ftm-ack-data-sources">This site also includes data from <a
          href="https://tinyurl.com/hospitals-needing-ppe">https://tinyurl.com/hospitals-needing-ppe</a>,
    a project by:
  </div>
  <ul>
    <li>Ethan Garner</li>
    <li>Maryann Hulsman</li>
    <li>Melody Chang</li>
    <li>
      <span class="i18n" data-i18n="ftm-and">and</span> BurnersWithoutBorder
    </li>
  </ul>
</main>
