<h4 class="page-subhead i18n" data-i18n="ftm-regional-spotlight-us-header">Regional Spotlight: #findthemasks USA</h4>
<strong>Data Moderators for FindTheMasks-US</strong>
<div class="row mt-2">
  <ul class="col-6 volunteer-list">
    <li>Cathleya Alzona</li>
    <li>Chelsea Bartram</li>
    <li>Liam Bolling</li>
    <li>Zorayda Cariaso</li>
    <li>Logan Cho</li>
    <li>Susan Crayne</li>
    <li>Jessica Chubak</li>
    <li>Lionel Dela Paz</li>
    <li>Delaney Gaughan</li>
    <li>Elizabeth Mandala</li>
    <li>Michelle Faeldog</li>
    <li>John Lee</li>
    <li>Connie Liou</li>
    <li>John Milner</li>
    <li>Sean Nelson</li>
    <li>Karri Parola</li>
    <li>Nicholas Pitaro</li>
    <li>Fran Querdasi</li>
    <li>Stefanie Van Rafelghem</li>
    <li>Tiny Ramirez</li>
    <li>Rehana Rodrigues</li>
  </ul>
  <ul class="col-6 volunteer-list">
    <li>Sunny Fenton</li>
    <li>Mark Ferris</li>
    <li>Gaurav Gupta</li>
    <li>Rebecca Hubbard</li>
    <li>Jaclyn</li>
    <li>Jess Hardie</li>
    <li>Emily Hirao</li>
    <li>Brandon Iritani</li>
    <li>Annie Katherine</li>
    <li>Sudipta Kar</li>
    <li>Alexis Lainoff</li>
    <li>Stefan Rodriguez</li>
    <li>Andy Saurin</li>
    <li>Stanley Semilla</li>
    <li>Jenellee Sencil</li>
    <li>Daron Sharps</li>
    <li>Graham Tyler</li>
    <li>Gregory Wallace</li>
    <li>Paige Wartko</li>
    <li>Clint Wiseman</li>
    <li>Belinda Zhou</li>
  </ul>
</div>
