<h4 class="page-subhead i18n" data-i18n="ftm-regional-spotlight-europe-header">
  Regional Spotlight: #findthemasks Europe
</h4>
<p class="i18n" data-i18n="[html]ftm-regional-spotlight-europe-text">
  #findthemasks Europe now includes volunteers from across the region. The team is grateful for the help they have
  received from the #findthemasks team and its volunteers worldwide.
  <br /><br />
  See our partner organizations <a href="/partners">here</a>.
</p>
<div class="regional-team">
  <strong>#findthemasks UK Team</strong>
  <dl class="row volunteer-list">
    <dt class="col-6">Lead</dt>
    <dd class="col-6"><a href="https://www.linkedin.com/in/drewhuntdh1/">Drew H</a></dd>
    <dt class="col-6">Outreach</dt>
    <dd class="col-6"><a href="https://www.linkedin.com/in/ajbly/">Adam Bly</a> with
      <a href="https://www.linkedin.com/in/samuelbarrington/">Samuel Barrington</a> 
    </dd>
    <dt class="col-6">Media Lead</dt>
    <dd class="col-6"><a href="https://www.linkedin.com/in/georgie-kemp-725831112/">Georgie Kemp</a></dd>
  </dl>
</div>
<div class="regional-team">
  <strong>#findthemasks France Team</strong>
  <dl class="row volunteer-list">
    <dt class="col-6">Lead</dt>
    <dd class="col-6">Jenny</dd>
    <dt class="col-6">Senior Data Moderators</dt>
    <dd class="col-6"><a href="https://protegeons-nos-soignants.fr/">Andy Saurin</a> with Theo, Elena, Delaney, Emily,
      JC
      & <a href="https://protegeons-nos-soignants.fr/">Pierre-Xavier Maziani</a>
    </dd>
  </dl>
</div>
<div class="regional-team">
  <strong>#findthemasks Germany</strong>
  <dl class="row volunteer-list">
    <dt class="col-6">Lead</dt>
    <dd class="col-6">Eva with Steffen</dd>
  </dl>
</div>
<div class="regional-team">
  <strong>#findthemasks Italy</strong>
  <dl class="row volunteer-list">
    <dt class="col-6">Lead</dt>
    <dd class="col-6">Davide</dd>
  </dl>
</div>
<div class="regional-team">
  <strong>#findthemasks Poland</strong>
  <dl class="row volunteer-list">
    <dt class="col-6">Lead</dt>
    <dd class="col-6">Simon</dd>
  </dl>
</div>
<div class="regional-team">
  <strong>#findthemasks Portugal</strong>
  <dl class="row volunteer-list">
    <dt class="col-6">Lead</dt>
    <dd class="col-6">Claudia with Patricia</dd>
  </dl>
</div>
<div class="regional-team">
  <strong>#findthemasks Spain</strong>
  <dl class="row volunteer-list">
    <dt class="col-6">Lead</dt>
    <dd class="col-6">Loubna
      with Dominik, Damia, Delaney & Emily
    </dd>
  </dl>
</div>
<div class="regional-team">
  <strong>#findthemasks Switzerland</strong>
  <dl class="row volunteer-list">
    <dt class="col-6">Lead</dt>
    <dd class="col-6">Matthieu</dd>
  </dl>
</div>
