html {
  height: 100%;
  width: 100%;
}

body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.65;
  background-color: #ffffff;
  color: #222;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-rendering: optimizeLegibility;
}

.content-container {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 60%;
}

.translated-content {
  display: none; /* hidden until translations load */
  padding-bottom: 70px; /* pad against bottom nav */
}

.heading-container {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
  background-color: royalblue;
  color: white;
}

.heading-container a {
  color: white;
}

.logo {
  height: 120px;
  margin-bottom: 15px;
}

h1 {
  font-weight: 800;
}

h2 {
  font-weight: 800;
  color: #333;
  margin-top: 30px;
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 20px;
  text-transform: capitalize;
}

hr {margin-top: 1.7rem;}

.footer {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 90px;
  background-color: #eee;
}

.member-of {
  font-style: italic;
  font-size: 13px;
  margin-bottom: 10px;

}

.subhead {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  width: 55%;
  padding: 10px 20px;
  border-radius: 2px;
}
.subhead-left {
  width: calc(40% + 40px);
  font-weight: light;
  letter-spacing: 3px;
  text-align: right;
  text-transform: uppercase;
  font-size: 0.9rem;
  line-height: 1.8rem;
  margin-right: 20px;
  padding-right: 20px;
  border-right: 2px solid #ccc;
  padding-top: 25px;
  padding-bottom: 25px;
}
.subhead-right{
  width: calc(60% + 40px);
  text-align: left;
  font-size: 1rem;
}

.question {
  font-weight: bold;
}

.need-ppe {
  margin: 40px 0px;
  border: 1px solid #ccc;
  padding: 30px 50px;
  text-align: center;
  background: #fafafa;
}

.need-ppe h2 {
  margin-top: 0;
}

.ppe-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.ppe-example {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ppe-example img {
  height: 200px;
  width: auto;
}

#masks-img {
  height: 210px;
}

#goggle-img {
  height: 140px;
}

#faceshield-img {
  height: 185px;
}

.ppe-example-caption {
  color: #444;
  font-size: 12px;
  letter-spacing: 1.1px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 0.9rem;
  margin-bottom: 0.375rem;
}

.social-link {
  white-space: nowrap;
}

h2.state {
  font-size: 24px;
  display: flex;
  margin: 0;
  min-width: 90px;
  font-weight: 800;
  font-family: 'Roboto';
  border: 1px solid #eee;
  height: 90px;
  width: 90px;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: white;
  letter-spacing: 3px;
  margin-right: 15px;
  padding: 0 15px;
  word-break: break-all;
}

.all-cities-wrap {
  width: calc(100% - 115px);
}

.city {
  line-height: 1.2;
  padding-bottom: 10px;
  width: 100%;
}

h3.city {
  font-size: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  font-weight: 300;
  margin: 0px;
  text-transform: uppercase;
  color: #666;
  letter-spacing: 3px;
  margin-left: 105px;
}

.city h4 {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 5px;
  margin: 0px;
}

.city p {
  margin: 0px;
  font-size: 0.9rem;

}

.location {
  padding-bottom: 20px;
  overflow-wrap: break-word;
  margin-left: 105px;
}

.location label {
  color: #444;
  font-size: 12px;
  letter-spacing: 1.1px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 0.9rem;
  margin-bottom: 0.375rem;
}

.donation-sites h1 {
  margin-bottom: -10px;
}

.filters-list div {
  display: inline-block;
  margin-right: 3px;
  margin-bottom: 3px;
}

.locations-list {
  padding: 0 30px 10px 30px;
  margin-top: 20px;
}

.filters-container {
  margin: 0 30px;
}

/* On the give page, filters and list take full width of their containers */
.give .filters-container {
  margin: 0;
}

.give .locations-list {
  padding: 0 0 10px 0;
}

.filters-list h4 {
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 20px;
}

.filters-list input {
  display: none;
}


.filters-list label {
  border: 1px #ccc solid;
  background: white;
  font-size: 18px;
  padding: 0.3rem 0.4rem;
  cursor: pointer;
  border-radius: 5px;
}


.filters-list label:hover {
  background-color:#7c9bf7;
  border-color: #7c9bf7;
  color: white;
}

.filters-list label.selected {
  background-color: royalblue;
  color: white;
  border-color: #c2d1ff;
}

.map-container {
  padding-top: 30px;
  padding-bottom: 5px;
}

#map {
  height: 400px;
  width: 100%;
}

#map .label {
  width: 105px;
  padding-top: 6px;
  padding-bottom: 2px;
  text-transform: uppercase;
  color: #999;
  font-size: 11px;
  font-weight: 400;
}

#map .value {
  font-weight: 400
}

#map-stats, #list-stats {
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  color: #333;
  margin-left: 10px;
}

.donation-map-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.donation-map-title h2 {
  display: inline;
  margin: 0;
  padding: 0;
}

.locations-loading {
  padding-top: 20px;
}

.load-spinner {
  width: 21px;
  height: 21px;
  animation: 5s load-spinner infinite linear;
  vertical-align: text-top;
}

@-webkit-keyframes load-spinner {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes load-spinner {
  100% {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@-ms-keyframes load-spinner {
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
}

.othercluster {
  opacity: 0.4;
}

/*********************
  * MAP SEARCH STYLES *
  *********************/

/* What actually varies with breakpoints */
.map-search-wrap {
  width: 100%;
  position: relative;
  margin-top: 20px;
  display: flex;
}

.map-search-wrap:first-child {
  margin-top: 0;
}

.search-icon {
  top: 1; /* ... see height below... */
  left: 10px;
  width: 17px;
  height: 2.3rem; /* synchronized w/ input field for vertical centering, being an SVG it should not warp */
  position: absolute;
  pointer-events: none; /* user clicks should fall through to input field instead */
  opacity: 0.7;
}

#map-search {
  border: 1px solid #ccc;
  height: 2.3rem;
}

#map-search {
  outline-color: #000;
}

#map-search {
  line-height: 2.3rem;
  width: 100%;
  margin-bottom: 5px;
  /* Set to match the filter labels for consistency. */
  padding: 0.4rem 0.8rem;
  padding-left: 35px; /* compensate for search button */
  border-radius: 3px;
  outline: none;
}

.search-input {
  width: 100%;
  position: relative;
  display: flex;
  width:100%;
  margin: 0px 15px 0px 20px;
}

.search-controls {
  display: flex;
  padding-top: 7px;
}

.search-control-separator {
  padding: 0px 8px;
  color: #ccc;
  font-size: 14px;
}

.map-action-link {
  white-space: nowrap;
  font-size: 14px;
}

.map-action-link:hover {
  text-decoration: none;
}

.map-action-link img {
  padding-right: 5px;
  width: 21px;
  height: 21px;
}

.nav-drop-shadow {
  background-color: white;
  box-shadow: 0 -2px 15px rgba(0,0,0,0.09);
}
.nav-link {
  font-size: 0.9rem !important;
}
.navbar-nav {
  flex-direction: row;
}

.navbar-nav .nav-item {
  margin-left: 20px;
}
.dropdown-menu {
  position: absolute !important;
}

/* Mobile first: Desktop breakpoint overrides below */

@media (max-width: 1200px) {
  .search-input {
    margin: 0px;
    margin-right: 15px;
  }
  .map-search-wrap {
    padding-top: 4px;
  }
}

@media (max-width: 576px) {
  .map-search-wrap {
    display: block;
  }
  .search-controls {
    justify-content: center;
    padding-top: 5px;
  }
  h3.city {
    margin-left: 10px;
  }
  .location {
    margin-left: 10px;
  }
  h2.state {
    position: relative;
    width: auto;
    height: auto;
  }
}

/*************************
  * END MAP SEARCH STYLES *
  *************************/

@media screen and (max-width: 768px) {
  .content-container {
    margin-left: 15px;
    margin-right: 15px;
    width: auto;
  }

  .logo {
    height: 100px;
  }

  .subhead {
    width: 100%;
    padding: 0;
    flex-direction: column;
  }
  .subhead-left {
    border: 0;
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
    text-align: center;
  }
  .subhead-right {
    font-size: 0.9rem;
    width: 80%;
    text-align: center;
  }

  .locations-list {
    padding-left: 15px;
    padding-right: 15px;
  }
  .state h2 {
    font-size: 22px;
    letter-spacing: 1px;
    min-width: 70px;
    height: 70px;

  }
  .footer {
    padding-left: 20px;
    padding-right: 20px;
  }

  .nav-link {
    font-size: 0.7rem;
  }

  .need-ppe {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  #masks-img {
    height: 160px;
  }

  #goggle-img {
    height: 115px;
  }

  #faceshield-img {
    height: 150px;
  }
  .ppe-example-caption {
    margin-top: 4px;
    margin-bottom: 10px;
  }
}

