html {
  height: 100%;
  width: 100%;
}

body {
  background: #fff;
  box-sizing: border-box;
  color: #222;
  font: normal normal normal 1rem/1.65 'Roboto', 'Helvetica', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

a {
  color: #4169E1;
}

.linkified {
  word-break: break-word;
}

.text-pink {
  color: #EC416F;
}

.bg-dark-blue {
  background: #3E54A1;
}

.translated-content {
  display: none; /* hidden until translations load */
}

.heading-container a {
  color: white;
}

.search-filter-container {
  position: sticky;
  top: 58px;
  z-index: 1;
  background: white;
}

.logo {
  height: 120px;
  margin-bottom: 15px;
}

.fb-logo {
  height: 1em;
  margin-bottom: 4px;
}

.social-media-icons {
  margin-top: 1rem;
}

.social-media-icons:after {
  clear: both;
  content: "";
  display: table;
}

.social-media-icon {
  float:left;
  margin-right: 10px;
  width: 24px;
  height:24px;
  margin-top: 0px;
}

.social-media-icons .icon {
  width: 24px;
  height: 24px;
}

.member-of {
  font-style: italic;
  font-size: 13px;
  margin-bottom: 10px;

}

.subhead {
  margin: 20px auto 40px auto;
  display: flex;
  align-items: center;
  text-align: center;
  width: 55%;
  padding: 10px 20px;
  border-radius: 2px;
}

.subhead-left {
  border-right: 2px solid #ccc;
  font-size: 0.9rem;
  font-weight: light;
  letter-spacing: 3px;
  line-height: 1.8rem;
  text-align: right;
  text-transform: uppercase;
  width: calc(40% + 40px);
}

.subhead-right{
  font-size: 1rem;
  text-align: left;
  width: calc(60% + 40px);
}

.question {
  font-weight: bold;
}

.need-ppe {
  background: #fafafa;
  border: 1px solid #ccc;
  margin: 40px 0px;
  padding: 30px 50px;
  text-align: center;
}

.need-ppe h2 {
  margin-top: 0;
}

.ppe-example {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ppe-example img {
  height: 200px;
  width: auto;
}

#masks-img {
  height: 210px;
}

#goggle-img {
  height: 140px;
}

#faceshield-img {
  height: 185px;
}

.ppe-example-caption {
  color: #444;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1.1px;
  margin: 0.9rem 0 0.375rem 0;
  text-transform: uppercase;
}

h2.state {
  background: #eee;
  color: #000;
  font: 800 24px 'Roboto';
  letter-spacing: 3px;
  margin: 0;
  padding: 4px 15px;
  text-align: left;
}

h3.city {
  color: #666;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 3px;
  margin: 0 0 0 15px;
  padding: 20px 0;
  text-transform: uppercase;
}

.locations-list-header {
  border-bottom: 1px solid #D4D4D4;
}

.location {
  border-bottom: 1px solid #D4D4D4;
}

.donation-sites h1 {
  margin-bottom: -10px;
}

.filters-list div {
  display: inline-block;
  margin: 0 3px 3px 0;
}

.filters-list h4 {
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin: 25px 0 20px 0;
}

.filters-list input {
  display: none;
}

.filters-list label {
  background: white;
  border-radius: 5px;
  border: 1px #ccc solid;
  cursor: pointer;
  font-size: 18px;
  min-width: 2.4em;
  padding: 0.3rem;
  text-align: center;
}

.filters-list label:hover {
  background:#7c9bf7;
  border-color: #7c9bf7;
  color: white;
}

.filters-list label.selected {
  background: royalblue;
  border-color: #c2d1ff;
  color: white;
}

.map-container {
  position: relative;
  height: calc(100vh - 58px);
  width: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

#map .label {
  color: #999;
  font-size: 11px;
  font-weight: 400;
  padding: 6px 0 2px 0;
  text-transform: uppercase;
}

#map .value {
  font-weight: 400
}
#map-stats {
  color: #333;
  font-size: 22px;
  font-weight: 300;
  margin-left: 10px;
  padding-top: 1px;
  text-align: center;
}

.donation-map-title {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}
.donation-map-title h2 {
  display: inline;
  margin: 0;
  padding: 0;
}

.locations-loading {
  padding-top: 20px;
}

.load-spinner {
  animation: 5s load-spinner infinite linear;
  height: 21px;
  vertical-align: text-top;
  width: 21px;
}

@-webkit-keyframes load-spinner {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes load-spinner {
  100% {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@-ms-keyframes load-spinner {
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
}

.secondarycluster {
  opacity: 0.4;
}

/*********************
  * MAP SEARCH STYLES *
  *********************/

.search-icon-wrap {
  width: 1.8rem;
}

#map-search.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.search-icon {
  height: 2.3rem; /* synchronized w/ input field for vertical centering, being an SVG it should not warp */
  left: 10px;
  opacity: 0.7;
  pointer-events: none; /* user clicks should fall through to input field instead */
  position: absolute;
  top: 1; /* ... see height below... */
  width: 17px;
}

.map-action-link {
  white-space: nowrap;
  font-size: 14px;
}

.map-action-link:hover {
  text-decoration: none;
}

.map-action-link img {
  padding-right: 5px;
  width: 21px;
  height: 21px;
}

.navbar.ftm {
  background: #4169E1;
}

.navbar.ftm .nav-link,
.navbar.ftm .btn {
  font-size: 0.9rem;
}

.navbar.ftm .navbar-brand {
  flex-direction: row;
  font-size: inherit;
  font-weight: 500;
  padding: 0;
  text-transform: uppercase;
}

.navbar.ftm .navbar-brand .icon {
  height: 42px;
  width: 42px;
  padding-right: 8px;
}

.navbar.ftm .navbar-brand .text {
  display: inline-block;
  padding: .5rem 0;
}

.navbar.ftm .navbar-nav .nav-item {
  margin: 0 .2rem;
}

.navbar.ftm .navbar-nav .nav-link {
  padding: .5rem;
}

.navbar.ftm .nav-item.show {
  background: #3E54A1;
}

.navbar.ftm .dropdown-menu,
.navbar.ftm .dropdown-item {
  background: #3E54A1;
  color: #fff;
}

.navbar.ftm .dropdown-item:hover {
  background: #4169E1;
}

.navbar.ftm .btn-addplace {
  color: #fff;
  background: #EC416F;
  white-space: nowrap;
}

.navbar.ftm .btn-addplace .icon {
  display: inline-block;
  vertical-align: middle;
  height: 25px;
  width: 25px;
  padding-right: 8px;
}

#countries-dropdown .icon,
#countries-dropdown-selector .icon {
  display: inline-block;
  vertical-align: middle;
  height: 24px;
  width: 24px;
  margin-right: 8px;
}

/* Mobile first: Desktop breakpoint overrides below */

@media (min-width: 1200px) {
  .map-container {
    position: fixed;
    height: calc(100vh - 58px);
    width: 50%;
  }
}

@media (max-width: 1200px) {
  .search-input {
    margin: 0px;
    margin-right: 15px;
  }
  .map-search-wrap {
    padding-top: 4px;
  }
}

@media (max-width: 576px) {
  .map-search-wrap {
    display: block;
  }
  .search-controls {
    justify-content: center;
    padding-top: 5px;
  }
  h2.state {
    padding: 4px 10px;
  }
  h3.city,
  .location {
    margin-left: 10px;
  }
}

/*************************
  * END MAP SEARCH STYLES *
  *************************/

@media screen and (max-width: 768px) {
  .content-container {
    margin-left: 15px;
    margin-right: 15px;
    width: auto;
  }

  .logo {
    height: 100px;
  }

  .subhead {
    width: 100%;
    padding: 0;
    flex-direction: column;
  }
  .subhead-left {
    border: 0;
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
    text-align: center;
  }
  .subhead-right {
    font-size: 0.9rem;
    width: 80%;
    text-align: center;
  }

  .nav-link {
    font-size: 0.7rem;
  }

  .need-ppe {
    margin-left: 0;
    margin-right: 0;
  }

  #masks-img {
    height: 160px;
  }

  #goggle-img {
    height: 115px;
  }

  #faceshield-img {
    height: 150px;
  }
  .ppe-example-caption {
    margin-top: 4px;
    margin-bottom: 10px;
  }
}

