<dt class="btn-link" id="ftm-large-donation-question">
  <h5 class="i18n" data-i18n="ftm-large-donation-question">
    I have a large amount of PPE (500+). Where should I send it?
  </h5>
</dt>
<dd class="collapse">
  <p class="i18n" data-i18n="[html]ftm-india-large-donations">
    ftm-india-large-donations
  </p>
</dd>
