<div class="translated-content">
  <div class="container my-5">
    <div class="row">
      <div class="col">
        <div class="maketitle">
          <center>
            <h1 class="text-center">FindTheMasks-US Data Update</h1>
          </center>
          <div class="date">
            <center><span>May 14, 2020</span></center>
          </div>
          <center>
            <div class="author"><span>
	FindTheMasks Team (<a href="mailto:data@findthemasks.com">data@findthemasks.com)</a></span></div>
            <br />
            <b>C.&nbsp;Alzona</b>,
            S.&nbsp;Ashlock,
            <b>C.&nbsp;Bartram</b>,
            I.&nbsp;Baker,
            S.&nbsp;Bhadra,
            <b>L.&nbsp;Bolling</b>,
            N.&nbsp;Burt,
            <b>Z.&nbsp;Cariaso</b>,
            <b>C.&nbsp;Chang</b>,
            J.&nbsp;Chion,
            <b>L.&nbsp;Cho</b>,
            M.&nbsp;Cohen,
            <b>M.&nbsp;Collins</b>,
            <b>S.&nbsp;Crayne</b>,
            <b>J.&nbsp;Chubak</b>,
            V.&nbsp;Dalal,
            <b>L.&nbsp;Dela Paz</b>,
            <b>J.&nbsp;Detwiler</b>,
            V.&nbsp;Dzhabarov,
            <b>D.&nbsp;Gaughan</b>,
            <b>E.&nbsp;Mandala</b>,
            <b>M.&nbsp;Faeldog</b>,
            <b>S.&nbsp;Fenton</b>,
            <b>M.&nbsp;Ferris</b>,
            <b>G.&nbsp;Gupta</b>,
            <b>C.&nbsp;Hagedorn*</b>,
            <b>R.&nbsp;Hubbard</b>,
            <b>Jaclyn</b>,
            <b>J.&nbsp;Hardie</b>,
            <b>E.&nbsp;Hirao</b>,
            <b>B.&nbsp;Iritani</b>,
            P.&nbsp;Jayaram,
            <b>A.&nbsp;Katherine</b>,
            <b>S.&nbsp;Kar</b>,
            S.&nbsp;Kelleher,
            B.&nbsp;Kriss,
            <b>A.&nbsp;Lainoff</b>,
            E.&nbsp;Lee,
            <b>J.&nbsp;Lee</b>,
            <b>C.&nbsp;Liou</b>,
            <b>J.&nbsp;Milner</b>,
            P.&nbsp;Nelson,
            <b>S.&nbsp;Nelson</b>,
            J.&nbsp;Noordhoek,
            <b>N.&nbsp;Orndorff</b>,
            <b>K.&nbsp;Parola </b>,
            <b>N.&nbsp;Pitaro</b>,
            J.&nbsp;Popkin,
            R.&nbsp;Popkin,
            E.&nbsp;Przemieniecki,
            <b>F.&nbsp;Querdasi</b>,
            <b>S.&nbsp;Van Rafelghem</b>,
            <b>T.&nbsp;Ramirez</b>,
            M.&nbsp;Robin,
            G.&nbsp;Roche,
            <b>R.&nbsp;Rodrigues</b>,
            <b>S.&nbsp;Rodriguez</b>,
            J.&nbsp;Roesch,
            C.&nbsp;Sadowski,
            <b>A.&nbsp;Saurin</b>,
            M.&nbsp;Scharlock,
            S.&nbsp;Sekhri,
            <b>S.&nbsp;Semilla</b>,
            <b>J.&nbsp;Sencil</b>,
            R.&nbsp;Shah,
            <b>D.&nbsp;Sharps</b>,
            E.&nbsp;Shaw,
            K.&nbsp;Sitaram,
            I.&nbsp;Smith,
            K.&nbsp;Spitznagel,
            <b>M.&nbsp;Turner</b>,
            D.&nbsp;Tuzlak,
            <b>G.&nbsp;Tyler</b>,
            <b>G.&nbsp;Wallace</b>,
            <b>P.&nbsp;Wartko</b>,
            <b>C.&nbsp;Wiseman</b>,
            A.&nbsp;Wong,
            Y.&nbsp;Wong,
            <b>L.&nbsp;Yang</b>,
            T.&nbsp;Ye,
            and
            <b>B.&nbsp;Zhou</b>

            <br>
            (bold: data-moderators or analysis specialists, *: corresponding author)
          </center>
          <br>
          <p>Since March 19, FindTheMasks.com has aggregated and curated drop-off
            information for Personal Protective Equipment (PPE) for healthcare workers across
            the United States and around the world (
            <a href="https://findthemasks.ca">Canada</a>, the
            <a href="https://findthemasks.com/fr/">EU</a>,
            <a href="https://findthemasks.com/ch/">Switzerland</a>,
            and <a href="https://findthemasks.com/in/">India</a>).
            This work is in partnership with many groups, including <a
                    href="https://www.projectn95.org/">ProjectN95</a> and
            <a href="https://getusppe.org/">GetUsPPE.org</a>.
            Our mission is to provide up-to-date maps of PPE need. Our curated
            US data are freely available in <a href=http://findthemasks.com/data-us.json>json</a>
            and <a href=https://findthemasks.com/data-us.csv>CSV</a> formats, with similar files for
            other countries.
          </p>
          <p> This update of our <a href=https://findthemasks.com/blog/2020-04-21-Data-Insights>April 21 analysis</a> is made possible by our
            ongoing email-refresh campaign -- our recipients are updating us with their current 
            needs. Please refer to the April 21 analysis for extra context and information about
            our dataset and analysis methods. This update is intended for health-care
            professionals, PPE makers, PPE donors, and the curious public.
          </p>
          <p>
            In addition, a publication, <a href="https://www.thelancet.com/journals/lancet/article/PIIS0140-6736(20)31038-2/fulltext">Personal protective equipment needs in the USA during the COVID-19 pandemic</a>
	    based on joint work between GetUsPPE.org and FindTheMasks appears today in The Lancet. We are very grateful for the hard work by both teams
            necessary to bring US PPE crisis-information into the medical literature.

          <br>

          <h2>State of the Dataset</h2>
          <p>
            In a nutshell, the PPE needs expressed by those submitting donation requests to
            FindTheMasks are still critical. The types of PPE they need are largely unchanged. We have begun to receive some removal     
            requests from our recipients, indicating that some healthcare institutions are getting
            improved access to PPE supplies. However, we have received fewer than            
            one hundred removal requests and we list 3,890 healthcare institutions         
            at the time of writing. We continue to receive requests from new and       
            existing recipients indicating that they are completely out of PPE or facing dire
            shortages. </p>

          <br>
	  <h3>Refresh-email campaign gives insight into today's needs</h3>
          <p> 
           As seen in the plots below and discussed in our April 21 article, an April 8 loss of
           traffic flow hampered our ability to track the needs of new recipients over
           time. To keep our map up to date, so that donated PPE goes         
           where it is needed most, we began emailing all of our recipients asking         
           them for updated information. As this email campaign entered full swing in      
           early May, we again have enough statistical power to share meaningful information.</p>

          <br>
	  <h3>Changes from our <a href=https://findthemasks.com/blog/2020-04-21-Data-Insights>April 21 analysis</a></h3>
          <p>
           <b>Wider bins:</b> As our dataset now spans almost seven weeks, we no longer plot
           daily numbers. By binning our data into three-day intervals, we still measure
           America's changing PPE needs while reducing the fluctuations from bin to bin. This
           improves our statistical reliability and allows us to plot data during times with
           lower submission rates.
          </p>
	  <p>
            <b>More-stringent statistical cutoff:</b> We increased our threshold for plotting a
            point to a minimum of 21 entries in a bin. As we now have the luxury of a larger
            dataset, we can demand improved statistical reliability.
          </p>
          <p>
            <b>2-sigma errorbars:</b> To help those reading our plots avoid reading too-deeply
            into statistical fluctuations, we now plot with more-conservative two-sigma     
            uncertainties.
          </p>

          <br>
          <h2>PPE Needs</h2>
            As the rate with which we receive PPE requests varies widely over time, we again
            plot the percentage of our PPE-requesters who request each common type of PPE.  
            The United States' PPE needs have changed only slightly since our first article: N95 masks,
            surgical masks, and gowns again lead the pack.
          <p>
          <hr class="figure">
          <div class="figure">

            <p class="noindent">
              <img src="/images/needs20200514.png"
                   alt="Plot of PPE needs for N95 Masks, Surgical Masks, Homemade Masks, Gloves, Gowns, Hand Sanitizer
                        Disinfecting Wipes, Thermometers, Disposable Booties, Face Shields, and Maker-made Face Shields">
              <br />
            <div class="caption"
            ><span class="id">Figure&#x00A0;1:  </span><span
                    class="content">
            The types of PPE requested by FTM recipients are largely unchanged
            over time. We see only modest trends in these data at best. Demand for homemade and maker-made
            items remains strong. These data reflect the needs of thousands of institutions. Even a 10% need implies that
            hundreds of institutions need that type of PPE.
	    </span></div>
          </div>
          <hr class="endfigure">

	<br>

	 <h2>Shortages</h2>
          <p>
           As before, we plot the "Most significant shortages" reported by our recipients. We
           again see that the types of PPE needed are largely unchanged. Gowns remain an   
           important shortage that may be underappreciated outside of the healthcare industry.

          </p>

          <hr class="figure">
          <div class="figure">

            <p class="noindent"><img src="/images/shortages20200514.png"
                                     alt="Plots of significant-shortage data for Masks, N95s, Gowns, Gloves, Sanitizer, Wipes, Thermometers, Shields, and Goggles.
                                       Trends are largely flat. Thermometers may grow slightly over time. Mask, N95s, and Gown shortages remain strong."
            >
              <br />
            <div class="caption"
            ><span class="id">Figure&#x00A0;2:  </span><span
                    class="content">
             Most-significant shortages are largely unchanged over time. Masks and
             N95 masks lead the pack but gowns remain an important shortage. 
	    </span></div><!--tex4ht:label?: x1-1002r2 -->


            <p class="indent"></div>
          <hr class="endfigure">

          <br>
	  <h2>Summary</h2>
          <p>
           Those who have viewed these plots carefully may notice some weak hints of
           optimism in the data. We share that view, especially as we see the rate of      
           removal-requests rising slowly, but caution that many of these weak 
           trends have little or no statistical significance. The nation's PPE need is still
           tremendous. Healthcare workers across the nation are working without masks,     
           re-using masks for multiple shifts, working without gowns, and are often unable to
           provide masks to their patients. This is a problem that requires immediate and continued attention from government,   
           industry, makers, community, and individual donors and suppliers. Every         
           piece of PPE that reaches a healthcare worker or patient helps, in aggregate, to sustain a        
           life.
          </p>
          <br>
          <h2>How can you help?</h2>
          <br>
          <h3>If you have PPE to donate:</h3>
          <p>Visit <a href="https://findthemasks.com/">https://findthemasks.com/</a>
            and find an institution that can use your help! Our
            map and helpful filters can help you find an institution in need quickly. If you
            have more than a few hundred items of PPE, please contact our partners at
            <a href="https://www.projectn95.org/">projectN95.org</a> and
            <a href="https://getusppe.org/">getusppe.org</a>.
          </p>
          <br>
          <h3>If you need PPE:</h3>
          <p>
            Please fill in our <a
                  href="https://findthemasks.com/us/donation-form?locale=en-US">form</a>!
            We will add you to the map as quickly as we can. Institutions
            should register with our partners at <a href="https://www.projectn95.org/">projectN95.org</a>
            and <a href="https://getusppe.org/">getusppe.org</a>, too.
          </p>
          <br>
          <h3>If you make PPE:</h3>
          <p> FindTheMasks is now mapping Makers at <a href="https://findthemakers.com/">FindTheMakers.com</a>
              Please head to that map to add your makerspace, sewing collective, or maker organization.
              If you make and sell PPE at an industrial scale, please register with <a href=https://www.projectn95.org/>Project N95</a>.
          </p>
          <br>
          <h3>Share #findthemasks:</h3>
          <p>
            Share this post, or findthemasks.com, using #findthemasks! If you donate PPE or
            receive PPE from a findthemasks donor, please post to social media with the
            hashtag #findthemasksdonation so that we can better understand how donations are
            flowing to recipients.
          </p>

          <div class="social-media-icons">
            <div class="social-media-icon" data-social-type="facebook">
              <a class="fb-xfbml-parse-ignore"
                 onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.findthemasks.com%2F&amp;src=sdkpreparse','popup', 'width=600,height=800');return false;"
                 href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.findthemasks.com%2F&amp;src=sdkpreparse">
                <div class="icon icon-facebook"></div>
              </a>
            </div>
            <div class="social-media-icon" data-social-type="instagram">
              <a target="_blank" href="https://www.instagram.com/findthemasks/">
                <div class="icon icon-instagram"></div>
              </a>
            </div>
            <div class="social-media-icon" data-social-type="twitter">
              <a class="twitter-share-button" target="_blank" href="">
                <div class="icon icon-twitter"></div>
              </a>
            </div>
            <div class="social-media-icon" data-social-type="reddit">
              <a target="_blank"
                 href="https://www.reddit.com/search?q=findthemasks">
                <div class="icon icon-reddit"></div>
              </a>
            </div>
          </div>

          <br>

          <p>
            Thank you so much for your support. If you have PPE, there are thousands of
            institutions that need it. Right now.
          </p>
          <br>
          <h2>Support</h2>
          <p>
            We are very grateful for pro-level support from Smartling, Google Maps, Slack, Jotform, Airtable, SmartyStreets, and MailChimp. 
          </p>
          <p> We could not have done any of this work without volunteer support from a
            <a href="https://findthemasks.com/whoweare.html">team of
              80+ volunteers</a> who have contributed time and lost a lot of sleep to make
            FindTheMasks a reality.
          </p>


          <br>
          <p>
            Our hearts are with those on the front lines. There are thousands more
            volunteers like us across the nation and around the world doing our very best to help you.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
