<div class="question i18n" data-i18n="ftm-us-can-want-to-mail-question">Want to mail your masks?</div>
  <p class="i18n" data-i18n="[html]ftm-us-can-want-to-mail-link">Our partners at <a target='_blank' rel='noreferrer noopener'
    href='https://www.mask-match.com'>https://www.mask-match.com</a> can help.</p>
