<h4 class="page-subhead i18n" data-i18n="ftm-regional-spotlight-pl-header">
  Regional Spotlight: #findthemasks Poland
</h4>
<p class="i18n" data-i18n="[html]ftm-regional-spotlight-pl-text">
  #findthemasks Poland is now looking for new members to <a href="/volunteer">join us</a>.
  The team is grateful for the help they have received from the #findthemasks team and its volunteers worldwide.
  <br /><br />
  See our partner organizations <a href="/partners">here</a>.
</p>
<div class="regional-team">
  <strong>#findthemasks Poland</strong>
  <dl class="row volunteer-list">
    <dt class="col-6 i18n" data-i18n="ftm-about-us-lead-label">Lead</dt>
    <dd class="col-6">Simon</dd>
  </dl>
</div>