<h4 class="page-subhead i18n" data-i18n="ftm-regional-spotlight-de-header">
  Regional Spotlight: #findthemasks Germany
</h4>
<p class="i18n" data-i18n="[html]ftm-regional-spotlight-de-text">
  #findthemasks Germany now includes volunteers from across the region. The team is grateful for the help they have received from the #findthemasks team and its volunteers worldwide.
  <br /><br />
  See our partner organizations <a href="/partners"></a>here</a>.
</p>
<div class="regional-team">
  <strong>#findthemasks Germany</strong>
  <dl class="row volunteer-list">
    <dt class="col-6 i18n" data-i18n="ftm-about-us-lead-label">Lead</dt>
    <dd class="col-6">Eva with Steffen</dd>
  </dl>
</div>
