<h4 class="page-subhead i18n" data-i18n="ftm-regional-spotlight-it-header">
  Regional Spotlight: #findthemasks Italy
</h4>
<p class="i18n" data-i18n="[html]ftm-regional-spotlight-it-text">
  #findthemasks Italy is now looking for new members to join us. 
  The team is grateful for the help they have received from the #findthemasks team and its volunteers worldwide.
  <br /><br />
  See our partner organizations <a href="/partners">here</a>.
</p>
<div class="regional-team">
  <strong>#findthemasks Italy</strong>
  <dl class="row volunteer-list">
    <dt class="col-6 i18n" data-i18n="ftm-about-us-lead-label">Lead</dt>
    <dd class="col-6">Davide</dd>
  </dl>
</div>