<p class="i18n" data-i18n="[html]ftm-canada-contact-info">

<p>
    <span class="i18n" data-i18n="[html]ftm-canada-made-with-love"></span>
    (<a href="javascript:;" onclick="window.location='whoweare.html'+window.location.search;" class="end i18n"
        data-i18n="ftm-who-we-are">who we are</a>)
</p>
