<dt class="btn-link">
  <h5 class="i18n" data-i18n="ftm-large-donation-question">I have a large amount of PPE (500+). Where should I send it?
  </h5>
</dt>
<dd class="collapse">
  <p class="i18n" data-i18n="[html]ftm-canada-large-donations">
    Please visit the province-specific
    (<a
      href="https://www2.gov.bc.ca/gov/content/safety/emergency-preparedness-response-recovery/covid-19-provincial-support/supply-products-services"
      target="_blank" rel="noreferrer noopener">British Columbia</a>,
    <a href="https://www.ontario.ca/page/how-your-organization-can-help-fight-coronavirus" target="_blank"
      rel="noreferrer noopener">Ontario</a>,
    <a href="https://www2.snb.ca/content/snb/en/services-to-government/procurement.html" target="_blank"
      rel="noreferrer noopener">New Brunswick</a>) if you have large donations, or the national efforts (<a
      href="https://www.canada.ca/en/services/business/maintaingrowimprovebusiness/manufacturers-needed.html"
      target="_blank" rel="noreferrer noopener">Federal call for manufacturers</a>, <a
      href="https://buyandsell.gc.ca/calling-all-suppliers-help-canada-combat-covid-19" target="_blank"
      rel="noreferrer noopener">Federal call for suppliers</a>) if you are a manufacturer or supplier.
  </p>
</dd>
