<div class="question i18n" data-i18n="[html]ftm-large-donation-question">Need logistical help or
  compensation to donate 500+ items of PPE?
</div>
<p class="i18n" data-i18n="[html]ftm-canada-large-donations">
  Please visit the province-specific (<a href="https://www2.gov.bc.ca/gov/content/safety/emergency-preparedness-response-recovery/covid-19-provincial-support/supply-products-services" target="_blank" rel="noreferrer noopener">British Columbia</a>, <a href="https://www.ontario.ca/page/how-your-organization-can-help-fight-coronavirus" target="_blank" rel="noreferrer noopener">Ontario</a>) if you have large donations, or the national efforts (<a href="https://www.canada.ca/en/services/business/maintaingrowimprovebusiness/manufacturers-needed.html" target="_blank" rel="noreferrer noopener">Federal call for manufacturers</a>, <a href="https://buyandsell.gc.ca/calling-all-suppliers-help-canada-combat-covid-19" target="_blank" rel="noreferrer noopener">Federal call for suppliers</a>) if you are a manufacturer or supplier.
</p>

<div class="question i18n" data-i18n="ftm-cant-find-donation-site-question">Can't find a donation
  site near you?
</div>
<p class="i18n" data-i18n="[html]ftm-canada-no-donation-sites-near-me">
  Visit <a target='_blank' rel='noreferrer noopener' href='https://getusppe.org/give'>getusppe.org</a> to let them know what you have available.
</p>
