<dl class="faq-question">
  <dt>
    <h3 class="i18n" data-i18n="ftm-us-can-want-to-mail-question">Can I mail in masks?</h3>
  </dt>
  <dd>
    <p class="i18n" data-i18n="[html]ftm-us-can-want-to-mail-link">Our partners at <a target='_blank' rel='noreferrer noopener'
                                                                                      href='https://www.mask-match.com'>Mask Match</a> can help.</p>
  </dd>
</dl>
