<h4 class="page-subhead i18n" data-i18n="ftm-regional-spotlight-canada-header">
  Regional Spotlight: #findthemasks Canada
</h4>
<p class="i18n" data-i18n="[html]ftm-regional-spotlight-canada-text">
  #findthemasks Canada was launched on March 29th, and now includes volunteers from across the country. The team is
  grateful for the help they have received from the #findthemasks team and its volunteers worldwide.<br /><br />
  See our Canadian partner organizations <a href="/ca/partners">here</a>.
</p>
<strong>#findthemasks Canada</strong>
<dl class="row volunteer-list">
  <dt class="col-4">Lead</dt>
  <dd class="col-8">
    <a href="https://twitter.com/LinderrScience">Linda Y</a>
  </dd>
  <dt class="col-4">Tech</dt>
  <dd class="col-8">
    <a href="https://sacredheadwaters.substack.com">Nick Gottlieb</a> & 
    <a href="https://www.linkedin.com/in/vlad-dzhabarov/">Vlad Dzhabarov</a>
  </dd>
  <dt class="col-4">UX/UI</dt>
  <dd class="col-8">
    <a href="https://www.linkedin.com/in/sumitsekhri/">Sumit</a>
  </dd>
  <dt class="col-4">Outreach</dt>
  <dd class="col-8">
    <a href="https://www.linkedin.com/in/jane-fallis-cooper-131182129/">Jane Cooper</a>, 
    <a href="https://www.linkedin.com/in/phoebe-tham-56b71229/">Phoebe Tham</a>, 
  </dd>
  <dt class="col-4">Media</dt>
  <dd class="col-8">
    <a href="https://www.linkedin.com/in/amyhmwang/">Amy Wang</a>, 
    <a href="https://www.linkedin.com/in/betty-j-wang">Betty Wang</a>,
    <a href="https://www.linkedin.com/mwlite/in/selena-chow">Selena Chow</a>
  </dd>
  <dt class="col-4">Senior Data Moderators</dt>
  <dd class="col-8"><a href="https://bythenumbersapp.com/">Piam</a> & <a href="http://www.linkedin.com/in/daphnee-tuzlak-467574b6">Daphnee T</a></dd>
</dl>
