<h4 class="page-subhead i18n" data-i18n="ftm-regional-spotlight-canada-header">
  Regional Spotlight: #findthemasks Canada
</h4>
<p class="i18n" data-i18n="[html]ftm-regional-spotlight-canada-text">
  #findthemasks Canada was launched on March 29th, and now includes volunteers from across the country. The team is
  grateful for the help they have received from the #findthemasks team and its volunteers worldwide.<br /><br />
  See our Canadian partner organizations <a href="/ca/partners">here</a>.
</p>
<strong>#findthemasks Canada</strong>
<dl class="row volunteer-list">
  <dt class="col-4">Lead</dt>
  <dd class="col-8">Linda Y</dd>
  <dt class="col-4">Tech Leads</dt>
  <dd class="col-8">
    <a href="https://sacredheadwaters.substack.com">Nick Gottlieb</a> & Vlad D.
  </dd>
  <dt class="col-4">UX/UI</dt>
  <dd class="col-8">Sumit</dd>
  <dt class="col-4">Outreach Leads</dt>
  <dd class="col-8">Jane Cooper & Phoebe Tham</dd>
  <dt class="col-4">Media Leads</dt>
  <dd class="col-8">Amy Wang, Betty Wang, Selena Chow</dd>
  <dt class="col-4">Senior Data Moderators</dt>
  <dd class="col-8">Piam & <a href="http://www.linkedin.com/in/daphnee-tuzlak-467574b6">Daphnee T</a></dd>
</dl>
